
@model SmartContract.Infrastructure.Resources.ContractTypeVendor.TAllMasterVendorView
@inject SmartContract.Infrastructure.Interfaces.Authenticate.IUserService UserService
@using SmartContract.Utils

@{
    Layout = null;
    var paraCon = Model.ParameterCondition;
    var indata = Model.InfoSignerPartnersOfContract;
    var lookUp = Model.CTVendor.GetLookUp;
    String contractTypeId = Model.ContractStation.ContractTypeId;
    String contractSignType = Model.ContractStation.ContractSignType;
    PermissionRole roleCode = UserService.GetRoleRoleCode();
    string _ItemStatusCurr = Model.ContractStation.ItemStatusCurr;
    string _Station = Model.ContractStation.StationStatusCurr;
    var infoSignature = Model.InfoAttachFileSignature;
    var infoFileReal = Model.InfoAttachFileRealVersion;
}

<section>
    <div class="">
        <div class="col-md-12">
            <div class="form-group">
                <label class="lable_blue" for=""><i class="fa fa-th-list mr-1 mb-2"></i>รายละเอียดลงนาม(สปสช.)</label>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-sm-right">ผู้มีอำนาจลงนาม (สำนักงาน) :</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control-plaintext text-primary" readonly="readonly"
                               value="@(lookUp.NhsoSigner.FirstOrDefault(x=>x.EmpId == indata.NhsoSignerUser)?.SignerFullname ?? String.Empty)">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-sm-right">ตำแหน่ง :</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control-plaintext text-primary" readonly="readonly"
                               value="@(lookUp.NhsoSigner.FirstOrDefault(x=>x.EmpId == indata.NhsoSignerUser)?.SignerPosition ?? String.Empty)">
                    </div>
                </div>
                @if (contractSignType == SigningTypes.Paper)
                {
                    var _WitnessPSendmail = Model.MasterSendmail.Any(x => x.SendmailType == SendmailTypes.NhsoWitnessP);
                    var _AuthorityPSendmail = Model.MasterSendmail.Any(x => x.SendmailType == SendmailTypes.NhsoAuthorityP);

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm-right">ลายเซนต์ :</label>
                        <div class="col-sm-2">
                            @*@if (_WitnessPSendmail && _AuthorityPSendmail && _ItemStatusCurr == ContractStationStatusItemAll.S72BindingPaper)
                                {
                                    <input type="text" readonly class="form-control-plaintext text-success" value="ลงนามแล้ว">
                                }
                                else if (_WitnessPSendmail && _AuthorityPSendmail)
                                {
                                    <input type="text" readonly class="form-control-plaintext text-warning" value="รอลงนาม(ทางเมล์)">
                                }
                                else
                                {
                                    <input type="text" readonly class="form-control-plaintext text-warning" value="รอลงนาม">
                                }*@

                            @if (infoFileReal.SmctMasterFile.Any(x => x.FileType == "F3") && _Station == ContractStationStatusAll.S7Binding)
                            {
                                <input type="text" readonly class="form-control-plaintext text-success" value="ลงนามแล้ว">
                            }
                            else
                            {
                                <input type="text" readonly class="form-control-plaintext text-warning" value="รอลงนาม">
                            }

                        </div>
                        @*@if (GroupRoles.GroupRoleAdmin.Contains(roleCode))
                            {
                                //พยานลงนามแล้ว ผู้มีอำนาจยังไม่ได้ส่งเมล์ และพยานลงนามแล้ว
                                if (_WitnessPSendmail && !_AuthorityPSendmail && indata.NhsoWitnessStatus == WitnessStatusAll.W2WitnessComplete)
                                {
                                    <div class="col-sm-3">
                                        <a class="btn btn-success mr-2" onclick="showLoading()"
                                           asp-controller="ElectronicSignature"
                                           asp-action="SentMailSignature"
                                           asp-route-Style="@paraCon.Style"
                                           asp-route-IdSmctMaster="@paraCon.IdSmctMaster"
                                           asp-route-ContractTypeId="@(contractTypeId)C"
                                           asp-route-ContractTypeIdEn="@SecurityRepo.Encrypt(contractTypeId)"
                                           asp-route-Station="@paraCon.Station"
                                           asp-route-SigningType="@paraCon.SigningType"
                                           asp-route-SigningTypeEn="@paraCon.SigningTypeEn"
                                           asp-route-SendmailType="@SendmailTypes.NhsoAuthorityP"
                                           asp-route-BtnSubmit="3"
                                           asp-route-IsSentMail="true">
                                            <i class="fas fa-signature align-middle"></i> ยืนยันลงนามทางเมล์
                                        </a>
                                    </div>
                                }
                            }*@
                    </div>
                }
                @if (contractSignType == SigningTypes.Electronic)
                {
                    var _MasterSendmail = Model.MasterSendmail.Any(x => x.SendmailType == SendmailTypes.NhsoAuthority);

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm-right">ลายเซนต์ :</label>
                        <div class="col-sm-2">
                            @if (_Station != ContractStationStatusAll.S5Signing2 || _ItemStatusCurr == ContractStationStatusItemAll.S52WaitSigningVendor)
                            {
                                @if (infoSignature != null && infoSignature.SmctMasterFile != null)
                                {
                                    var file = infoSignature.SmctMasterFile.FirstOrDefault(x => x.FileType == "F7");
                                    if (file != null)
                                    {
                                        String pathFolder = $"Signature/T{contractTypeId}/{file.PathFolder}";
                                        <img src="@Url.Action("OpenIMG", "Files",new {PathFolder = pathFolder,FileFtp = file.FileFtp })" class="img-fluid" width="250" />
                                        <input type="text" readonly class="form-control-plaintext text-success" value="ลงนามแล้ว">
                                    }
                                }
                            }
                            else
                            {
                                if (Model.MasterSendmail == null || Model.MasterSendmail.Count == 0 || !_MasterSendmail)
                                {
                                    <img src="~/files/Signature/SignatureBlank.png" width="250" class="img-fluid" />
                                    <input type="text" readonly class="form-control-plaintext text-warning" value="รอลงนาม">
                                }
                                else
                                {
                                    <img src="~/files/Signature/SignatureBlank.png" width="250" class="img-fluid" />
                                    <input type="text" readonly class="form-control-plaintext text-warning" value="รอลงนาม(ทางเมล์)">
                                }
                            }
                        </div>
                        @if (GroupRoles.GroupRoleAdmin.Contains(roleCode))
                        {
                            if (indata.NhsoWitnessStatus == WitnessStatusAll.W2WitnessComplete)
                            {
                                if (_ItemStatusCurr == ContractStationStatusItemAll.S51WaitSigning2 || _ItemStatusCurr == ContractStationStatusItemAll.S53WaitSigningNhso)
                                {
                                    if (Model.MasterSendmail == null || Model.MasterSendmail.Count == 0 || !_MasterSendmail)
                                    {
                                        <div class="col-sm-3">
                                            <div class="col-sm-10">
                                                <a class="btn btn-success mr-2" onclick="showLoading()"
                                                   asp-controller="ElectronicSignature"
                                                   asp-action="SentMailSignature"
                                                   asp-route-Style="@paraCon.Style"
                                                   asp-route-IdSmctMaster="@paraCon.IdSmctMaster"
                                                   asp-route-ContractTypeId="@(contractTypeId)C"
                                                   asp-route-ContractTypeIdEn="@SecurityRepo.Encrypt(contractTypeId)"
                                                   asp-route-Station="@paraCon.Station"
                                                   asp-route-SigningType="@paraCon.SigningType"
                                                   asp-route-SigningTypeEn="@paraCon.SigningTypeEn"
                                                   asp-route-SendmailType="@SendmailTypes.NhsoAuthority"
                                                   asp-route-ItemStatusCurr="@_ItemStatusCurr"
                                                   asp-route-BtnSubmit="3"
                                                   asp-route-IsSentMail="true">
                                                    <i class="fas fa-signature align-middle"></i> ยืนยันลายเชนต์ทางเมล์
                                                </a>

                                            </div>
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                }
                <hr class="mt-2 mb-3 width_75">
                <br />
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-sm-right">พยาน (สำนักงาน) :</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control-plaintext text-primary" readonly="readonly"
                               value="@(lookUp.NhsoSigner.FirstOrDefault(x=>x.EmpId == indata.NhsoWitnessUser)?.SignerFullname ?? String.Empty)">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-sm-right">ตำแหน่ง :</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control-plaintext text-primary" readonly="readonly"
                               value="@(lookUp.NhsoSigner.FirstOrDefault(x=>x.EmpId == indata.NhsoWitnessUser)?.SignerPosition ?? String.Empty)">
                    </div>
                </div>
                @if (contractSignType == SigningTypes.Paper)
                {
                    var _MasterSendmail = Model.MasterSendmail.Any(x => x.SendmailType == SendmailTypes.NhsoWitnessP);

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm-right">ลายเซนต์ :</label>
                        <div class="col-sm-2">
                            @*@if (indata.NhsoWitnessStatus == WitnessStatusAll.W2WitnessComplete)
                                {
                                    <input type="text" readonly class="form-control-plaintext text-success" value="ลงนามแล้ว">
                                }
                                else
                                {
                                    if (!_MasterSendmail)
                                    {
                                        <input type="text" readonly class="form-control-plaintext text-warning" value="รอลงนาม">
                                    }
                                    else
                                    {
                                        <input type="text" readonly class="form-control-plaintext text-warning" value="รอลงนาม(ทางเมล์)">
                                    }
                                }*@
                            @if (infoFileReal.SmctMasterFile.Any(x => x.FileType == "F3") && _Station == ContractStationStatusAll.S7Binding)
                            {
                                <input type="text" readonly class="form-control-plaintext text-success" value="ลงนามแล้ว">
                            }
                            else
                            {
                                <input type="text" readonly class="form-control-plaintext text-warning" value="รอลงนาม">
                            }
                        </div>
                        @*@if (GroupRoles.GroupRoleAdmin.Contains(roleCode))
                            {
                                if (!_MasterSendmail && infoFileReal.SmctMasterFile.Any(x => x.FileType == "F3"))//แนบไฟล์ฉบับจริงแล้วและยังไม่ได้ส่งเมล์
                                {
                                    <div class="col-sm-3">
                                        <a class="btn btn-success mr-2" onclick="showLoading()"
                                           asp-controller="ElectronicSignature"
                                           asp-action="SentMailSignature"
                                           asp-route-Style="@paraCon.Style"
                                           asp-route-IdSmctMaster="@paraCon.IdSmctMaster"
                                           asp-route-ContractTypeId="@(contractTypeId)C"
                                           asp-route-ContractTypeIdEn="@SecurityRepo.Encrypt(contractTypeId)"
                                           asp-route-Station="@paraCon.Station"
                                           asp-route-SigningType="@paraCon.SigningType"
                                           asp-route-SigningTypeEn="@paraCon.SigningTypeEn"
                                           asp-route-SendmailType="@SendmailTypes.NhsoWitnessP"
                                           asp-route-BtnSubmit="4"
                                           asp-route-IsSentMail="true">
                                            <i class="fas fa-signature align-middle"></i> ยืนยันลงนามทางเมล์
                                        </a>
                                    </div>
                                }
                            }*@
                    </div>
                }
                @if (contractSignType == SigningTypes.Electronic)
                {
                    var _MasterSendmail = Model.MasterSendmail.Any(x => x.SendmailType == SendmailTypes.NhsoWitness);

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-sm-right">ลายเซนต์ :</label>
                        <div class="col-sm-2">
                            @if (indata.NhsoWitnessStatus == WitnessStatusAll.W2WitnessComplete)
                            {
                                @if (infoSignature != null && infoSignature.SmctMasterFile != null)
                                {
                                    var file = infoSignature.SmctMasterFile.FirstOrDefault(x => x.FileType == "F6");
                                    if (file != null)
                                    {
                                        String pathFolder = $"Signature/T{contractTypeId}/{file.PathFolder}";
                                        <img src="@Url.Action("OpenIMG", "Files",new {PathFolder = pathFolder,FileFtp = file.FileFtp })" class="img-fluid" width="250" />
                                        <input type="text" readonly class="form-control-plaintext text-success" value="ลงนามแล้ว">
                                    }
                                }
                            }
                            else
                            {
                                if (Model.MasterSendmail == null || Model.MasterSendmail.Count == 0 || !_MasterSendmail)
                                {
                                    <img src="~/files/Signature/SignatureBlank.png" width="250" class="img-fluid" />
                                    <input type="text" readonly class="form-control-plaintext text-warning" value="รอลงนาม">
                                }
                                else
                                {
                                    <img src="~/files/Signature/SignatureBlank.png" width="250" class="img-fluid" />
                                    <input type="text" readonly class="form-control-plaintext text-warning" value="รอลงนาม(ทางเมล์)">
                                }
                            }
                        </div>
                        @if (_ItemStatusCurr == ContractStationStatusItemAll.S53WaitSigningNhso && indata.NhsoWitnessStatus == WitnessStatusAll.W1WitnessUnsigned)
                        {
                            @if (GroupRoles.GroupRoleAdmin.Contains(roleCode))
                            {
                                if (Model.MasterSendmail == null || Model.MasterSendmail.Count == 0 || !_MasterSendmail)
                                {
                                    <div class="col-sm-3">
                                        <div class="col-sm-10">
                                            <a class="btn btn-success mr-2" onclick="showLoading()"
                                               asp-controller="ElectronicSignature"
                                               asp-action="SentMailSignature"
                                               asp-route-Style="@paraCon.Style"
                                               asp-route-IdSmctMaster="@paraCon.IdSmctMaster"
                                               asp-route-ContractTypeId="@(contractTypeId)C"
                                               asp-route-ContractTypeIdEn="@SecurityRepo.Encrypt(contractTypeId)"
                                               asp-route-Station="@paraCon.Station"
                                               asp-route-SigningType="@paraCon.SigningType"
                                               asp-route-SigningTypeEn="@paraCon.SigningTypeEn"
                                               asp-route-SendmailType="@SendmailTypes.NhsoWitness"
                                               asp-route-BtnSubmit="4"
                                               asp-route-IsSentMail="true">
                                                <i class="fas fa-signature align-middle"></i> ยืนยันลายเชนต์ทางเมล์
                                            </a>
                                        </div>
                                    </div>
                                }
                            }

                        }
                    </div>
                }
            </div>
        </div>
    </div>
</section>
