
@model SmartContract.Infrastructure.Resources.ContractTypeBureau.DashboardHomeMain
@using SmartContract.Infrastructure.Resources.Share
@using SmartContract.Utils

@{
    ViewData["Title"] = "Dashboard";
    var _ConutConType = Model.ContractTypeCount;


    //ข้อมูลนิติกรรมสัญญาผูกพัน
    int _ContractSuccessTotalCnt = 0;
    int _ContractSuccessT1TotalCnt = 0, _ContractSuccessT11Cnt = 0, _ContractSuccessT12Cnt = 0, _ContractSuccessT13Cnt = 0, _ContractSuccessT14Cnt = 0;
    int _ContractSuccessT2TotalCnt = 0, _ContractSuccessT21Cnt = 0, _ContractSuccessT22Cnt = 0, _ContractSuccessT23Cnt = 0, _ContractSuccessT24Cnt = 0;
    int _ContractSuccessT3TotalCnt = 0, _ContractSuccessT31Cnt = 0, _ContractSuccessT32Cnt = 0, _ContractSuccessT33Cnt = 0, _ContractSuccessT34Cnt = 0;
    int _ContractSuccessT4TotalCnt = 0, _ContractSuccessT41Cnt = 0, _ContractSuccessT42Cnt = 0, _ContractSuccessT43Cnt = 0, _ContractSuccessT44Cnt = 0;
    int _ContractSuccessT5TotalCnt = 0, _ContractSuccessT51Cnt = 0, _ContractSuccessT52Cnt = 0, _ContractSuccessT53Cnt = 0, _ContractSuccessT54Cnt = 0;
    if (Model.ContractStationSuccessDashboard != null && Model.ContractStationSuccessDashboard.Count > 0)
    {
        _ContractSuccessTotalCnt = Model.ContractStationSuccessDashboard.Sum(x => x.SumByKetCount());

        _ContractSuccessT11Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.EditCount1);
        _ContractSuccessT12Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.EditCount2);
        _ContractSuccessT13Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.EditCount3);
        _ContractSuccessT14Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.EditCount4);
        _ContractSuccessT1TotalCnt = _ContractSuccessT11Cnt + _ContractSuccessT12Cnt + _ContractSuccessT13Cnt + _ContractSuccessT14Cnt;

        _ContractSuccessT21Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.CancelCount1);
        _ContractSuccessT22Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.CancelCount2);
        _ContractSuccessT23Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.CancelCount3);
        _ContractSuccessT24Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.CancelCount4);
        _ContractSuccessT2TotalCnt = _ContractSuccessT21Cnt + _ContractSuccessT22Cnt + _ContractSuccessT23Cnt + _ContractSuccessT24Cnt;

        _ContractSuccessT31Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.ExpandCount1);
        _ContractSuccessT32Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.ExpandCount2);
        _ContractSuccessT33Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.ExpandCount3);
        _ContractSuccessT34Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.ExpandCount4);
        _ContractSuccessT3TotalCnt = _ContractSuccessT31Cnt + _ContractSuccessT32Cnt + _ContractSuccessT33Cnt + _ContractSuccessT34Cnt;

        _ContractSuccessT41Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.CloseProjectCount1);
        _ContractSuccessT42Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.CloseProjectCount2);
        _ContractSuccessT43Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.CloseProjectCount3);
        _ContractSuccessT44Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.CloseProjectCount4);
        _ContractSuccessT4TotalCnt = _ContractSuccessT41Cnt + _ContractSuccessT42Cnt + _ContractSuccessT43Cnt + _ContractSuccessT44Cnt;

        _ContractSuccessT51Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.TerminateCount1);
        _ContractSuccessT52Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.TerminateCount2);
        _ContractSuccessT53Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.TerminateCount3);
        _ContractSuccessT54Cnt = Model.ContractStationSuccessDashboard.Sum(x => x.TerminateCount4);
        _ContractSuccessT5TotalCnt = _ContractSuccessT51Cnt + _ContractSuccessT52Cnt + _ContractSuccessT53Cnt + _ContractSuccessT54Cnt;

    }

    //ข้อมูลหลักประกัน
    //NewCount=ออกใหม่,ReturnCount=ขอคืน,ClaimCount=ขอเคลม,ReNewCount=ขอเพิ่ม,Discount=ขอลด
    int _GuaranteeTotalCnt = 0;
    int _GuaranteeT1TotalCnt = 0, _GuaranteeT11Cnt = 0, _GuaranteeT12Cnt = 0, _GuaranteeT13Cnt = 0, _GuaranteeT14Cnt = 0;
    int _GuaranteeT2TotalCnt = 0, _GuaranteeT21Cnt = 0, _GuaranteeT22Cnt = 0, _GuaranteeT23Cnt = 0, _GuaranteeT24Cnt = 0;
    int _GuaranteeT3TotalCnt = 0, _GuaranteeT31Cnt = 0, _GuaranteeT32Cnt = 0, _GuaranteeT33Cnt = 0, _GuaranteeT34Cnt = 0;
    int _GuaranteeT4TotalCnt = 0, _GuaranteeT41Cnt = 0, _GuaranteeT42Cnt = 0, _GuaranteeT43Cnt = 0, _GuaranteeT44Cnt = 0;
    int _GuaranteeT5TotalCnt = 0, _GuaranteeT51Cnt = 0, _GuaranteeT52Cnt = 0, _GuaranteeT53Cnt = 0, _GuaranteeT54Cnt = 0;
    if (Model.GuaranteeLgReqStation != null && Model.GuaranteeLgReqStation.Count > 0)
    {
        _GuaranteeTotalCnt = Model.GuaranteeLgReqStation.Sum(x => x.SumByKetCount());

        _GuaranteeT11Cnt = Model.GuaranteeLgReqStation.Sum(x => x.NewCount1);
        _GuaranteeT12Cnt = Model.GuaranteeLgReqStation.Sum(x => x.NewCount2);
        _GuaranteeT13Cnt = Model.GuaranteeLgReqStation.Sum(x => x.NewCount3);
        _GuaranteeT14Cnt = Model.GuaranteeLgReqStation.Sum(x => x.NewCount4);
        _GuaranteeT1TotalCnt = _GuaranteeT11Cnt + _GuaranteeT12Cnt + _GuaranteeT13Cnt + _GuaranteeT14Cnt;

        _GuaranteeT21Cnt = Model.GuaranteeLgReqStation.Sum(x => x.ReturnCount1);
        _GuaranteeT22Cnt = Model.GuaranteeLgReqStation.Sum(x => x.ReturnCount2);
        _GuaranteeT23Cnt = Model.GuaranteeLgReqStation.Sum(x => x.ReturnCount3);
        _GuaranteeT24Cnt = Model.GuaranteeLgReqStation.Sum(x => x.ReturnCount4);
        _GuaranteeT2TotalCnt = _GuaranteeT21Cnt + _GuaranteeT22Cnt + _GuaranteeT23Cnt + _GuaranteeT24Cnt;

        _GuaranteeT31Cnt = Model.GuaranteeLgReqStation.Sum(x => x.ClaimCount1);
        _GuaranteeT32Cnt = Model.GuaranteeLgReqStation.Sum(x => x.ClaimCount2);
        _GuaranteeT33Cnt = Model.GuaranteeLgReqStation.Sum(x => x.ClaimCount3);
        _GuaranteeT34Cnt = Model.GuaranteeLgReqStation.Sum(x => x.ClaimCount4);
        _GuaranteeT3TotalCnt = _GuaranteeT31Cnt + _GuaranteeT32Cnt + _GuaranteeT33Cnt + _GuaranteeT34Cnt;

        _GuaranteeT41Cnt = Model.GuaranteeLgReqStation.Sum(x => x.ReNewCount1);
        _GuaranteeT42Cnt = Model.GuaranteeLgReqStation.Sum(x => x.ReNewCount2);
        _GuaranteeT43Cnt = Model.GuaranteeLgReqStation.Sum(x => x.ReNewCount3);
        _GuaranteeT44Cnt = Model.GuaranteeLgReqStation.Sum(x => x.ReNewCount4);
        _GuaranteeT4TotalCnt = _GuaranteeT41Cnt + _GuaranteeT42Cnt + _GuaranteeT43Cnt + _GuaranteeT44Cnt;

        _GuaranteeT51Cnt = Model.GuaranteeLgReqStation.Sum(x => x.DisCount1);
        _GuaranteeT52Cnt = Model.GuaranteeLgReqStation.Sum(x => x.DisCount2);
        _GuaranteeT53Cnt = Model.GuaranteeLgReqStation.Sum(x => x.DisCount3);
        _GuaranteeT54Cnt = Model.GuaranteeLgReqStation.Sum(x => x.DisCount4);
        _GuaranteeT5TotalCnt = _GuaranteeT51Cnt + _GuaranteeT52Cnt + _GuaranteeT53Cnt + _GuaranteeT54Cnt;

    }
}


<section>
    <div class="">
        <div class="col-md-12">
            <div class="form-group m-1">
                <div class="row">
                    <div class="col-6">
                        <h4>
                            <small><i class="fa fa-home mr-1"></i>Dashboard</small>
                        </h4>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card mb-3"></div>
        </div>
    </div>
</section>

<section>
    <div class="">
        <div class="col-md-12">
            <div class="form-group m-1">
                <div class="row">
                    <div class="col-6">
                        <h4>
                            <small><i class="fa fa-align-justify mr-1"></i>สร้างนิติกรรมสัญญา ประจำปีงบประมาณ 2565</small>
                        </h4>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>

@if (Model.errorCheck)
{
    <partial name="../Shared/LayoutPartial/_PartialMessageError.cshtml" model="new CommonModel() { errorMessage = Model.errorMessage }" />
}
else
{
    var _Items = (Model != null ? Model.ContractList.Items : null);
    var _pager = (_Items != null ? Model.ContractList.Pager : null);
    int _orderNo = _pager != null ? (_pager.PageSize * _pager.CurrentPage - 10) : 0;

    <section>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7 mb-2 p-1">
                    <div class="card">
                        <table id="example" class="table table-hover">
                            <thead style="background-color:lemonchiffon">
                                <tr>
                                    <th class="text-left">นิติกรรมสัญญา</th>
                                    <th style="width:160px">บันทึกข้อมูลล่าสุด</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (_Items != null && _Items.Count > 0)
                                {
                                    foreach (var item in _Items.Select((value, index) => new { Value = value, Index = index }))
                                    {
                                        <tr>
                                            <td class="text-left">
                                                <span class="text-primary">
                                                    <a class="btn-outline-primary" onclick="showLoading()"
                                                       asp-controller="ContractType"
                                                       asp-action="T@(item.Value.ContractTypeId)C"
                                                       asp-route-ContractTypeIdEn="@SecurityRepo.Encrypt(item.Value.ContractTypeId)"
                                                       asp-route-Style="@item.Value.ContractStyleCode"
                                                       asp-route-IdSmctMaster="@item.Value.IdSmctMaster"
                                                       asp-route-Station="@item.Value.StationStatusCurr"
                                                       asp-route-SigningTypeEn="@SecurityRepo.Encrypt(item.Value.ContractSignType)"
                                                       asp-route-State="@SecurityRepo.Encrypt("1")">@item.Value.ContractName</a>
                                                </span><br />
                                                <span style="font-size:14px" class="text-black-50">ประเภทนิติกรรม : @item.Value.ContractTypeName</span><br />
                                                <span style="font-size:14px" class="text-black-50">คู่สัญญา : @item.Value.VendorName</span><br />
                                                <span style="font-size:14px" class="text-black-50">สังกัด : @item.Value.DepartmentName</span>
                                            </td>
                                            <td>
                                                @GeneralUtils.DateToThString(item.Value.EditDate)<br />
                                                <i class="fas fa-clock"><span style="font-size:14px" class="text-black-50"> @GeneralUtils.DateToTimeString(item.Value.EditDate) น</span></i>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col-xl-6 col-md-6 mt-2">
                                ทั้งหมด 5 รายการ
                            </div>
                            <div class="col-xl-6 col-md-6 text-right mt-2">
                                <a class="btn-outline-primary" onclick="showLoading()" asp-controller="Home" asp-action="index"> แสดงรายละเอียดทั้งหมด</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mb-2 p-1">
                    <div class="card ">
                        <div class="card-header" style="background-color:aquamarine">
                            <div class="row">
                                <div class="col-6 p-0">
                                    <i class="fas fa-chart-pie "><span class="ml-1">ประเภทนิติกรรมสัญญา(<span class="badge badge-pill badge-dark">@_ConutConType.SumContractTypeCount()</span>)</span></i>
                                </div>
                                <div class="col-6 p-0">
                                    <p class="text-right mb-0">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div><canvas id="myChart1" height="180"></canvas></div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br />
    <br />
    <section>
        <div class="">
            <div class="col-md-12">
                <div class="form-group m-1">
                    <div class="row">
                        <div class="col-6">
                            <h4>
                                <small><i class="fa fa-align-justify mr-1"></i>จัดการนิติกรรมสัญญา(อนุมัติแล้ว) ประจำปีงบประมาณ 2565</small>
                            </h4>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6 col-md-3 mb-2 p-1">
                    <div class="card ">
                        <div class="card-header" style="background-color: rgb(255, 205, 86,0.8)">
                            <div class="row">
                                <div class="col-8 p-0">
                                    <i class="fas fa-chart-pie "><span class="ml-1">แก้ไขข้อมูลสัญญา(<span class="badge badge-pill badge-dark">@_ContractSuccessT1TotalCnt.ToString("N0")</span>)</span></i>
                                </div>
                                <div class="col-4 p-0">
                                    <p class="text-right mb-0">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div><canvas id="Chart_01" height="180"></canvas></div>
                        <br />
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-2 p-1">
                    <div class="card ">
                        <div class="card-header" style="background-color:rgb(54, 162, 235,0.8)">
                            <div class="row">
                                <div class="col-8 p-0">
                                    <i class="fas fa-chart-pie "><span class="ml-1">ยกเลิกข้อมูลสัญญา(<span class="badge badge-pill badge-dark">@_ContractSuccessT2TotalCnt.ToString("N0")</span>)</span></i>
                                </div>
                                <div class="col-4 p-0">
                                    <p class="text-right mb-0">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div><canvas id="Chart_02" height="180"></canvas></div>
                        <br />
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-2 p-1">
                    <div class="card ">
                        <div class="card-header" style="background-color: aquamarine">
                            <div class="row">
                                <div class="col-8 p-0">
                                    <i class="fas fa-chart-pie "><span class="ml-1">ขยายสัญญา(<span class="badge badge-pill badge-dark">@_ContractSuccessT3TotalCnt.ToString("N0")</span>)</span></i>
                                </div>
                                <div class="col-4 p-0">
                                    <p class="text-right mb-0">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div><canvas id="Chart_03" height="180"></canvas></div>
                        <br />
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-2 p-1">
                    <div class="card ">
                        <div class="card-header" style="background-color: rgb(255, 99, 132,0.8)">
                            <div class="row">
                                <div class="col-8 p-0">
                                    <i class="fas fa-chart-pie "><span class="ml-1">ปิดโครงการ(<span class="badge badge-pill badge-dark">@_ContractSuccessT4TotalCnt.ToString("N0")</span>)</span></i>
                                </div>
                                <div class="col-4 p-0">
                                    <p class="text-right mb-0">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div><canvas id="Chart_04" height="180"></canvas></div>
                        <br />
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-2 p-1">
                    <div class="card ">
                        <div class="card-header" style="background-color:rgb(238, 130, 238,0.8)">
                            <div class="row">
                                <div class="col-8 p-0">
                                    <i class="fas fa-chart-pie "><span class="ml-1">ยุติสัญญา(<span class="badge badge-pill badge-dark">@_ContractSuccessT5TotalCnt.ToString("N0")</span>)</span></i>
                                </div>
                                <div class="col-4 p-0">
                                    <p class="text-right mb-0">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div><canvas id="Chart_05" height="180"></canvas></div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br />
    <br />
    <section>
        <div class="">
            <div class="col-md-12">
                <div class="form-group m-1">
                    <div class="row">
                        <div class="col-6">
                            <h4>
                                <small><i class="fa fa-align-justify mr-1"></i>จัดการหลักประกันสัญญา ประจำปีงบประมาณ 2565</small>
                            </h4>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6 col-md-3 mb-2 p-1">
                    <div class="card ">
                        <div class="card-header" style="background-color: rgb(255, 205, 86,0.8)">
                            <div class="row">
                                <div class="col-8 p-0">
                                    <i class="fas fa-chart-pie "><span class="ml-1">ออกใหม่(<span class="badge badge-pill badge-dark">@_GuaranteeT1TotalCnt</span>)</span></i>
                                </div>
                                <div class="col-4 p-0">
                                    <p class="text-right mb-0">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div><canvas id="Chart_11" height="180"></canvas></div>
                        <br />
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-2 p-1">
                    <div class="card ">
                        <div class="card-header" style="background-color:rgb(54, 162, 235,0.8)">
                            <div class="row">
                                <div class="col-8 p-0">
                                    <i class="fas fa-chart-pie "><span class="ml-1">ขอคืน/ยกเลิก(<span class="badge badge-pill badge-dark">@_GuaranteeT2TotalCnt</span>)</span></i>
                                </div>
                                <div class="col-4 p-0">
                                    <p class="text-right mb-0">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div><canvas id="Chart_12" height="180"></canvas></div>
                        <br />
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-2 p-1">
                    <div class="card ">
                        <div class="card-header" style="background-color: aquamarine">
                            <div class="row">
                                <div class="col-8 p-0">
                                    <i class="fas fa-chart-pie "><span class="ml-1">ขอเคลม(<span class="badge badge-pill badge-dark">@_GuaranteeT3TotalCnt</span>)</span></i>
                                </div>
                                <div class="col-4 p-0">
                                    <p class="text-right mb-0">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div><canvas id="Chart_13" height="180"></canvas></div>
                        <br />
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-2 p-1">
                    <div class="card ">
                        <div class="card-header" style="background-color: rgb(255, 99, 132,0.8)">
                            <div class="row">
                                <div class="col-8 p-0">
                                    <i class="fas fa-chart-pie "><span class="ml-1">ขอเพิ่ม(<span class="badge badge-pill badge-dark">@_GuaranteeT4TotalCnt</span>)</span></i>
                                </div>
                                <div class="col-4 p-0">
                                    <p class="text-right mb-0">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div><canvas id="Chart_14" height="180"></canvas></div>
                        <br />
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-2 p-1">
                    <div class="card ">
                        <div class="card-header" style="background-color:rgb(238, 130, 238,0.8)">
                            <div class="row">
                                <div class="col-8 p-0">
                                    <i class="fas fa-chart-pie "><span class="ml-1">ขอลด(<span class="badge badge-pill badge-dark">@_GuaranteeT5TotalCnt</span>)</span></i>
                                </div>
                                <div class="col-4 p-0">
                                    <p class="text-right mb-0">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div><canvas id="Chart_15" height="180"></canvas></div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br />
    <br />
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });

        var ctxdata1 = {
            labels: [
                'สัญญา(@_ConutConType.ContractType1.ToString("N0"))',
                'ข้อตกลง(@_ConutConType.ContractType2.ToString("N0"))',
                'หนังสือแสดงความจำนง(@_ConutConType.ContractType3.ToString("N0"))',
                'โครงการ(@_ConutConType.ContractType4.ToString("N0"))'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [@_ConutConType.ContractType1, @_ConutConType.ContractType2, @_ConutConType.ContractType3, @_ConutConType.ContractType4],
                backgroundColor: [
                    'rgb(255, 205, 86,0.8)',
                    'rgb(54, 162, 235,0.8)',
                    'rgb(255, 99, 132,0.8)',
                    'rgb(238, 130, 238,0.8)'
                ],
                hoverOffset: 4
            }]
        }
        var ctxdata_01 = {
            labels: [
                'รอดำเนินการ(@_ContractSuccessT11Cnt.ToString("N0"))',
                'อนุมัติ(@_ContractSuccessT12Cnt.ToString("N0"))',
                'ไม่อนุมัติ(@_ContractSuccessT13Cnt.ToString("N0"))',
                'ยกเลิก(@_ContractSuccessT14Cnt.ToString("N0"))'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [@_ContractSuccessT11Cnt, @_ContractSuccessT12Cnt, @_ContractSuccessT13Cnt, @_ContractSuccessT14Cnt],
                backgroundColor: [
                    'rgb(255, 165, 0,0.6)',
                    'rgba(99, 255, 0, 0.6)',
                    'rgba(255, 0, 0, 0.6)',
                    'rgb(54, 162, 235,0.8)'
                ],
                hoverOffset: 4
            }]
        }
        var ctxdata_02 = {
            labels: [
                'รอดำเนินการ(@_ContractSuccessT21Cnt.ToString("N0"))',
                'อนุมัติ(@_ContractSuccessT22Cnt.ToString("N0"))',
                'ไม่อนุมัติ(@_ContractSuccessT23Cnt.ToString("N0"))',
                'ยกเลิก(@_ContractSuccessT24Cnt.ToString("N0"))'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [@_ContractSuccessT21Cnt, @_ContractSuccessT22Cnt, @_ContractSuccessT23Cnt, @_ContractSuccessT24Cnt],
                backgroundColor: [
                    'rgb(255, 165, 0,0.6)',
                    'rgba(99, 255, 0, 0.6)',
                    'rgba(255, 0, 0, 0.6)',
                    'rgb(54, 162, 235,0.8)'
                ],
                hoverOffset: 4
            }]
        }
        var ctxdata_03 = {
            labels: [
                'รอดำเนินการ(@_ContractSuccessT31Cnt.ToString("N0"))',
                'อนุมัติ(@_ContractSuccessT32Cnt.ToString("N0"))',
                'ไม่อนุมัติ(@_ContractSuccessT33Cnt.ToString("N0"))',
                'ยกเลิก(@_ContractSuccessT34Cnt.ToString("N0"))'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [@_ContractSuccessT31Cnt, @_ContractSuccessT32Cnt, @_ContractSuccessT33Cnt, @_ContractSuccessT34Cnt],
                backgroundColor: [
                    'rgb(255, 165, 0,0.6)',
                    'rgba(99, 255, 0, 0.6)',
                    'rgba(255, 0, 0, 0.6)',
                    'rgb(54, 162, 235,0.8)'
                ],
                hoverOffset: 4
            }]
        }
        var ctxdata_04 = {
            labels: [
                'รอดำเนินการ(@_ContractSuccessT41Cnt.ToString("N0"))',
                'อนุมัติ(@_ContractSuccessT42Cnt.ToString("N0"))',
                'ไม่อนุมัติ(@_ContractSuccessT43Cnt.ToString("N0"))',
                'ยกเลิก(@_ContractSuccessT44Cnt.ToString("N0"))'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [@_ContractSuccessT41Cnt, @_ContractSuccessT42Cnt, @_ContractSuccessT43Cnt, @_ContractSuccessT44Cnt],
                backgroundColor: [
                    'rgb(255, 165, 0,0.6)',
                    'rgba(99, 255, 0, 0.6)',
                    'rgba(255, 0, 0, 0.6)',
                    'rgb(54, 162, 235,0.8)'
                ],
                hoverOffset: 4
            }]
        }
        var ctxdata_05 = {
            labels: [
                'รอดำเนินการ(@_ContractSuccessT51Cnt.ToString("N0"))',
                'อนุมัติ(@_ContractSuccessT52Cnt.ToString("N0"))',
                'ไม่อนุมัติ(@_ContractSuccessT53Cnt.ToString("N0"))',
                'ยกเลิก(@_ContractSuccessT54Cnt.ToString("N0"))'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [@_ContractSuccessT51Cnt, @_ContractSuccessT52Cnt, @_ContractSuccessT53Cnt, @_ContractSuccessT54Cnt],
                backgroundColor: [
                    'rgb(255, 165, 0,0.6)',
                    'rgba(99, 255, 0, 0.6)',
                    'rgba(255, 0, 0, 0.6)',
                    'rgb(54, 162, 235,0.8)'
                ],
                hoverOffset: 4
            }]
        }
        var ctxdata_11 = {
            labels: [
                'ส่งคำขอ(@_GuaranteeT11Cnt.ToString("N0"))',
                'อนุมัติ(@_GuaranteeT12Cnt.ToString("N0"))',
                'ไม่อนุมัติ(@_GuaranteeT13Cnt.ToString("N0"))',
                'ยกเลิก(@_GuaranteeT14Cnt.ToString("N0"))'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [@_GuaranteeT11Cnt, @_GuaranteeT12Cnt, @_GuaranteeT13Cnt, @_GuaranteeT14Cnt],
                backgroundColor: [
                    'rgb(255, 165, 0,0.6)',
                    'rgba(99, 255, 0, 0.6)',
                    'rgba(255, 0, 0, 0.6)',
                    'rgb(54, 162, 235,0.8)'
                ],
                hoverOffset: 4
            }]
        }
        var ctxdata_12 = {
            labels: [
                'ส่งคำขอ(@_GuaranteeT21Cnt.ToString("N0"))',
                'อนุมัติ(@_GuaranteeT22Cnt.ToString("N0"))',
                'ไม่อนุมัติ(@_GuaranteeT23Cnt.ToString("N0"))',
                'ยกเลิก(@_GuaranteeT24Cnt.ToString("N0"))'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [@_GuaranteeT21Cnt, @_GuaranteeT22Cnt, @_GuaranteeT23Cnt, @_GuaranteeT24Cnt],
                backgroundColor: [
                    'rgb(255, 165, 0,0.6)',
                    'rgba(99, 255, 0, 0.6)',
                    'rgba(255, 0, 0, 0.6)',
                    'rgb(54, 162, 235,0.8)'
                ],
                hoverOffset: 4
            }]
        }
        var ctxdata_13 = {
            labels: [
                'ส่งคำขอ(@_GuaranteeT31Cnt.ToString("N0"))',
                'อนุมัติ(@_GuaranteeT32Cnt.ToString("N0"))',
                'ไม่อนุมัติ(@_GuaranteeT33Cnt.ToString("N0"))',
                'ยกเลิก(@_GuaranteeT34Cnt.ToString("N0"))'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [@_GuaranteeT31Cnt, @_GuaranteeT32Cnt, @_GuaranteeT33Cnt, @_GuaranteeT34Cnt],
                backgroundColor: [
                    'rgb(255, 165, 0,0.6)',
                    'rgba(99, 255, 0, 0.6)',
                    'rgba(255, 0, 0, 0.6)',
                    'rgb(54, 162, 235,0.8)'
                ],
                hoverOffset: 4
            }]
        }
        var ctxdata_14 = {
            labels: [
                'ส่งคำขอ(@_GuaranteeT41Cnt.ToString("N0"))',
                'อนุมัติ(@_GuaranteeT42Cnt.ToString("N0"))',
                'ไม่อนุมัติ(@_GuaranteeT43Cnt.ToString("N0"))',
                'ยกเลิก(@_GuaranteeT44Cnt.ToString("N0"))'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [@_GuaranteeT41Cnt, @_GuaranteeT42Cnt, @_GuaranteeT43Cnt, @_GuaranteeT44Cnt],
                backgroundColor: [
                    'rgb(255, 165, 0,0.6)',
                    'rgba(99, 255, 0, 0.6)',
                    'rgba(255, 0, 0, 0.6)',
                    'rgb(54, 162, 235,0.8)'
                ],
                hoverOffset: 4
            }]
        }
        var ctxdata_15 = {
            labels: [
                'ส่งคำขอ(@_GuaranteeT51Cnt.ToString("N0"))',
                'อนุมัติ(@_GuaranteeT52Cnt.ToString("N0"))',
                'ไม่อนุมัติ(@_GuaranteeT53Cnt.ToString("N0"))',
                'ยกเลิก(@_GuaranteeT54Cnt.ToString("N0"))'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [@_GuaranteeT51Cnt, @_GuaranteeT52Cnt, @_GuaranteeT53Cnt, @_GuaranteeT54Cnt],
                backgroundColor: [
                    'rgb(255, 165, 0,0.6)',
                    'rgba(99, 255, 0, 0.6)',
                    'rgba(255, 0, 0, 0.6)',
                    'rgb(54, 162, 235,0.8)'
                ],
                hoverOffset: 4
            }]
        }

        window.onload = function () {
            var ctx1 = document.getElementById('myChart1').getContext('2d');
            var ctx_01 = document.getElementById('Chart_01').getContext('2d');
            var ctx_02 = document.getElementById('Chart_02').getContext('2d');
            var ctx_03 = document.getElementById('Chart_03').getContext('2d');
            var ctx_04 = document.getElementById('Chart_04').getContext('2d');
            var ctx_05 = document.getElementById('Chart_05').getContext('2d');
            var ctx_11 = document.getElementById('Chart_11').getContext('2d');
            var ctx_12 = document.getElementById('Chart_12').getContext('2d');
            var ctx_13 = document.getElementById('Chart_13').getContext('2d');
            var ctx_14 = document.getElementById('Chart_14').getContext('2d');
            var ctx_15 = document.getElementById('Chart_15').getContext('2d');
            window.myBar = new Chart(ctx1, {
                type: 'doughnut',
                data: ctxdata1,
                //options: {
                //    responsive: true,
                //    title: {
                //        display: false,
                //        text: 'Chart.js Bar Chart - Stacked'
                //    },
                //    tooltips: {
                //        mode: 'index',
                //        intersect: false
                //    },
                //    scales: {
                //        yAxes: [{
                //            ticks: {
                //                beginAtZero: true
                //            }
                //        }]
                //    }
                //}
            });
            window.myBar = new Chart(ctx_01, {
                type: 'pie',
                data: ctxdata_01,
            });
            window.myBar = new Chart(ctx_02, {
                type: 'pie',
                data: ctxdata_02,
            });
            window.myBar = new Chart(ctx_03, {
                type: 'pie',
                data: ctxdata_03,
            });
            window.myBar = new Chart(ctx_04, {
                type: 'pie',
                data: ctxdata_04,
            });
            window.myBar = new Chart(ctx_05, {
                type: 'pie',
                data: ctxdata_05,
            });
            window.myBar = new Chart(ctx_11, {
                type: 'pie',
                data: ctxdata_11,
            });
            window.myBar = new Chart(ctx_12, {
                type: 'pie',
                data: ctxdata_12,
            });
            window.myBar = new Chart(ctx_13, {
                type: 'pie',
                data: ctxdata_13,
            });
            window.myBar = new Chart(ctx_14, {
                type: 'pie',
                data: ctxdata_14,
            });
            window.myBar = new Chart(ctx_15, {
                type: 'pie',
                data: ctxdata_15,
            });
        }

        $(document).ready(function () {
            $('[data-toggle="modal"]').tooltip();

            //$('#example').dataTable({
            //    "oLanguage": {
            //        "sSearch": "Search all columns:"
            //    },
            //    "aoColumnDefs": [
            //        {
            //            'bSortable': true,
            //            'aTargets': [0]
            //        }
            //    ],
            //    'iDisplayLength': 10,
            //    "sPaginationType": "full_numbers",
            //    "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            //    "bAutoWidth": true
            //});
        });
    </script>
}
