

@model SmartContract.Infrastructure.Resources.ContractTypeBureau.GuaranteeReportMain
@inject SmartContract.Infrastructure.Interfaces.Authenticate.IUserService UserService
@using SmartContract.Infrastructure.Resources.Share
@using SmartContract.Utils

@{
    ViewData["Title"] = "รายงานทะเบียนคุม";

}

@if (Model.errorCheck)
{
    <partial name="../Shared/LayoutPartial/_PartialMessageError.cshtml" model="new CommonModel() { errorMessage = Model.errorMessage }" />
}
else
{
    var lookUp = Model.GetLookUp;

    <section>
        <div class="">
            <div class="col-md-12">
                <div class="form-group m-1">
                    <div class="row">
                        <div class="col-6">
                            <h4>
                                <small><i class="fa fa-book mr-1"></i>หลักประกันสัญญา > </small>
                                <small><span class="text-primary">รายงานทะเบียนคุม</span></small>
                            </h4>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card mb-3"></div>
            </div>
        </div>
    </section>

    <section>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <form method="get" asp-action="GuaranteeReport">
                        <fieldset class="form-group border p-3" style="height:90%;">
                            <legend class="col-auto px-2 h6">ค้นหา</legend>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="">ประจำปี</label>
                                    <select class="form-control bg-focus" asp-for="Year"
                                            asp-items="@(new SelectList((from s in lookUp.BudgetYears.Where(x=> int.Parse(x.Id) >= 2564) select new {
                                                            Code=s.Id,
                                                            FullName = $"{s.Value}"}),
                                                            "Code",
                                                            "FullName",
                                                            selectedValue: DateTime.Now.Year+ 543))">
                                        <option value="">---ทั้งหมด---</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="">เดือน</label>
                                    <select class="form-control bg-focus" asp-for="Month"
                                            asp-items="@(new SelectList((from s in lookUp.Months select new {
                                                            Code=s.Id,
                                                            FullName = $"{s.Value}"}),
                                                            "Code",
                                                            "FullName",
                                                            selectedValue: DateTime.Now.Month))">
                                        <option value="">---ทั้งหมด---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-auto mt-2 mb-3">
                                    <button class="btn btn-primary loadding text-white" style="width:120px"> ตกลง </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-7">
                    <div><canvas id="myChart"></canvas></div>
                    <br />
                </div>
            </div>
        </div>
    </section>

    <br />
    <br />
    <section>
        <div class="">
            <div class="col-md-12">
                <div class="form-group m-1">
                    <div class="row">
                        <div class="col-6">
                            <h4>
                                <small><i class="fa fa-align-justify mr-1"></i>แสดงรายละเอียดข้อมูล</small>
                            </h4>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-hover table-bordered table-sm justify-content-center bg-white" style="font-size:14px;margin:auto">
                        <thead style="background-color: rgb(255, 205, 86,0.8)">
                            <tr>
                                <th class="align-middle text-center">สำนัก/กองทุนย่อย/เขต ข้อมูลหลักประกันสัญญาสัญญา</th>
                                <th class="align-middle text-center">ออกใหม่</th>
                                <th class="align-middle text-center">ต่ออายุ</th>
                                <th class="align-middle text-center">คืน</th>
                                <th class="align-middle text-center">เคลม/ยึด</th>
                                <th class="align-middle text-center">ทั้งหมด</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.GuaranteeReportView != null && Model.GuaranteeReportView.Count > 0)
                            {
                                foreach (var item in Model.GuaranteeReportView)
                                {
                                    <tr class=" text-center">
                                        <td class="text-left">@($"{item.Dcode}_{item.DnameNew}")</td>
                                        <td><a onclick="showLoading()">@item.NewCount</a></td>
                                        <td><a onclick="showLoading()">@item.ReNewCount</a></td>
                                        <td><a onclick="showLoading()">@item.ReturnCount</a></td>
                                        <td><a onclick="showLoading()">@item.ClaimCount</a></td>
                                        <td>@item.SumByKetCount()</td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot class="txt_totalAll">
                            <tr class="align-middle text-center">
                                <td>รวม</td>
                                <td>@Model.GuaranteeReportView.Sum(x => x.NewCount)</td>
                                <td>@Model.GuaranteeReportView.Sum(x => x.ReNewCount)</td>
                                <td>@Model.GuaranteeReportView.Sum(x => x.ReturnCount)</td>
                                <td>@Model.GuaranteeReportView.Sum(x => x.ClaimCount)</td>
                                <td>@Model.GuaranteeReportView.Sum(x => x.SumByKetCount())</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <br />
    </section>

}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });


        var ctxdata1 = {
            labels: [
                'ออกใหม่',
                'ต่ออายุ',
                'คืน',
                'เคลม/ยึด'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [ @Model.GuaranteeReportView.Sum(x => x.NewCount),
                        @Model.GuaranteeReportView.Sum(x => x.ReNewCount),
                        @Model.GuaranteeReportView.Sum(x => x.ReturnCount),
                        @Model.GuaranteeReportView.Sum(x => x.ClaimCount)],
                backgroundColor: [
                    'rgba(99, 255, 0, 0.6)',
                    'rgba(255, 0, 0, 0.6)',
                    'rgb(255, 165, 0,0.6)',
                    'rgb(49, 103, 212,1)'
                ],
                hoverOffset: 4
            }]

        }

        window.onload = function () {
            var ctx1 = document.getElementById('myChart').getContext('2d');
            window.mybar = new Chart(ctx1, {
                type: 'doughnut',
                data: ctxdata1,
            });
        }

    </script>
}