
@model SmartContract.Infrastructure.Resources.ContractTypeBureau.TrackingGuaranteeMain

@inject SmartContract.Infrastructure.Interfaces.Authenticate.IUserService UserService
@using SmartContract.Infrastructure.Resources.Share
@using SmartContract.Utils

@{
    ViewData["Title"] = "Tracking2";
    String _MenuEn = Context.Request.Query["MenuEn"].ToString();
    String _Menu = String.Empty;
    String _Title = String.Empty;
}

<style>
    .cursor-pointer {
        cursor: pointer;
        /*transition: 0.3s;*/
    }

        .cursor-pointer:hover {
            text-decoration: underline;
        }

        .cursor-pointer:active {
            opacity: 0.5;
        }
</style>

@if (Model.errorCheck)
{
    <partial name="../Shared/LayoutPartial/_PartialMessageError.cshtml" model="new CommonModel() { errorMessage = Model.errorMessage }" />
}
else
{
    var _Items = (Model != null ? Model.TrackingGuaranteeNew.Items : null);
    var _pager = (_Items != null ? Model.TrackingGuaranteeNew.Pager : null);
    int _orderNo = _pager != null ? (_pager.PageSize * _pager.CurrentPage - 10) : 0;

    if (_MenuEn != null)
    {
        _Menu = SecurityRepo.Decrypt(_MenuEn);
        if (_Menu == ContractGuaranteeTypes.T1_NEW || _Menu == ContractGuaranteeTypes.T2_RENEW || _Menu == ContractGuaranteeTypes.T3_RETURN || _Menu == ContractGuaranteeTypes.T4_CLAIM)
        {
            _Title = ContractUtils.GuaranteePropertite(_Menu).MenuFullName;
            ViewData["Title"] = _Title;
        }
    }

    <section>
        <div class="">
            <div class="col-md-12">
                <div class="form-group m-1">
                    <div class="row">
                        <div class="col-6">
                            <h4>
                                <small><i class="fa fa-book mr-1"></i>หลักประกันสัญญา > </small>
                                <small><span class="text-primary">@_Title</span></small>
                            </h4>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card mb-3"></div>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row ml-1">
            <div class="col-md-8">
                <div class="form-group m-1 mb-2">
                    <div class="row">
                        <div class="col-sm-12 mb-1">
                            <i class="fas fa-indent text-dark mr-2 cursor-pointer">
                                <a id="_SA" class="ml-1 text-dark" onclick="showLoading()"
                                   asp-controller="Guarantee"
                                   asp-action="Tracking2">
                                    ทั้งหมด (1,000)
                                </a>
                            </i>
                            <i class="fas fa-file text-warning mr-2 cursor-pointer">
                                <a id="_S1" class="ml-1 text-warning" onclick="showLoading()"
                                   asp-controller="Guarantee"
                                   asp-action="Tracking2">
                                    อยู่ระหว่างส่งคำขอ (xx)
                                </a>
                            </i>
                            <i class="fas fa-times-circle text-danger mr-2 cursor-pointer">
                                <a id="_S2" class="ml-1 text-danger" onclick="showLoading()"
                                   asp-controller="Guarantee"
                                   asp-action="Tracking2">
                                    ไม่อนุม้ติ (xx)
                                </a>
                            </i>
                            <i class="fas fa-check-circle text-success mr-2 cursor-pointer">
                                <a id="_S3" class="ml-1 text-success" onclick="showLoading()"
                                   asp-controller="Guarantee"
                                   asp-action="Tracking2">
                                    อนุม้ติ (xx)
                                </a>
                            </i>
                            <i class="fas fa-times-circle text-dark mr-2 cursor-pointer">
                                <a id="_S0" class="ml-1 text-dark" onclick="showLoading()"
                                   asp-controller="Guarantee"
                                   asp-action="Tracking2">
                                    ยกเลิก (xx)
                                </a>
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="">
            <div class="col-md-12">
                <section>
                    <div class="">
                        <div id="div_table1" class="col-md-12 search-table-outter table-responsive">
                            <table id="table1" class="table table-condensed bg-white" style="border-collapse:collapse;font-size:13px;">
                                <thead style="background-color: @(ContractUtils.GuaranteePropertite(_Menu).Color)">
                                    <tr>
                                        <th>ลำดับ</th>
                                        <th>ประเภทใบคำขอ</th>
                                        <th>Tax ID</th>
                                        <th>ชื่อลูกค้า</th>
                                        <th>เลขที่สัญญา</th>
                                        <th>สัญญาลงวันที่</th>
                                        <th>เลขที่หนังสือค้ำประกัน</th>
                                        <th>วันที่เริ่มค้ำประกัน</th>
                                        <th>วันที่สิ้นสุดค้ำประกัน</th>
                                        <th>มูลค่าค้ำประกัน</th>
                                        <th>สถานะ</th>
                                        <th class="col-md-1">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (_Items != null && _Items.Count > 0)
                                    {
                                        foreach (var item in _Items.Select((value, index) => new { Value = value, Index = index }))
                                        {
                                            <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                                <td class="text-center">@(((_pager.CurrentPage*10)-10)+ (item.Index +1))</td>
                                                <td class="text-center col-md-1">
                                                    ขอคืน
                                                </td>
                                                <td class="text-center col-md-1">
                                                    1234455666789
                                                </td>
                                                <td class="text-center">ชื่อลูกค้าที่เป็นเจ้าของงาน</td>
                                                <td class="text-center">
                                                    @item.Value.ContractId
                                                </td>
                                                <td class="text-center">@GeneralUtils.DateToThString(item.Value.ContractDate)</td>
                                                <td class="text-center">00019/200008/0203/63</td>
                                                <td class="text-center">
                                                    @GeneralUtils.DateToThString(item.Value.ContractDate)
                                                </td>
                                                <td class="text-center">
                                                    @GeneralUtils.DateToThString(item.Value.EditDate)
                                                </td>
                                                <td class="text-right">200,000.00</td>
                                                <td class="text-center">อยู่ระหว่างส่งคำขอ</td>
                                                <td class="text-center col-md-1">
                                                    <a class="btn-outline-primary" onclick="showLoading()"
                                                       asp-controller="Guarantee"
                                                       asp-action="Create2"
                                                       asp-route-ContractGuaranteeTypeEn="@SecurityRepo.Encrypt(ContractGuaranteeTypes.T2_RENEW)">รายละเอียด</a>
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <div class="col-md-12">
                    <div class="row mr-1">
                        <div class="col-xl-4 col-md-4 mt-2 pagination_font font_bold">
                            แสดงผล <span class="text_blue">@(Model.TrackingGuaranteeNew.Items.Count)</span> จากทั้งหมด <span class="text_blue">@(Model.TrackingGuaranteeNew.Pager.TotalItems)</span>
                        </div>
                        <partial name="~/Views/Shared/LayoutPartial/_PartialPagination.cshtml" for="@Model.TrackingGuaranteeNew.Pager" />
                    </div>
                </div>

                <br />
                <br />

            </div>
        </div>
    </section>


}

@section Scripts {
    <script type="text/javascript">

    </script>
}