
@model SmartContract.Infrastructure.Resources.ContractTypeVendor.TAllMasterVendorView
@using SmartContract.Utils

@{
    ViewData["Title"] = "FM_CONTRACT_T12";
    Layout = "~/Views/Shared/_LayoutFM.cshtml";
    var lookUp = Model.CTVendor.GetLookUp;
    var indataCon = Model.InfoContract;
    var indataNhso = Model.InfoContractNhso;
    var indataVendor = Model.InfoPartnersOfContract;
    var indataConstation = Model.ContractStation;
    var ConDetail = Model.InfoConDetail.ContractDetail12;
    var indataReqApp = Model.InfoRequestForApproval;
}

<link rel="stylesheet" href="~/css/font.css" />
<link rel="stylesheet" href="~/css/FM.css" asp-append-version="true" />

<section>
    <div class="main-page size-15">
        <div class="content-page ">
            <div class="text-right ">เลขที่อ้างอิง <span class="para">@indataCon.RefId</span></div>
            <div class="text-center">
                <img src="../images/logo/NHSO.png" />
            </div>
            <h3 class="text-center size-17 mt-1">ข้อตกลงดำเนินการตามโครงการ </h3>
            <div class="text-right ">ข้อตกลงเลขที่ @(indataCon.ContractId != null ? indataCon.ContractId : "..........")</div>
            @*<div class="text-1">
                ข้อตกลงฉบับนี้ทำขึ้น ณ <span class="para">@indataNhso.NhsoAddress.Header</span> ที่อยู่เลขที่  ถนน <span class="para">@indataNhso.NhsoAddress.Road</span> ตำบล/แขวง <span class="para">@indataNhso.NhsoAddress.TumbonName</span> อำเภอ/เขต <span class="para">@indataNhso.NhsoAddress.AmphurName</span> จังหวัด <span class="para">@indataNhso.NhsoAddress.ChangwatName</span>  เมื่อวันที่.....เดือน......พ.ศ...... ระหว่างสำนักงานหลักประกันสุขภาพแห่งชาติ โดย <span class="para">@indataConstation.CreateUserFullname</span> ซึ่งต่อไปในสัญญานี้เรียกว่า “สำนักงาน” ฝ่ายหนึ่ง กับ <span class="para">@indataVendor.VendorName</span>  สำนักงานใหญ่/ที่อยู่ เลขที่ <span class="para">@indataVendor.VillageNo</span> ถนน <span class="para">@indataVendor.Road</span> ตำบล/แขวง <span class="para">@indataVendor.CATMs.DistrictName</span> อำเภอ/เขต <span class="para">@indataVendor.CATMs.AmphurName</span> จังหวัด <span class="para">@indataVendor.CATMs.ProvinceName</span>  โดย <span class="para">@(lookUp.UserSmctSigner.FirstOrDefault(x=>x.IdUserSmct == indataVendor.SmctMasterSigner.SmctMasterSignerDetail1.VendorSignerUser)?.UserFullname ?? String.Empty)</span> ได้รับมอบอำนาจจาก {18@20}  เป็นผู้มีอำนาจลงนามผูกพันปรากฏตามหนังสือ {19@21}  เลขที่ {20@22}  ลงวันที่ {21@23} เดือน {22@24} พ.ศ. {23@25}  แนบท้ายข้อตกลงนี้  ซึ่งต่อไปในข้อตกลงนี้เรียกว่า “ผู้ดำเนินงาน” อีกฝ่ายหนึ่ง
            </div>*@
            <div class="text-1">
                ข้อตกลงฉบับนี้ทำขึ้น ณ สำนักงานหลักประกันสุขภาพแห่งชาติ........เลขที่........ถนน........ตำบล/แขวง........อำเภอ/เขต........จังหวัด........เมื่อวันที่........เดือน........พ.ศ.........ระหว่าง
                สำนักงานหลักประกันสุขภาพแห่งชาติ โดย........ตำแหน่ง........ปฏิบัติงานแทนเลขาธิการสำนักงานหลักประกันสุขภาพแห่งชาติ ตามคำสั่งสำนักงานหลักประกันสุขภาพแห่งชาติ ที่........../........... ลงวันที่ ..................... แนบท้ายข้อตกลงนี้
                ซึ่งต่อไปในข้อตกลงนี้เรียกว่า “สำนักงาน” ฝ่ายหนึ่ง กับ........เลขที่........ถนน........ตำบล/แขวง........อำเภอ/เขต........จังหวัด........  วันที่........เดือน........พ.ศ.........แนบท้ายข้อตกลงนี้)
                ซึ่งต่อไปในข้อตกลงนี้เรียกว่า “ผู้ดำเนินงาน” อีกฝ่ายหนึ่ง
            </div>
            <div class="text-1">
                โดยที่สำนักงานเป็นหน่วยงานของรัฐ มีอำนาจหน้าที่ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ โดยมาตรา 26 (12) แห่งพระราชบัญญัติหลักประกันสุขภาพแห่งชาติ พ.ศ. 2545 กำหนดให้สำนักงานมอบให้องค์กรอื่นหรือบุคคลอื่นทำกิจการที่อยู่ภายในอำนาจหน้าที่ของสำนักงาน
            </div>
            <div class="text-1">
                ทั้งสองฝ่ายจึงได้ตกลงกันไว้ดังต่อไปนี้
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 1 </b>  สำนักงานตกลงมอบและผู้ดำเนินงานทำกิจการของสำนักงาน ตาม โครงการ ........ ดังรายละเอียดตามเอกสารแนบท้ายสัญญา ผนวก 1
            </div>
            <div class="text-1">
                ผู้ดำเนินงานตกลงเริ่มดำเนินกิจการของสำนักงาน ตั้งแต่วันที่........เดือน........พ.ศ.........
                และสิ้นสุดในวันที่........เดือน........พ.ศ.........
            </div>
            <div class="text-1">
                การขยายเวลาในการดำเนินกิจการตามวรรคสอง ผู้ดำเนินงานจะต้องกระทำเป็นหนังสือยื่นต่อสำนักงานก่อนข้อตกลงสิ้นสุดไม่น้อยกว่า 15 (สิบห้า) วัน การจะขยายเวลาหรือไม่ให้อยู่ในดุลพินิจของสำนักงาน ที่จะพิจารณาตามที่เห็นสมควร เว้นแต่ในกรณีที่มีเหตุสุดวิสัย หรือเหตุใด ๆ หรือพฤติการณ์อันหนึ่งอันใดที่ไม่สามารถปฏิบัติงานให้แล้วเสร็จตามเงื่อนไขและกำหนดเวลาแห่งข้อตกลงนี้ได้ ผู้ดำเนินงานมีหน้าที่ต้องแจ้งเหตุหรือพฤติการณ์ดังกล่าวพร้อมหลักฐานเป็นหนังสือให้สำนักงานทราบ เพื่อขอขยายเวลาดำเนินกิจการตามวรรคสองด้วยเช่นกัน แต่ต้องยื่นเป็นหนังสือไม่เกินวันสิ้นสุดของสัญญาดังกล่าว หากสำนักงานให้ขยายเวลา ให้ถือว่าหนังสือขอขยายเวลาและที่สำนักงานให้ขยายเวลาเป็นส่วนหนึ่งของสัญญานี้
            </div>
            <div class="text-1">
                กรณีผู้ดำเนินงานไม่ปฏิบัติให้เป็นไปตามความในวรรคสองหรือวรรคสาม ให้ถือว่าผู้ดำเนินงานได้สละสิทธิ์เรียกร้องในการที่จะขอขยายเวลาการดำเนินงานออกไปโดยไม่มีเงื่อนไขใดๆ ที่จะมาโต้แย้งภายหลังทั้งสิ้น เว้นแต่กรณีเหตุเกิดจากความผิดหรือความบกพร่องของสำนักงาน ซึ่งมีหลักฐานชัดแจ้งหรือสำนักงานทราบดีอยู่แล้วตั้งแต่ต้น ให้สำนักงานขยายเวลาการดำเนินกิจการตามโครงการแล้วแจ้งให้ผู้รับดำเนินงานทราบด้วย
            </div>
            <div class="text-1">
                ในการดำเนินกิจการ ตามวรรคหนึ่ง ผู้ดำเนินงานตกลงปฏิบัติตาม กฎ ระเบียบ ข้อบังคับ ประกาศ หลักเกณฑ์ มติ คำสั่ง และแนวปฏิบัติของคณะกรรมการหลักประกันสุขภาพแห่งชาติ หรือคณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุข หรือคณะอนุกรรมการหรือสำนักงาน ที่กำหนดขึ้นก่อนหรือหลังหรือ
                ระหว่างที่ข้อตกลงนี้มีผลบังคับใช้และให้ถือว่า กฎ ระเบียบ ข้อบังคับ ประกาศ หลักเกณฑ์ มติ คำสั่ง แนวปฏิบัติ ดังกล่าวนั้นเป็นส่วนหนึ่งของข้อตกลงนี้
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 2 </b>  เอกสารแนบท้ายข้อตกลงดังต่อไปนี้ ให้ถือเป็นส่วนหนึ่งของข้อตกลงนี้
            </div>
            <div class="text-2">
                @* 2.1 ผนวก 1 แผนงาน/โครงการ <span class="para">@indataReqApp.ContractName</span>  จำนวน <span class="para">@(!String.IsNullOrEmpty(ConDetail.P1) ? ConDetail.P1 : "-")</span> หน้า*@
                2.1 ผนวก 1 โครงการ/ขอบเขตงาน จำนวน........(........) หน้า
            </div>
            <div class="text-2">
                @*2.2 ผนวก 2 หลักเกณฑ์/วิธีการ/เงื่อนไข การจ่ายเงินสนับสนุน  จำนวน <span class="para">@(!String.IsNullOrEmpty(ConDetail.P2) ? ConDetail.P2 : "-")</span> หน้า*@
                2.2 ผนวก 2 หลักเกณฑ์/วิธีการ/เงื่อนไข การจ่ายเงินสนับสนุน จำนวน          (       ) หน้า
            </div>
            <div class="text-2">
                @*2.3 ผนวก 3 <span class="para">@(!String.IsNullOrEmpty(ConDetail.P3) ? ConDetail.P3 : "-")</span> จำนวน <span class="para">@(!String.IsNullOrEmpty(ConDetail.P4) ? ConDetail.P4 : "-")</span> หน้า*@
                2.3 ผนวก ...... จำนวน........(........) หน้า
            </div>
            <div class="text-2">
                @* 2.4 ผนวก 4 <span class="para">@(!String.IsNullOrEmpty(ConDetail.P5) ? ConDetail.P5 : "-")</span> จำนวน <span class="para">@(!String.IsNullOrEmpty(ConDetail.P6) ? ConDetail.P6 : "-")</span> หน้า*@
                2.4 ผนวก ......  จำนวน........(........) หน้า
            </div>
            <div class="text-1">
                ความใดในเอกสารแนบท้ายข้อตกลงนี้ที่ขัดหรือแย้งกับข้อความในข้อตกลงนี้ ให้ใช้ข้อความในข้อตกลงนี้บังคับ และในกรณีที่เอกสารแนบท้ายข้อตกลงขัดแย้งกันเอง ผู้ดำเนินงานจะต้องปฏิบัติตามคำวินิจฉัยของสำนักงาน คำวินิจฉัยของสำนักงานให้ถือเป็นที่สุด และผู้ดำเนินกิจการไม่มีสิทธิเรียกร้องเงินสนับสนุน หรือค่าเสียหาย หรือค่าใช้จ่ายใดๆ เพิ่มเติม จากสำนักงานทั้งสิ้น
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 3 </b> สำนักงานตกลงให้เงินสนับสนุนและผู้ดำเนินงานตกลงรับเงินสนับสนุนจำนวน ตามกฎ ระเบียบ ข้อบังคับ ประกาศ หลักเกณฑ์ มติ คำสั่ง และแนวปฏิบัติของคณะกรรมการหลักประกันสุขภาพแห่งชาติ หรือคณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุข หรือคณะอนุกรรมการหรือสำนักงานกำหนดเป็นเงินจำนวนทั้งสิ้น ...... บาท (......) ซึ่งได้รวมภาษีมูลค่าเพิ่มตลอดจนภาษีอากรอื่นๆ และค่าใช้จ่ายทั้งปวงไว้ด้วยแล้ว โดยจะจ่ายให้เป็นงวดๆ ตามหลักเกณฑ์ วิธีการ และเงื่อนไขการจ่ายเงินสนับสนุน ตามที่ระบุไว้ในเอกสารแนบท้ายสัญญา ผนวก 2
            </div>
            <div class="text-1">
                การจ่ายเงินตามเงื่อนไขแห่งข้อตกลงนี้ สำนักงานจะโอนเงินเข้าบัญชีเงินฝากธนาคารของผู้ดำเนินงาน ชื่อธนาคาร......สาขา......ชื่อบัญชี......เลขที่บัญชี......ทั้งนี้  ผู้ดำเนินงานตกลงเป็นผู้รับภาระเงินค่าธรรมเนียมหรือค่าบริการอื่นใดทั้งปวงที่เกี่ยวกับการโอนรวมทั้งค่าใช้จ่ายใดๆ (ถ้ามี) ที่ธนาคารเรียกเก็บ และยินยอมให้มีการหักเงินดังกล่าวจากจำนวนเงินโอนในงวดนั้นๆ
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 4 </b>  กรณีที่ผู้ดำเนินงานผิดข้อตกลงหรือละเลยหรือละเว้นไม่ปฏิบัติตามข้อตกลงข้อหนึ่งข้อใด เป็นเหตุให้เกิดความล่าช้าความเสียหายขึ้นไม่ว่ากรณีใดๆ สำนักงานมีสิทธิบอกเลิกข้อตกลงได้ทันที และผู้ดำเนินกิจการต้องรับผิดชอบในบรรดาความเสียหายที่เกิดขึ้นอันเนื่องจากการไม่ปฏิบัติตามข้อตกลงทั้งสิ้น
            </div>
            <div class="text-1">
                กรณีที่สำนักงานบอกเลิกข้อตกลงตามวรรคหนึ่ง ผู้ดำเนินกิจการยินยอมให้สำนักงานเรียกคืนเงินที่จ่ายสนับสนุนให้ผู้ดำเนินกิจการไปแล้วทั้งหมดหรือบางส่วนได้ และยินยอมให้สำนักงานระงับการจ่ายเงินสนับสนุนในส่วนที่เหลือทั้งหมดหรือบางส่วน (ถ้ามี) ตามที่สำนักงานเห็นสมควร รวมทั้งให้สำนักงานมีสิทธิหักเงินพึงจ่ายใดๆ ของผู้ดำเนินกิจการที่พึงได้รับทุกกรณีและที่สำนักงานพึงจ่ายให้ในภายหลัง เพื่อชดใช้ความเสียหายได้โดยไม่ต้องบอกกล่าวล่วงหน้า
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 5 </b>  การดำเนินกิจการตามข้อตกลงนี้ ผู้ดำเนินงานต้องระมัดระวังมิให้เกิดความเสียหายกับบุคคลอื่น หากผู้ดำเนินงานหรือผู้ปฏิบัติงานของผู้ดำเนินงาน กระทำการหรือละเว้นการกระทำการโดยจงใจหรือประมาทเลินเล่อ หรือกระทำนอกวัตถุประสงค์ของโครงการเป็นเหตุเกิดความเสียหายแก่สำนักงานหรือบุคคลอื่น สำนักงานไม่ต้องรับผิดชอบในความเสียหายใดๆ โดยผู้ดำเนินงานต้องรับผิดชดใช้ค่าเสียหายที่เกิดขึ้นแก่สำนักงานหรือบุคคลอื่นนั้น หากสำนักงานถูกเรียกร้องหรือฟ้องร้องหรือต้องชดใช้ค่าเสียหายให้แก่บุคคลอื่นไปแล้ว ผู้ดำเนินงานจะต้องดำเนินการใดๆ เพื่อให้มีการว่าต่างแก้ต่างให้แก่สำนักงานโดยค่าใช้จ่ายของผู้ดำเนินงานเอง รวมทั้งผู้ดำเนินงาน
                จะต้องชดใช้ค่าเสียหายนั้นๆ ตลอดจนค่าใช้จ่ายใดๆ อันเกิดจากการถูกเรียกร้องหรือถูกฟ้องร้องให้แก่สำนักงานทันที
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 6 </b> การเผยแพร่ข้อมูลข่าวสารเกี่ยวกับ (สลับที่ใหม่) ผลงานหรือกิจกรรมของโครงการในสิ่งพิมพ์หรือสื่อใดก็ตามในแต่ละครั้ง  ผู้ดำเนินงานต้องประกาศหรือระบุเป็นลายลักษณ์อักษรว่า “ได้รับการสนับสนุนจากสำนักงานหลักประกันสุขภาพแห่งชาติ” เป็นภาษาไทย หรือภาษาอังกฤษแล้วแต่กรณี หรือแจ้งข้อความดังกล่าวอย่างเหมาะสมด้วยทุกครั้ง  พร้อมทั้งแสดงตราสัญลักษณ์ของ สำนักงาน ในบริเวณที่จัดกิจกรรม หรือในวัสดุ หรือเอกสารเผยแพร่ของโครงการทุกชิ้น ทั้งนี้ เป็นไปตามคู่มือการใช้งานตราสัญลักษณ์ที่สำนักงานกำหนด
            </div>
            <div class="text-1">
                ผลงานและผลผลิตที่เกิดจากการดำเนินกิจการตามโครงการตามข้อตกลงนี้ เป็นลิขสิทธิ์และกรรมสิทธิ์ของสำนักงาน หากมีการเผยแพร่และดำเนินการใดๆ เกี่ยวกับผลงานและผลผลิตที่เกิดจากการดำเนินกิจการตามโครงการ จะต้องได้รับความเห็นชอบหรือได้รับอนุญาตจากสำนักงานก่อน
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 7 </b> ผู้ดำเนินงานจะต้องไม่เอางานทั้งหมดหรือแต่บางส่วนแห่งข้อตกลงนี้ไปจ้างช่วงอีกทอดหนึ่งเว้นแต่การจ้างช่วงงานแต่บางส่วนที่ได้รับอนุญาตเป็นหนังสือจากสำนักงานแล้ว การที่สำนักงานได้อนุญาตให้จ้างช่วงงานแต่บางส่วนดังกล่าวนั้น ไม่เป็นเหตุให้ผู้ดำเนินงานหลุดพ้นจากความรับผิดหรือพันธะหน้าที่ตามข้อตกลงนี้ และผู้ดำเนินงานจะยังคงต้องรับผิดในความผิดและความประมาทเลินเล่อของผู้ดำเนินงานช่วงหรือของตัวแทนหรือลูกจ้างของผู้ดำเนินงานช่วงนั้นทุกประการ
            </div>
            <div class="text-1">
                กรณีผู้ดำเนินงานไปจ้างช่วงงานแต่บางส่วนโดยฝ่าฝืนความในวรรคหนึ่ง สำนักงานมีสิทธิบอกเลิกข้อตกลงนี้
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 8 </b> กรณีที่มีปัญหาในการปฏิบัติตามข้อตกลงนี้ ให้สำนักงานเป็นผู้มีอำนาจพิจารณาวินิจฉัยชี้ขาด คำวินิจฉัยของสำนักงานให้ถือเป็นเด็ดขาด
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 9 </b> การบอกกล่าวใดที่คู่สัญญาฝ่ายหนึ่งจะต้องแจ้งให้คู่สัญญาอีกฝ่ายหนึ่งทราบ ตามข้อตกลงนี้จะต้องทำเป็นหนังสือส่งไปยังที่อยู่ของคู่สัญญาที่ระบุไว้ในข้อตกลงนี้ หากคู่สัญญาเปลี่ยนแปลงที่อยู่ต้องแจ้งให้คู่สัญญาอีกฝ่ายหนึ่งทราบภายใน ......(......) วัน นับแต่วันเปลี่ยนแปลงที่อยู่ หากไม่แจ้งและคู่สัญญาฝ่ายใดฝ่ายหนึ่งได้ส่งหนังสือบอกกล่าวแก่คู่สัญญา ณ ที่อยู่ตามที่ระบุไว้ในข้อตกลงนี้ให้ถือว่าได้ส่งโดยชอบแล้ว
            </div>
            <br />
        </div>
    </div>
</section>

<section>
    <partial name="/Views/FM/SignatureLast.cshtml" model="Model" />
</section>

@section Scripts {
    <script src="~/js/FM.js" asp-append-version="true"></script>
}


