
@model SmartContract.Infrastructure.Resources.ContractTypeVendor.TAllMasterVendorView

@{
    ViewData["Title"] = "FM_CONTRACT_T09";
    Layout = "~/Views/Shared/_LayoutFM.cshtml";
    var lookUp = Model.CTVendor.GetLookUp;
    var indataCon = Model.InfoContract;
    var indataNhso = Model.InfoContractNhso;
    var indataVendor = Model.InfoPartnersOfContract;
    var indataConstation = Model.ContractStation;
    var conDetail = Model.InfoConDetail.ContractDetail09;
}

<link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/FM.css" asp-append-version="true" />

<section>
    <div class="main-page size-15">
        <div class="content-page ">
            <div class="text-right ">เลขที่อ้างอิง <span class="para">@indataCon.RefId</span></div>
            <div class="text-center">
                <img src="../images/logo/NHSO.png" alt="Mountain">
            </div>
            <h3 class="text-center size-17 mt-1">ข้อตกลงให้บริการสาธารณสุขตามกิจกรรมบริการ ฟอกเลือดด้วยเครื่องไตเทียม </h3>
            <div class="text-right ">สัญญาเลขที่ @(indataCon.ContractId != null ? indataCon.ContractId : "..........")</div>
            <div class="text-1">
                สัญญาฉบับนี้ทำขึ้น ณ <span class="para">@indataNhso.NhsoAddress.Header</span> เลขที่ ...... ถนน <span class="para">@indataNhso.NhsoAddress.Road</span> ตำบล/แขวง <span class="para">@indataNhso.NhsoAddress.TumbonName</span> อำเภอ/เขต <span class="para">@indataNhso.NhsoAddress.AmphurName</span> จังหวัด <span class="para">@indataNhso.NhsoAddress.ChangwatName</span> เมื่อวันที่ ........... เดือน ........... พ.ศ. ........... ระหว่าง สำนักงานหลักประกันสุขภาพแห่งชาติ โดย {10@12} ซึ่งต่อไปในสัญญานี้เรียกว่า “สำนักงาน” ฝ่ายหนึ่งกับ {11@13} สำนักงานใหญ่ตั้งอยู่ เลขที่ {12@14} ซอย {13@15} ถนน {14@16} ตำบล/แขวง {15@17} อำเภอ/เขต {16@18} จังหวัด {17@19} โดย {18@20}  ผู้ได้รับมอบอำนาจจาก {19@21} เป็นผู้มีอำนาจลงนามผูกพัน ปรากฏตามหนังสือ {20@22} เลขที่  {21@23} ลงวันที่ {22@24} เดือน {23@25} พ.ศ. {24@26} และหนังสือมอบอำนาจลงวันที่ {25@27} เดือน {26@28} พ.ศ. {27@29} แนบท้ายสัญญานี้ ซึ่งต่อไปในสัญญานี้เรียกว่า “หน่วยบริการ”อีกฝ่ายหนึ่ง
            </div>
            <br />
            <div class="text-1">
                ทั้งสองฝ่ายจึงได้ตกลงกันไว้มีข้อความ ดังต่อไปนี้

            </div>
            <div class="text-1">
                ข้อ 1 สำนักงานตกลงให้หน่วยบริการให้บริการสาธารณสุขตามกิจกรรมบริการ และหน่วยบริการได้ตกลงให้บริการรับการส่งต่อเฉพาะด้านบริการฟอกเลือดด้วยเครื่องไตเทียม ตามผนวก 1 ในข้อ 4 ของข้อตกลงนี้
            </div>
            <div class="text-1">
                ข้อ 2 หน่วยบริการ ตกลงเริ่มให้บริการรับการส่งต่อเฉพาะด้านบริการฟอกเลือดด้วยเครื่องไตเทียม ตั้งแต่วันที่ {39@41} เดือน {40@42} พ.ศ. {41@43} สิ้นสุดในวันที่ {42@44} เดือน {43@45} พ.ศ. {44@46}

            </div>
            <div class="text-1">
                ข้อ 3 หน่วยบริการ ที่ขึ้นทะเบียนเป็นหน่วยบริการที่รับการส่งต่อเฉพาะด้านบริการฟอกเลือดด้วยเครื่องไตเทียม กับ สำนักงานหลักประกันสุขภาพแห่งชาติ (สปสช.) ต้องให้บริการเป็นไปตามมาตรฐานการให้บริการสาธารณสุขและเพื่อให้การกำกับคุณภาพและมาตรฐานเฉพาะด้านการบริการฟอกเลือดด้วยเครื่องไตเทียม (Hemodialysis : HD) ในระบบหลักประกันสุขภาพแห่งชาติ โดยต้องตรวจสอบให้หน่วยฟอกเลือดด้วยเครื่องไตเทียมได้รับการรับรองของ ตรต. ตลอดระยะเวลาที่ให้บริการ กรณีพบว่าหนังสือรับรองของ ตรต. ใกล้จะหมดอายุ ให้หน่วยบริการดำเนินการยื่นคำขอรับการตรวจประเมินจาก ตรต. เพื่อต่ออายุการรับรองก่อนที่หนังสือรับรองจะหมดอายุ   ไม่น้อยกว่า 6 เดือน

            </div>
            <div class="text-1">
                กรณีที่หน่วยบริการไม่ยื่นคำขอรับการตรวจประเมินจาก ตรต. เพื่อต่ออายุการรับรองตามที่กำหนดไว้ในวรรคหนึ่ง ให้ถือว่าข้อตกลง ฉบับนี้ สิ้นสุดลง ในวันที่หนังสือรับรองของ ตรต. หมดอายุ
            </div>
            <div class="text-1">
                กรณีที่หน่วยบริการไม่ผ่านเกณฑ์การตรวจประเมินตามเกณฑ์ที่คณะกรรมการหลักประกันสุขภาพแห่งชาติหรือคณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุขกำหนดหรือหน่วยบริการ ยื่นคำขอรับการตรวจประเมินจาก ตรต. เพื่อต่ออายุการรับรองตามที่กำหนดไว้ในวรรคหนึ่งแล้ว แต่ผลการตรวจประเมินไม่ผ่านการรับรองจาก ตรต. ให้ถือว่าข้อตกลงฉบับนี้ สิ้นสุดลงในวันที่หน่วยบริการทราบผลการตรวจประเมิน

            </div>
            <div class="text-1">
                หน่วยบริการที่ไม่ประสงค์จะต่อข้อตกลง ต้องแจ้งให้สำนักงานทราบก่อนวันที่หนังสือรับรองของ ตรต.หมดอายุ หรือก่อนวันสิ้นสุดข้อตกลงไม่น้อยกว่า 90 วัน
            </div>
            <div class="text-1">
                เมื่อข้อตกลงฉบับนี้สิ้นสุดลงเนื่องจากหน่วยบริการไม่ผ่านการตรวจประเมินตามเกณฑ์ที่คณะกรรมการหลักประกันสุขภาพแห่งชาติหรือคณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุขกำหนด หรือไม่ได้รับการรับรองจาก ตรต. หรือหน่วยบริการไม่ประสงค์จะต่อข้อตกลง ให้เป็นหน้าที่ของหน่วยบริการในการส่งต่อหรือดำเนินการถ่ายโอนผู้รับบริการไปยังหน่วยบริการที่รับการส่งต่อเฉพาะด้านบริการฟอกเลือดด้วยเครื่องไตเทียมอื่นทันที

            </div>
            <div class="text-1">
                ให้ถือว่าการตรวจของ ตรต. ตามรอบระยะเวลาการตรวจประเมินของ ตรต. เป็นการตรวจประเมินคุณภาพมาตรฐานการให้บริการสาธารณสุขของหน่วยบริการตามข้อตกลงนี้ หาก ตรต. รับรองผลการตรวจประเมินว่าอยู่ในเกณฑ์มาตรฐานการให้บริการตามที่กำหนด ให้ข้อตกลงนี้มีผลต่อไป โดยให้นำผลการตรวจประเมินดังกล่าวมาแนบท้ายข้อตกลงนี้ไว้ทุกๆ รอบการประเมิน หากผลการตรวจประเมินพบว่าไม่ผ่านเกณฑ์การตรวจประเมิน หรือไม่เป็นไปตามเกณฑ์มาตรฐานที่กำหนดในข้อตกลงนี้ หรือไม่เป็นไปตามกฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง หรือหลักเกณฑ์หรือคู่มือแนวทางการปฏิบัติในเรื่องนั้นๆที่คณะกรรมการหลักประกันสุขภาพแห่งชาติ หรือคณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุข หรือสำนักงานกำหนด หรือตามหนังสือรับรองของ ตรต.กำหนด หรือหน่วยบริการถูกเพิกถอนการเป็นสถานบริการหรือสถานพยาบาล หรือถูกสำนักงานบอกเลิกข้อตกลงก่อนครบกำหนดเวลาตามวรรคสอง ให้ข้อตกลงนี้สิ้นสุดลงทันที

            </div>
            <div class="text-1">
                กรณีหน่วยบริการที่รับการส่งต่อเฉพาะด้านบริการฟอกเลือดด้วยเครื่องไตเทียม ได้ดำเนินการยื่นคำขอต่ออายุตามหนังสือรับรองของ ตรต. ภายในระยะเวลาที่กำหนดในวรรคหนึ่งแล้ว แต่ติดปัญหาที่ ตรต.ไม่สามารถตรวจรับรองได้ภายในเวลาที่กำหนด ให้หน่วยบริการจัดส่งเอกสารหลักฐานการยื่นขอตรวจรับรองจาก ตรต. ให้สำนักงานหลักประกันสุขภาพแห่งชาติเขต ในพื้นที่ของหน่วยบริการ ทราบ เพื่อพิจารณาจ่ายค่าชดเชยค่าบริการทางการแพทย์ในระหว่างรอผลการตรวจประเมินของ ตรต.

            </div>
            <br />
            <div class="text-1">
                ข้อ 4 เอกสารภาคผนวกแนบท้ายข้อตกลงดังต่อไปนี้ ให้ถือเป็นส่วนหนึ่งของข้อตกลงนี้

            </div>
            <div class="text-2">
                4.1 ผนวก 1 กิจกรรมบริการ <span class="para">@(!String.IsNullOrEmpty(conDetail.P1) ? conDetail.P1 : "-")</span> จำนวน <span class="para">@(!String.IsNullOrEmpty(conDetail.P2) ? conDetail.P2 : "-")</span> หน้า
            </div>
            <div class="text-2">
                4.2 ผนวก 2 ประกาศ/หลักเกณฑ์/มติ/คู่มือ/แนวปฏิบัติ/วิธีการเงื่อนไขการจ่ายค่าใช้จ่าย
                <span class="para">@(!String.IsNullOrEmpty(conDetail.P3) ? conDetail.P3 : "-")</span> จำนวน <span class="para">@(!String.IsNullOrEmpty(conDetail.P4) ? conDetail.P4 : "-")</span> หน้า

            </div>
            <div class="text-2">
                4.3 ผนวก <span class="para">@(!String.IsNullOrEmpty(conDetail.P5) ? conDetail.P5 : "-")</span> จำนวน <span class="para">@(!String.IsNullOrEmpty(conDetail.P6) ? conDetail.P6 : "-")</span> หน้า

            </div>
            <div class="text-1">
                ข้อความใดในเอกสารภาคผนวกแนบท้ายที่ขัดหรือแย้งกับข้อความใน ข้อตกลงนี้ให้ใช้ข้อความในข้อตกลงนี้บังคับและในกรณีที่เอกสารแนบท้ายข้อตกลงขัดหรือแย้งกันเองหรือมิได้กล่าวไว้ หน่วยบริการจะต้องปฏิบัติตามคำวินิจฉัยของสำนักงาน

            </div>
            <div class="text-1">
                ข้อ 5 สำนักงานตกลงจ่ายชดเชยการให้บริการสาธารณสุขตามกิจกรรมบริการ และหน่วยบริการตกลงรับเงินชดเชยการให้บริการสาธารณสุขตามกิจกรรมบริการ ในอัตราตามเงื่อนไขที่กำหนดในผนวก 2 หรือตามกฎ ระเบียบ ข้อบังคับ ประกาศ มิติ คำสั่ง หรือหลักเกณฑ์หรือคู่มือแนวทางการปฏิบัติของคณะกรรมการหลักประกันสุขภาพแห่งชาติ หรือคณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุข หรือสำนักงานกำหนด โดยให้ถือเป็นส่วนหนึ่งของข้อตกลงนี้ ซึ่งได้รวมภาษีมูลค่าเพิ่มตลอดจนภาษีอากรอื่นๆ และค่าใช้จ่ายทั้งปวงไว้ด้วยแล้ว

            </div>
            <div class="text-1">
                การจ่ายค่าใช้จ่ายตามวรรคหนึ่ง สำนักงานจะโอนเงินเข้าบัญชีเงินฝากธนาคารของหน่วยบริการ ชื่อธนาคาร {51@53} สาขา {52@54} ชื่อบัญชี {53@55} เลขที่บัญชี {54@56} ทั้งนี้  หน่วยบริการตกลงเป็นผู้รับภาระเงินค่าธรรมเนียมหรือค่าบริการอื่นใดเกี่ยวกับการโอนที่ธนาคารเรียกเก็บ และยินยอมให้หักเงินจากจำนวนเงินที่โอนในงวดนั้นๆ

            </div>
            <div class="text-1">
                ข้อ 6 หน่วยบริการมีหน้าที่ ปฏิบัติตามข้อกำหนดหลักเกณฑ์และเงื่อนไขในข้อ 3 และข้อ 4 และมีหน้าที่ปฏิบัติดังต่อไปนี้ เพื่อให้ผู้มีสิทธิได้รับบริการสาธารณสุขตามมาตรฐานและมีประสิทธิภาพตามที่กำหนดในกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <div class="text-2">
                6.1 ปฏิบัติตามมาตรา 45 และหน้าที่อื่นตามพระราชบัญญัติหลักประกันสุขภาพแห่งชาติ พ.ศ. 2545 กฎหมายแพ่งและพาณิชย์ กฎหมายอาญา และกฎหมายอื่นที่เกี่ยวข้อง รวมทั้งปฏิบัติตามกฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง และหลักเกณฑ์หรือคู่มือแนวทางการปฏิบัติ ของคณะกรรมการหลักประกันสุขภาพ
                แห่งชาติ หรือคณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุข หรือสำนักงาน ที่กำหนดขึ้นก่อนหรือระหว่างที่ข้อตกลงนี้มีผลใช้บังคับ และให้ถือว่ากฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง หรือหลักเกณฑ์หรือคู่มือแนวทางการปฏิบัติดังกล่าวนั้น เป็นส่วนหนึ่งของข้อตกลงนี้

            </div>
            <div class="text-2">
                6.2 ให้หน่วยบริการติดตั้งป้ายสัญลักษณ์หรือป้ายประชาสัมพันธ์ที่แสดงถึงการเป็นหน่วยบริการที่ให้บริการสาธารณสุขในระบบหลักประกันสุขภาพแห่งชาติ โดยใช้วัสดุและรูปแบบของป้าย รวมถึงสถานที่ติดตั้งตามคู่มือการใช้งานตราสัญลักษณ์ที่สำนักงานกำหนด

            </div>
            <div class="text-1">
                ข้อ 7  ในกรณีหน่วยบริการให้บริการไม่ครบถ้วนถูกต้องตามข้อตกลงหรือผิดข้อตกลง หรือละเลยหรือละเว้นไม่ปฏิบัติตามข้อตกลงข้อหนึ่งข้อใด หรือดำเนินการใดๆ ที่เชื่อได้ว่ามีการเรียกเก็บค่าใช้จ่ายเกินจริงหรือเป็นเท็จ หรือไม่เป็นไปตามระบบการส่งต่อผู้ป่วย เป็นเหตุให้เกิดความเสียหายหรือความล่าช้าแก่ผู้รับบริการหรือสำนักงาน ไม่ว่ากรณีใดๆ สำนักงานมีสิทธิบอกเลิกข้อตกลง โดยไม่ต้องบอกกล่าวล่วงหน้า และหน่วยบริการจะต้องรับผิดชอบในความเสียหายที่เกิดขึ้นทั้งสิ้น   โดยไม่มีเงื่อนไข

            </div>
            <div class="text-1">
                กรณีตามวรรคหนึ่ง หน่วยบริการยินยอมให้สำนักงานเรียกเงินที่จ่ายไปแล้วคืนได้ทั้งหมดหรือหักเงินที่ค้างจ่ายไว้ทั้งหมด หรือระงับการจ่ายเงินที่เหลือไว้ทั้งหมด หรือจ่ายเงินชดเชยค่าบริการบางส่วนตามผลงานที่เบิกจ่ายได้จริง รวมทั้งให้สำนักงานมีสิทธิหักเงินพึงจ่ายใดๆ ได้ทุกกรณีที่สำนักงานจะพึงจ่ายให้หน่วยบริการเพื่อชดใช้ความเสียหายได้ โดยไม่ต้องบอกกล่าวล่วงหน้า

            </div>
            <div class="text-1">
                ข้อ 8 กรณีหน่วยบริการให้บริการสาธารณสุขแก่ผู้มีสิทธิไม่ถูกต้องตามหลักวิชาการทางการแพทย์ หรือหลักวิชาการทางสาธารณสุข หรือเกิดความเสียหายใดๆ อันเนื่องมาจากความบกพร่องของหน่วยบริการจากการใช้วัสดุทางการแพทย์ หรือเวชภัณฑ์ หรืออุปกรณ์ในการรักษาไม่ได้มาตรฐาน หรือแพทย์ พยาบาล เจ้าหน้าที่สาธารณสุข หรือบุคลากรของหน่วยบริการ ปฏิบัติหน้าที่ด้วยความประมาทเลินเล่อ  หรือเกิดเพราะเหตุสุดวิสัยอันมิใช่ความผิดของสำนักงาน  หรือไม่ว่าด้วยเหตุใดๆ หน่วยบริการเป็นผู้รับผิดชอบค่าเสียหายต่างๆ ที่เกิดขึ้นกับผู้มีสิทธิเองทั้งหมด โดยตกลงจะไม่ใช้สิทธิเรียกร้องค่าเสียหายใดๆ จากสำนักงาน ทั้งสิ้น

            </div>
            <div class="text-1">
                ข้อ 9 หากสำนักงานได้แต่งตั้งคณะกรรมการตรวจสอบหรือคณะทำงานหรือมอบหมายให้ผู้ปฏิบัติงานของ สำนักงานหรือองค์กรอื่นหรือบุคคลอื่น เพื่อดำเนินการตรวจสอบหน่วยบริการ หรือการจัดบริการและให้บริการสาธารณสุขให้แก่ผู้มีสิทธิ ให้บุคคลหรือองค์กรที่ได้รับแต่งตั้งหรือมอบหมายดังกล่าว มีสิทธิเข้าไปตรวจการปฏิบัติงาน ของหน่วยบริการ ได้ตลอดเวลาที่หน่วยบริการเปิดทำการ โดยไม่ต้องแจ้งล่วงหน้าและหน่วยบริการ จะต้องอำนวยความสะดวกและให้ความช่วยเหลือในการดำเนินการนั้นตามสมควร และไม่กระทำการใดๆที่เป็นการบ่ายเบี่ยง ขัดขวางการปฏิบัติหน้าที่ ไม่ให้สำเร็จ หรือล่าช้าเกินสมควร หรือทำให้บุคคล คณะบุคคล ที่ได้รับมอบหมายดังกล่าว ได้รับความเสียหาย ต่อเสรีภาพ ชีวิต ร่างกาย หรือทรัพย์สิน
            </div>
            <div class="text-1">
                ข้อ 10 กรณีหน่วยบริการ มีการเปลี่ยนแปลงแพทย์ผู้รับผิดชอบหน่วยไตเทียม หัวหน้าพยาบาลหน่วยไตเทียม     ผู้ดำเนินการสถานพยาบาล พยาบาลไตเทียม จำนวนเครื่องไตเทียม พื้นที่ให้บริการ เปลี่ยนแปลงวันเวลา ทำการ เปลี่ยนชื่อหน่วยบริการหรือสถานพยาบาล หรือเปลี่ยนแปลงใดๆที่แตกต่างไปจากที่ตกลงไว้ในข้อตกลงเดิมนั้น หน่วยบริการ ต้องแจ้งให้สำนักงานทราบภายในเวลาไม่เกิน 30 วัน นับแต่วันที่มีการเปลี่ยนแปลง

            </div>
            <div class="text-1">
                ข้อ 11 สำนักงานไม่ต้องรับผิดชอบในความเสียหายใดๆตามข้อ 9 อันเกิดขึ้นกับหน่วยบริการหรือบุคลากรของหน่วยบริการตามข้อตกลงนี้ ทุกกรณี
            </div>
        </div>
    </div>
</section>
<section>
    <partial name="/Views/FM/SignatureLast.cshtml" model="Model" />
</section>

@section Scripts {
    <script src="~/js/FM.js" asp-append-version="true"></script>
}




