
@model SmartContract.Infrastructure.Resources.ContractTypeVendor.TAllMasterVendorView
@using SmartContract.Utils

@{
    ViewData["Title"] = "FM_CONTRACT_T02";
    Layout = "~/Views/Shared/_LayoutFM.cshtml";
    var lookUp = Model.CTVendor.GetLookUp;
    var indataCon = Model.InfoContract;
    var indataNhso = Model.InfoContractNhso;
    var indataVendor = Model.InfoPartnersOfContract;
    var indataConstation = Model.ContractStation;
    var conDetail = Model.InfoConDetail.ContractDetail02;
}

<link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/FM.css" asp-append-version="true" />

<section>
    <div class="main-page size-15">
        <div class="content-page ">
            <div class="text-right ">เลขที่อ้างอิง <span class="para">@indataCon.RefId</span></div>
            <div class="text-center">
                <img src="../images/logo/NHSO.png" alt="Mountain">
            </div>
            <h3 class="text-center size-17 mt-1">ข้อตกลงให้บริการสาธารณสุข</h3>
            <div class="text-right ">ข้อตกลงเลขที่ @(indataCon.ContractId != null ? indataCon.ContractId : "..........")</div>
            @*<div class="text-1">
            สัญญาฉบับนี้ทำขึ้น <span class="para">@indataNhso.NhsoAddress.Header</span> เลขที่ ........... ถนน <span class="para">@indataNhso.NhsoAddress.Road</span> ตำบล/แขวง <span class="para">@indataNhso.NhsoAddress.TumbonName</span> อำเภอ/เขต <span class="para">@indataNhso.NhsoAddress.AmphurName</span> จังหวัด <span class="para">@indataNhso.NhsoAddress.ChangwatName</span> เมื่อวันที่ ........... เดือน ........... พ.ศ. ...........
            ระหว่าง สำนักงานหลักประกันสุขภาพแห่งชาติ โดย <span class="para">@indataConstation.CreateUserFullname</span> ที่ ........... ลงวันที่ ........... แนบท้ายสัญญานี้ ซึ่งต่อไปในสัญญานี้เรียกว่า “สำนักงาน” ฝ่ายหนึ่ง กับ <span class="para">@indataVendor.VendorName</span>
            มีสำนักงานใหญ่ อยู่เลขที่ <span class="para">@indataVendor.VillageNo</span> ถนน <span class="para">@indataVendor.Road</span> ตำบล/แขวง <span class="para">@indataVendor.CATMs.DistrictName</span> อำเภอ/เขต <span class="para">@indataVendor.CATMs.AmphurName</span> จังหวัด <span class="para">@indataVendor.CATMs.ProvinceName</span>  โดย <span class="para">@(lookUp.UserSmctSigner.FirstOrDefault(x=>x.IdUserSmct == indataVendor.SmctMasterSigner.SmctMasterSignerDetail1.VendorSignerUser)?.UserFullname ?? String.Empty)</span>
            ผู้มีอำนาจลงนามผูกพันนิติบุคคล ปรากฏตามหนังสือรับรองของสำนักงานทะเบียนหุ้นส่วนบริษัท ........... เลขที่ ........... ลงวันที่ ........... เดือน ........... พ.ศ. ...........
            และหนังสือมอบอำนาจ ลงวันที่ ........... เดือน ........... พ.ศ. ........... แนบท้ายสัญญานี้ ซึ่งเป็นผู้ได้รับอนุญาตให้ประกอบกิจการสถานพยาบาลชื่อ ...........
            ตั้งอยู่เลขที่ ........... ซอย ........... ถนน ........... แขวง/ตำบล ........... เขต/อำเภอ ........... จังหวัด ........... อนุญาตประกอบกิจการสถานพยาบาล เลขที่ ...........
            ลงวันที่ ........... เดือน ........... พ.ศ. ........... ซึ่งได้ขึ้นทะเบียนเป็นหน่วยบริการตามหลักเกณฑ์ วิธีการและเงื่อนไขการขึ้นทะเบียนเป็นหน่วยบริการและเครือข่ายหน่วยบริการ
            ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ซึ่งต่อไปในสัญญานี้เรียกว่า “คู่สัญญาฝ่ายหน่วยบริการ”  อีกฝ่ายหนึ่ง
        </div>*@
            <div class="text-1">
                ข้อตกลงฉบับนี้ทำขึ้น ณ สำนักงานหลักประกันสุขภาพแห่งชาติ เขต...........เลขที่...........ซอย...........ถนน...........แขวง/ตำบล...........เขต/อำเภอ...........จังหวัด...........เมื่อวันที่...........เดือน...........พ.ศ............
                ระหว่างสำนักงานหลักประกันสุขภาพแห่งชาติ โดย...........ผู้อำนวยการสำนักงานหลักประกันสุขภาพแห่งชาติ เขต...........ปฏิบัติงานแทนเลขาธิการสำนักงานหลักประกันสุขภาพแห่งชาติ ตามคำสั่งสำนักงานหลักประกันสุขภาพแห่งชาติ ที่...........ลงวันที่...........แนบท้ายสัญญานี้
                ซึ่งต่อไปในข้อตกลงนี้เรียกว่า “สำนักงาน” ฝ่ายหนึ่ง กับ...........เลขที่...........ถนน...........แขวง/ตำบล...........เขต/อำเภอ...........จังหวัด...........โดย...........ตำแหน่ง...........(ตามคำสั่งเลขที่ลงวันที่...........แนบท้ายข้อตกลงนี้)
                ซึ่งเป็นนิติบุคคลต้นสังกัดของสถานบริการชื่อ...........ตั้งอยู่เลขที่...........ซอย...........ถนน...........แขวง/ตำบล...........เขต/อำเภอ...........จังหวัด...........ซึ่งได้ขึ้นทะเบียนเป็นหน่วยบริการตามข้อบังคับคณะกรรมการหลักประกันสุขภาพแห่งชาติ
                ว่าด้วยหลักเกณฑ์ วิธีการและเงื่อนไขการขึ้นทะเบียนเป็นหน่วยบริการและเครือข่ายหน่วยบริการตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ซึ่งต่อไปในข้อตกลงนี้เรียกว่า “คู่สัญญาฝ่ายหน่วยบริการ” อีกฝ่ายหนึ่ง
            </div>
            <br />
            <div class="text-1">ทั้งสองฝ่ายได้ตกลงกันมีข้อความ ดังต่อไปนี้</div>
            <div class="text-1"><b>ข้อ 1 บทนิยาม</b> </div>
            <div class="text-1">
                เว้นแต่ข้อความจะแสดงให้เห็นเป็นอย่างอื่นในสัญญานี้
            </div>
            <div class="text-1">
                “ผู้มีสิทธิ ”  หมายความว่า  บุคคลผู้มีสิทธิได้รับบริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <div class="text-1">
                “บริการสาธารณสุข” หมายความว่า  บริการด้านการแพทย์และสาธารณสุขซึ่งให้โดยตรงแก่บุคคล เพื่อการสร้างเสริมสุขภาพ  การป้องกันโรค  การตรวจวินิจฉัยโรค  การรักษาพยาบาลและการฟื้นฟูสมรรถภาพที่จำเป็นต่อสุขภาพและการดำรงชีวิต  ทั้งนี้  ให้รวมถึงการบริการทางการแพทย์แผนไทยและการแพทย์ทางเลือกตามกฎหมายว่าด้วยการประกอบโรคศิลปะ
            </div>
            <div class="text-1">
                “หน่วยบริการ” หมายความว่า สถานบริการที่ได้ขึ้นทะเบียนไว้ ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ และตาม กฎ ระเบียบ ข้อบังคับ ประกาศ ของสำนักงานหลักประกันสุขภาพแห่งชาติ
            </div>
            <div class="text-1">
                “ประเภทและขอบเขตบริการสาธารณสุข” หมายความว่า ประเภทและขอบเขตของบริการสาธารณสุข ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ หรือตามระเบียบกระทรวงสาธารณสุข ว่าด้วยหลักประกันสุขภาพ   หรือตามประกาศคณะกรรมการหลักประกันสุขภาพแห่งชาติ หรือตามมติคณะกรรมการหลักประกันสุขภาพแห่งชาติ ที่ให้ผู้มีสิทธิพึงได้รับความคุ้มครองค่าบริการทางการแพทย์ ค่าบริการ หรือค่าใช้จ่ายเพื่อบริการสาธารณสุข ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ และที่แก้ไขเพิ่มเติม
            </div>
            <div class="text-1">
                “คณะกรรมการ” หมายความว่า คณะกรรมการหลักประกันสุขภาพแห่งชาติ  ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <div class="text-1">
                “คณะกรรมการควบคุมคุณภาพและมาตรฐาน” หมายความว่า  คณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุข  ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <div class="text-1">
                “เจ็บป่วยฉุกเฉิน” หมายความว่า เจ็บป่วยฉุกเฉินซึ่งผู้มีสิทธิมีสิทธิรับบริการสาธารณสุขจากสถานบริการ ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <div class="text-1">
                ถ่อยคำอื่นใดที่ไม่ได้ระบุความหมายหรือบทนิยามไว้ในสัญญานี้ ให้พิจารณาความหมายของถ่อยคำนั้นตาม กฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <br />
            <div class="text-1">
                <b>
                    ข้อ 2  เอกสารอันเป็นส่วนหนึ่งของข้อตกลง
                </b>
            </div>
            <div class="text-1">
                เอกสารแนบท้ายข้อตกลง ดังต่อไปนี้  ให้ถือเป็นส่วนหนึ่งของข้อตกลงนี้ด้วย
            </div>
            <div class="text-1">
                2.1 ผนวก 1 เอกสารการสมัคร/การประเมินและขอมูลพื้นฐานหนวยบริการและเครือขายหนวยบริการในรูปอิเล็กทรอนิกสของคูสัญญาฝายหนวยบริการ จำนวน ...........(...........) หน้า
            </div>
            <div class="text-1">
                2.2 ผนวก 2 ประเภทและรายชื่อบุคลากรประจำหน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการจำนวน ...........(...........) หน้า

            </div>
            <div class="text-1">
                2.3 ผนวก 3 การให้บริการสร้างเสริมสุขภาพและป้องกันโรค จำนวน ...........(...........) หน้า
            </div>
            <div class="text-1">
                2.4 ผนวก 4  .......
            </div>
            <div class="text-1">
                ข้อความใด ในเอกสารแนบท้ายข้อตกลงที่ขัดหรือแย้งกับข้อความในข้อตกลงนี้ ให้ใช้ข้อความในข้อตกลงนี้บังคับ  และในกรณีที่เอกสารแนบท้ายข้อตกลงขัดหรือแย้งกันเอง  หน่วยบริการจะต้องปฏิบัติตามคำวินิจฉัยของสำนักงานคำวินิจฉัยของสำนักงานให้ถือเป็นที่สุด และหน่วยบริการไม่มีสิทธิเรียกร้องค่าชดเชย ค่าเสียหายหรือค่าใช้จ่ายใดๆ เพิ่มเติมจากสำนักงานทั้งสิ้น
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 3 ข้อตกลงให้บริการสาธารณสุข</b>
            </div>
            <div class="text-1">
                3.1 คู่สัญญาฝ่ายหน่วยบริการที่เป็นหน่วยบริการได้รับขึ้นทะเบียน ตามกฎ ระเบียบ ข้อบังคับ ประกาศ เกี่ยวกับเกณฑ์การขึ้นทะเบียนและหรือเกณฑ์การตรวจประเมินเพื่อขึ้นทะเบียนเป็นหน่วยบริการ และที่แก้ไขเพิ่มเติม และหรือตามที่คณะกรรมการ หรือสำนักงานกำหนด เพื่อให้บริการสาธารณสุขในกิจกรรมบริการผู้ป่วยใน หรือกิจกรรมบริการผู้ป่วยนอก หรือกิจกรรมบริการสร้างเสริมสุขภาพและป้องกันโรค หรือกิจกรรมบริการอื่น ๆ
            </div>
            <div class="text-2">
                ประเภทหน่วยบริการ
            </div>
            <div class="text-2">
                ( @(@conDetail.P12 == "1" ? "/" : Html.Raw("&nbsp"))  ) หน่วยบริการประจำ
            </div>
            <div class="text-2">
                หน่วยบริการที่รับการส่งต่อ คือ ...........
            </div>
            <div class="text-2">
                ( @(@conDetail.P12 == "2" ? "/" : Html.Raw("&nbsp")) ) หน่วยบริการปฐมภูมิ
            </div>
            <div class="text-2">
                ( @(@conDetail.P12 == "3" ? "/" : Html.Raw("&nbsp")) ) หน่วยบริการที่รับการส่งต่อ
            </div>
            <div class="text-3">
                ( @(conDetail.P16 == "true" ? "/" : Html.Raw("&nbsp")) ) ทั่วไป
            </div>
            <div class="text-3">
                ( .... ) เฉพาะด้าน ...........
            </div>
            <div class="text-2">
                คู่สัญญาฝ่ายหน่วยบริการตกลงให้บริการสาธารณสุขแก่ผู้มีสิทธิ ตามสิทธิประโยชน์ ประเภท
                และขอบเขตของบริการสาธารณสุข ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ทั้งนี้ ตามประเภทของหน่วยบริการ ดังต่อไปนี้
            </div>
            <div class="text-2">
                (1) หน่วยบริการประจำ ตกลงให้บริการสาธารณสุขแก่ผู้มีสิทธิอย่างเป็นองค์รวมในการจัดบริการสาธารณสุขระดับปฐมภูมิที่จำเป็นต่อสุขภาพและการดำรงชีวิต รวมทั้งการสร้างเสริมสุขภาพ การป้องกันโรค การตรวจวินิจฉัยโรค การรักษาพยาบาล และการฟื้นฟูสมรรถภาพ ตามหลักเกณฑ์ วิธีการและเงื่อนไขการขึ้นทะเบียนเป็นหน่วยบริการและเครือข่ายหน่วยบริการตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ตามที่สำนักงานตรวจสอบได้ โดยจำนวนผู้มีสิทธิที่หน่วยบริการจะต้องให้บริการสาธารณสุขจริง อาจจะมากกว่าหรือน้อยกว่าจำนวนดังกล่าวได้ในฐานข้อมูลของผู้มีสิทธิที่ได้ลงทะเบียนเลือกหน่วยบริการประจำนี้ไว้
            </div>
            <div class="text-2">
                หน่วยบริการประจำต้องจัดหาหน่วยบริการที่รับการส่งต่อมาทดแทนภายใน 90 (เก้าสิบ) วัน
                นับแต่ได้รับการแจ้งจากหน่วยบริการที่รับการส่งต่อว่าไม่ประสงค์จะเป็นหน่วยบริการที่รับการส่งต่อของหน่วย
                บริการประจำดังกล่าว และแจ้งผลการจัดหาต่อสำนักงาน หากพ้นกำหนดระยะเวลาดังกล่าวแล้วยังไม่สามารถ
                จัดหาหน่วยบริการที่รับการส่งต่อทดแทนได้ อันเป็นเหตุให้หน่วยบริการประจำนั้นไม่มีหน่วยบริการที่รับการ
                ส่งต่อ ให้ถือว่าหน่วยบริการประจำนั้นขาดคุณสมบัติการเป็นหน่วยบริการประจำตามหลักเกณฑ์ วิธีการและ
                เงื่อนไขการขึ้นทะเบียนเป็นหน่วยบริการและเครือข่ายหน่วยบริการตามกฎหมายว่าด้วยหลักประกันสุขภาพ
                แห่งชาติ เนื่องจากไม่มีเครือข่ายหน่วยบริการ เพื่อการส่งต่อผู้รับบริการไปรับการบริการสาธารณสุขในกรณีที่
                เกินขีดความสามารถตามหลักเกณฑ์ วิธีการและเงื่อนไขการขึ้นทะเบียนเป็นหน่วยบริการและเครือข่าย
                หน่วยบริการ ที่คณะกรรมการหรือสำนักงานกำหนด
            </div>
            <div class="text-2">
                กรณีหน่วยบริการประจำประสงค์เปลี่ยนแปลงหน่วยบริการที่รับการส่งต่อ ให้ทำเป็นหนังสือ
                แจ้งต่อสำนักงานหลักประกันสุขภาพแห่งชาติก่อนถึงกำหนดระยะเวลาสิ้นสุดข้อตกลงตามข้อ 8.1 หรือข้อ 8.2  แล้วแต่กรณี ไม่น้อยกว่า 180 (หนึ่งร้อยแปดสิบ) วัน โดยให้มีผลในวันที่ 1 ตุลาคมของปีงบประมาณถัดไป เว้นแต่มีเหตุจำเป็นที่ไม่อาจบอกกล่าวตามกำหนดระยะเวลาดังกล่าวได้และต้องได้รับความเห็นชอบจากสำนักงาน
            </div>
            <div class="text-2">
                (2) หน่วยบริการปฐมภูมิ ตกลงให้บริการสาธารณสุขแก่ผู้มีสิทธิในพื้นที่หรือในความรับผิดชอบของหน่วยบริการประจำในเครือข่ายของหน่วยบริการขั้นพื้นฐานระดับปฐมภูมิด้านเวชกรรม หรือทันตกรรมขั้นพื้นฐานได้อย่างเป็นองค์รวม ตามหลักเกณฑ์ วิธีการและเงื่อนไข การขึ้นทะเบียนเป็นหน่วยบริการและเครือข่ายหน่วยบริการ ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ตามที่สำนักงานตรวจสอบได้ในฐานข้อมูลของผู้มีสิทธิที่ได้ลงทะเบียนเลือกหน่วยบริการประจำนี้ไว้
            </div>
            <div class="text-2">
                (3) หน่วยบริการที่รับการส่งต่อ ตกลงให้บริการสาธารณสุขแก่ผู้มีสิทธิโดยจัดบริการสาธารณสุขระดับ ทุติยภูมิ ตติยภูมิ หรือเฉพาะด้าน ให้แก่ผู้มีสิทธิที่ได้รับการส่งต่อ หรือได้รับความเห็นชอบมาจากหน่วยบริการประจำ หรือมาจากหน่วยบริการอื่น หรือจากสำนักงาน ตามหลักเกณฑ์ วิธีการและเงื่อนไขการขึ้นทะเบียนเป็นหน่วยบริการและเครือข่ายหน่วยบริการตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ตามที่สำนักงานตรวจสอบได้ในฐานข้อมูลของผู้มีสิทธิที่ได้ลงทะเบียนเลือกหน่วยบริการประจำนี้ไว้
            </div>
            <div class="text-1">
                ทั้งนี้หน่วยบริการที่รับการส่งต่อตกลงให้บริการสาธารณสุขแก่ผู้มีสิทธิของหน่วยบริการประจำ กรณีที่หน่วยบริการประจำในเครือข่ายปิดทำการ หรือไม่เปิดให้บริการตามวันและเวลาที่แจ้งไว้ตามข้อ 3.2 ด้วย
            </div>
            <div class="text-1">
                3.2 คู่สัญญาฝ่ายหน่วยบริการตกลงเปิดทำการและให้บริการแก่ผู้มีสิทธิไม่น้อยกว่าวันและเวลาที่กำหนดไว้ ดังต่อไปนี้
            </div>
            <div class="text-2">
                3.2.1 กรณีหน่วยบริการประจำและ/หรือปฐมภูมิ ไม่น้อยกว่า 56 (ห้าสิบหก) ชั่วโมง ต่อสัปดาห์
            </div>
            <div class="text-3">
                (1) วันจันทร์ - วันศุกร์  เวลา
                @if (conDetail.IsP47)
                {
                    <span class="para"> เปิดให้บริการ 24 ชั่วโมง</span>
                }
                else
                {
                    <span class="para">@conDetail.P48 ถึงเวลา @conDetail.P49</span>
                }
            </div>
            <div class="text-3">
                (2) วันเสาร์ - วันอาทิตย์ เวลา
                @if (conDetail.IsP50)
                {
                    <span class="para"> เปิดให้บริการ 24 ชั่วโมง</span>
                }
                else
                {
                    <span class="para">@conDetail.P51 ถึงเวลา @conDetail.P52</span>
                }
            </div>
            <div class="text-2">
                3.2.2 กรณีหน่วยบริการที่รับการส่งต่อทั่วไปและ/หรือเฉพาะด้าน ไม่น้อยกว่า 56 (ห้าสิบหก) ชั่วโมง ต่อสัปดาห์
            </div>
            <div class="text-3">
                (1) วันจันทร์ - วันศุกร์  เวลา
                @if (conDetail.IsP53)
                {
                    <span class="para"> เปิดให้บริการ 24 ชั่วโมง</span>
                }
                else
                {
                    <span class="para">@conDetail.P54 ถึงเวลา @conDetail.P55</span>
                }
            </div>
            <div class="text-3">
                (2) วันเสาร์ - วันอาทิตย์ เวลา
                @if (conDetail.IsP56)
                {
                    <span class="para"> เปิดให้บริการ 24 ชั่วโมง</span>
                }
                else
                {
                    <span class="para">@conDetail.P57 ถึงเวลา @conDetail.P58</span>
                }
            </div>
            <br />
            <div class="text-1">
                กรณีหน่วยบริการที่มีผู้มีสิทธิมากกว่า 10,000 (หนึ่งหมื่น) คน รวมเวลาเปิดทำการและให้บริการแก่ผู้มีสิทธิ ให้เป็นไปตามที่สำนักงานประกาศกำหนด
            </div>
            <div class="text-1">
                กรณีหน่วยบริการไม่เปิดทำการในวันเวลาที่กำหนดไว้ในข้อ 3.2 จะกระทำได้ต่อเมื่อคู่สัญญาฝ่ายหน่วยบริการ ได้ขอความยินยอมเป็นหนังสือจากสำนักงานล่วงหน้าก่อนไม่น้อยกว่า 7 (เจ็ด) วันทำการ และต้องได้รับความยินยอมเป็นหนังสือจากสำนักงานแล้วเท่านั้น และเมื่อคู่สัญญาฝ่ายหน่วยบริการได้รับความยินยอมจากสำนักงานแล้ว คู่สัญญาฝ่ายหน่วยบริการมีหน้าที่ปิดประกาศประชาสัมพันธ์ล่วงหน้าก่อนวันปิดทำการไม่น้อยกว่า 3 (สาม) วัน โดยปิดประกาศไว้ในที่ที่สามารถให้ผู้มีสิทธิมองเห็นได้อย่างชัดเจน รวมทั้งในการปิดประกาศนั้นต้องแจ้งให้ผู้มีสิทธิทราบว่าในขณะปิดทำการผู้มีสิทธิสามารถไปเข้ารับบริการได้ที่หน่วยบริการหรือสถานบริการสาธารณสุขใดได้บ้าง
            </div>
            <div class="text-1">
                กรณีที่หน่วยบริการไม่เปิดให้บริการตามวันและเวลาที่แจ้งไว้ข้างต้น ทำให้ผู้มีสิทธิไม่สามารถเข้ารับบริการได้ เป็นเหตุให้ผู้มีสิทธิไปรับบริการที่หน่วยบริการที่รับการส่งต่อหรือหน่วยบริการอื่นใด ให้คู่สัญญาฝ่ายหน่วยบริการนั้นต้องตามจ่ายค่าใช้จ่ายให้แก่หน่วยบริการที่รับการส่งต่อหรือหน่วยบริการอื่นที่ให้บริการแก่ผู้มีสิทธิ
                หากคู่สัญญาฝ่ายหน่วยบริการไม่ตามจ่าย คู่สัญญาฝ่ายหน่วยบริการตกลงยินยอมให้สำนักงานมีสิทธิหักค่าใช้จ่ายที่พึงได้ของหน่วยบริการนั้น เพื่อจ่ายให้แก่หน่วยบริการที่รับการส่งต่อหรือหน่วยบริการอื่นได้

            </div>
            <div class="text-1">

            </div>
            <div class="text-1">
                3.3 คู่สัญญาฝ่ายหน่วยบริการตกลงจัดให้มีบุคลากรประจำหน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการ  ตลอดเวลาที่เปิดทำการและให้บริการสาธารณสุข ตามประเภทของบุคลากรทางการแพทย์ ตามเอกสารแนบท้ายข้อตกลงผนวก 2 ปรับปรุงข้อมูลในระบบข้อมูลพื้นฐานหน่วยบริการ ให้สอดคล้องกับจำนวนประชากร กิจกรรมบริการ และบุคลากรทางการแพทย์ ทั้งนี้ ต้องไม่ต่ำกว่ามาตรฐานที่สำนักงานกำหนด
            </div>
            <div class="text-1">
                3.4 ภายหลังจากคู่สัญญาฝ่ายหน่วยบริการลงนามในข้อตกลงนี้แล้ว ต่อมาหากคู่สัญญาฝ่ายหน่วยบริการประสงค์รับดำเนินกิจกรรมหรือแผนงานหรือโครงการ ที่เป็นการให้บริการสาธารณสุขอันอยู่ในชุดสิทธิประโยชน์ หรือขอบเขตการให้บริการสาธารณสุข ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ หรือการดำเนินกิจกรรมหรือแผนงานหรือโครงการ ที่เป็นการจ่ายชดเชยตามผลงาน ตามกฎ ระเบียบ ประกาศ ข้อบังคับ คู่มือหรือแนวทางปฏิบัติ
                ที่คณะกรรมการหรือสำนักงานกำหนด คู่สัญญาฝ่ายหน่วยบริการไม่ต้องทำนิติกรรมใดๆ เพิ่มเติมอีก โดยให้ถือว่ากิจกรรมหรือแผนงานหรือโครงการที่ตอบรับดำเนินงานที่แนบมาเพิ่มเติมนั้นเป็นเงื่อนไขหนึ่งของข้อตกลงให้บริการสาธารณสุข ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ที่คู่สัญญาฝ่ายหน่วยบริการได้ลงนามกับสำนักงานไว้แต่แรกแล้ว
            </div>
            <div class="text-1">
                กรณีคู่สัญญาฝ่ายหน่วยบริการตกลงรับดำเนินกิจกรรมหรือแผนงานหรือโครงการของสำนักงานเพิ่มเติม ภายหลังลงนามในข้อตกลงนี้ และกิจกรรมหรือแผนงานหรือโครงการนั้น มีลักษณะตามที่คณะกรรมการหรือสำนักงานกำหนดให้มีการบริหารจัดการเป็นการเฉพาะ หากเป็นกรณีวงเงินสนับสนุนไม่เกิน 2,000,000 บาท (สองล้านบาทถ้วน) ให้คู่สัญญาฝ่ายหน่วยบริการทำหนังสือแสดงความจำนงตอบรับการดำเนินงาน หรือกรณีที่มีวงเงินสนับสนุนเกิน 2,000,000 บาท (สองล้านบาทถ้วน) ขึ้นไป ให้คู่สัญญาฝ่ายหน่วยบริการทำข้อตกลงดำเนินงานตามโครงการ ตามแบบที่สำนักงานกำหนด
            </div>
            <div class="text-1">
                3.5 การที่คู่สัญญาฝ่ายหน่วยบริการยังคงให้บริการสาธารณสุขแก่ผู้มีสิทธิจนสิ้นสุดการรักษาในครั้งนั้นตามข้อ 5.12 ไม่เป็นเหตุให้คู่สัญญาฝ่ายหน่วยบริการจะอ้างสิทธิใดๆ ในการต่ออายุข้อตกลงนี้หรือเพื่อให้สำนักงานเข้าทำข้อตกลง เพื่อให้ผู้มีสิทธิเข้าทำการรับบริการสาธารณสุขในหน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการนั้นต่อไป แต่ประการใด
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 4 การตรวจสอบหน่วยบริการหรือการบริการสาธารณสุขด้านต่างๆ </b>
            </div>
            <div class="text-1">
                4.1 หากสำนักงานได้แต่งตั้งคณะกรรมการตรวจสอบหรือคณะทำงานหรือมอบหมายให้ผู้ปฏิบัติงานของสำนักงาน  หรือองค์กรอื่นหรือบุคคลอื่น เพื่อดำเนินการตรวจสอบหน่วยบริการหรือการจัดบริการและให้บริการสาธารณสุขให้แก่ผู้มีสิทธิ ให้บุคคลหรือองค์กรที่ได้รับแต่งตั้งหรือมอบหมายดังกล่าว มีสิทธิเข้าไปร่วมกับพนักงานเจ้าหน้าที่ในการปฏิบัติหน้าที่ตามพระราชบัญญัติหลักประกันสุขภาพแห่งชาติ พ.ศ. 2545 ในการตรวจการปฏิบัติงาน ตรวจยา เวชภัณฑ์ ครุภัณฑ์ หรือเอกสารของคู่สัญญาฝ่ายหน่วยบริการได้ตลอดเวลาที่หน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการเปิดทำการ โดยคู่สัญญาฝ่ายหน่วยบริการจะต้องอำนวยความสะดวก และให้ความช่วยเหลือในการดำเนินการนั้นตามสมควร และไม่กระทำการใดๆ ที่เป็นการบ่ายเบี่ยง ขัดขวางการปฏิบัติหน้าที่ไม่ให้สำเร็จ หรือล่าช้าเกินสมควร หรือทำให้บุคคล คณะบุคคล ที่ได้รับการแต่งตั้งหรือมอบหมายดังกล่าว ได้รับความเสียหายต่อเสรีภาพ ชีวิต ร่างกาย หรือทรัพย์สิน
            </div>
            <div class="text-1">
                ทั้งนี้ การที่หน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการได้รับการตรวจสอบจากคณะกรรมการตรวจสอบ คณะทำงาน ผู้ปฏิบัติงานของสำนักงาน องค์กรอื่นหรือบุคคลอื่นแล้ว ไม่ทำให้คู่สัญญาฝ่ายหน่วยบริการนั้นพ้นความรับผิดชอบตามข้อตกลงนี้
            </div>
            <div class="text-1">
                4.2  บุคคลหรือองค์กรที่ได้รับแต่งตั้งหรือมอบหมายตามข้อ 4.1 มีสิทธิที่จะให้คำปรึกษา
                แนะนำแก่พนักงานเจ้าหน้าที่เพื่อดำเนินการตามขั้นตอนของกฎหมายในการ สั่งให้คู่สัญญาฝ่ายหน่วยบริการ แก้ไข เปลี่ยนแปลง เพิ่มเติม หรือปฏิบัติให้ถูกต้องตามข้อตกลงนี้ได้ และคู่สัญญาฝ่ายหน่วยบริการต้องปฏิบัติตามคำสั่งภายในระยะเวลาที่สำนักงานกำหนด ทั้งนี้คณะกรรมการตรวจสอบ คณะทำงาน ผู้ปฏิบัติงานของสำนักงาน องค์กรอื่นหรือบุคคลอื่น ไม่มีสิทธิแก้ไขเปลี่ยนแปลงข้อตกลงนี้
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 5 หน้าที่ของคู่สัญญาฝ่ายหน่วยบริการ</b>
            </div>
            <div class="text-1">
                เพื่อให้ผู้มีสิทธิได้รับบริการสาธารณสุขที่มีมาตรฐานและมีประสิทธิภาพตามที่กำหนดไว้ในกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ให้คู่สัญญาฝ่ายหน่วยบริการมีหน้าที่ ดังต่อไปนี้
            </div>
            <div class="text-1">
                5.1  คู่สัญญาฝ่ายหน่วยบริการมีหน้าที่ปฏิบัติตามมาตรา 45 แห่งพระราชบัญญัติหลักประกันสุขภาพแห่งชาติ พ.ศ. 2545 และมีหน้าที่อื่นตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ กฎหมายแพ่ง กฎหมายอาญา และกฎหมายอื่นที่เกี่ยวข้อง รวมทั้งปฏิบัติตามกฎ ระเบียบ ข้อบังคับ ประกาศ หลักเกณฑ์ มติ คำสั่ง คู่มือหรือแนวปฏิบัติของคณะกรรมการ หรือคณะกรรมการควบคุมคุณภาพและมาตรฐาน หรือคณะอนุกรรมการ หรือสำนักงาน
                ที่กำหนดขึ้นก่อนหรือระหว่างหรือภายหลังที่ข้อตกลงนี้มีผลใช้บังคับ และให้ถือว่ากฎ ระเบียบ ข้อบังคับ ประกาศ หลักเกณฑ์ มติ คำสั่ง คู่มือหรือแนวปฏิบัติดังกล่าวนั้น เป็นส่วนหนึ่งของข้อตกลงนี้ด้วย
            </div>
            <div class="text-1">
                ทั้งนี้ หากคู่สัญญาฝ่ายหน่วยบริการตกลงกับหน่วยบริการอื่น หรือสถานบริการอื่นเป็นอย่างอื่นที่ขัดแย้ง หรือฝ่าฝืนหน้าที่ของคู่สัญญาฝ่ายหน่วยบริการ สำนักงานจะไม่ผูกพันตามข้อความและเงื่อนไขต่างๆ ที่คู่สัญญาฝ่ายหน่วยบริการได้ตกลงกับหน่วยบริการอื่นหรือสถานบริการอื่นนั้น
            </div>
            <div class="text-1">
                5.2 หน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการที่สำนักงานประกาศกำหนดให้เป็นหน่วยงาน
                รับคำขอลงทะเบียนเพื่อเลือกหน่วยบริการหรือเปลี่ยนแปลงหน่วยบริการประจำ ให้ปฏิบัติหน้าที่ตามที่
                สำนักงานกำหนด
            </div>
            <div class="text-1">
                5.3 กรณีเครือข่ายของหน่วยบริการประจำ เครือข่ายปฐมภูมิ หรือเครือข่ายเพื่อการส่งต่อ
                ผู้รับบริการ ให้บริการแก่ผู้มีสิทธิแทนหน่วยบริการประจำ ในกรณีหน่วยบริการประจำปิดทำการ หรือให้บริการ
                นอกเวลาทำการของหน่วยบริการประจำ หน่วยบริการเครือข่ายนั้นจะเรียกเก็บค่าบริการจากผู้รับบริการไม่ได้
            </div>
            <div class="text-1">
                5.4 สถานบริการที่ได้รับขึ้นทะเบียนเป็นหน่วยบริการที่รับการส่งต่อระดับตติยภูมิหรือเฉพาะด้าน ให้ปฏิบัติหน้าที่ตามที่คณะกรรมการหรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                5.5 คู่สัญญาฝ่ายหน่วยบริการมีหน้าที่ตรวจสอบสิทธิของผู้รับบริการต้องแจ้งสิทธิดังกล่าวให้ผู้รับบริการรับทราบ โดยห้ามเรียกเก็บค่าบริการจากผู้มีสิทธิหรือผู้เกี่ยวข้อง และห้ามกระทำการใดๆ ที่ชักจูงหรือโน้มน้าวให้ผู้รับบริการสละสิทธิ หรือไม่ประสงค์ใช้สิทธิรับบริการสาธารณสุข ตามสิทธิที่ผู้รับบริการจะได้รับตามกฎหมาย หรือหากพบว่าผู้รับบริการเป็นผู้มีสิทธิตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ในกรณีหนึ่งกรณีใด ดังต่อไปนี้
            </div>
            <div class="text-2">
                (1) เป็นผู้มีสิทธิของหน่วยบริการหรือเครือข่ายหน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการ
            </div>
            <div class="text-2">
                (2) เป็นผู้มีสิทธิของหน่วยบริการอื่นที่เข้ารับบริการในกรณีอุบัติเหตุหรือกรณีเจ็บป่วย
                ฉุกเฉิน หรือกรณีที่มีเหตุสมควร
            </div>
            <div class="text-2">
                (3) เป็นผู้มีสิทธิที่ยังไม่ได้ลงทะเบียน
            </div>
            <div class="text-1">
                หากผู้รับบริการได้รับทราบสิทธิของตนแล้ว แต่ไม่ประสงค์จะใช้สิทธิรับบริการสาธารณสุขตามกฎหมายในครั้งนั้น ให้ผู้รับบริการเขียนหนังสือแสดงเจตนาไม่ขอใช้สิทธิด้วยลายมือตนเองทั้งฉบับไว้เป็นหลักฐาน ทั้งนี้ต้องพิจารณามูลเหตุจูงใจหรือการโน้มน้าวตามวรรคหนึ่งประกอบด้วย และหนังสือแสดงเจตนานั้นผู้รับบริการจะเพิกถอนเมื่อใดก็ได้ โดยไม่จำเป็นต้องทำเป็นหนังสือเนื่องจากเป็นสิทธิที่กฎหมายรองรับ
            </div>
            <div class="text-1">
                หากเป็นกรณีที่นอกเหนือจากวรรคหนึ่งวรรคสอง และคู่สัญญาฝ่ายหน่วยบริการต้องการเรียกเก็บค่าใช้จ่าย คู่สัญญาฝ่ายหน่วยบริการต้องอธิบายให้ผู้มีสิทธิหรือผู้เกี่ยวข้องรับทราบรายละเอียดและข้อเท็จจริงเกี่ยวกับการใช้สิทธิ พร้อมทั้งให้ผู้มีสิทธิเขียนหนังสือแสดงเจตนาว่าได้รับทราบคำอธิบายและยินยอมชำระค่าใช้จ่ายไว้เป็นหลักฐานด้วยลายมือของผู้มีสิทธิหรือผู้เกี่ยวข้องด้วยตนเอง ทั้งนี้ต้องพิจารณามูลเหตุจูงใจหรือการโน้มน้าวผู้มีสิทธิตามวรรคหนึ่งและวรรคสองประกอบด้วย
            </div>
            <div class="text-1">
                5.6 คู่สัญญาฝ่ายหน่วยบริการต้องจัดเตรียมเตียงและห้องสามัญให้แก่ผู้รับบริการอย่างเพียงพอ หากคู่สัญญาฝ่ายหน่วยบริการไม่มีเตียงและไม่มีห้องสามัญให้บริการแก่ผู้มีสิทธิและได้จัดให้ผู้มีสิทธิพักในห้องพิเศษเพื่อรอเตียงตามสิทธิ หรือกรณีจัดให้ผู้รับบริการพักในห้องพิเศษโดยมิใช่ความต้องการของผู้รับบริการ ในขณะที่คู่สัญญาฝ่ายหน่วยบริการมีเตียงและมีห้องสามัญที่เพียงพอ ห้ามคู่สัญญาฝ่ายหน่วยบริการเรียกเก็บค่าใช้จ่ายจากผู้รับบริการ เว้นแต่ผู้รับบริการแสดงความประสงค์จะพักในห้องพิเศษ ให้คู่สัญญาฝ่ายหน่วยบริการเรียกเก็บเงินค่าใช้จ่ายเฉพาะค่าห้องพิเศษในส่วนที่เกินจากค่าห้องค่าเตียงสามัญได้เท่านั้น
            </div>
            <div class="text-1">
                5.7 คู่สัญญาฝ่ายหน่วยบริการมีหน้าที่ให้บริการสาธารณสุขแก่ผู้มีสิทธิตลอดเวลาที่เปิดทำการ และให้บริการแก่ผู้มีสิทธิในกรณีอุบัติเหตุ หรือกรณีเจ็บป่วยฉุกเฉิน หรือกรณีมีเหตุสมควร รวมทั้งผู้มีสิทธิตามมาตรา 8 แห่งพระราชบัญญัติหลักประกันสุขภาพแห่งชาติ พ.ศ. 2545
            </div>
            <div class="text-1">
                5.8 คู่สัญญาฝ่ายหน่วยบริการมีหน้าที่ปรับปรุงและบันทึกข้อมูลพื้นฐานหน่วยบริการและเครือข่ายหน่วยบริการ ตามเอกสารแนบท้ายข้อตกลงผนวก 1 ให้เป็นปัจจุบัน
            </div>
            <div class="text-1">
                5.9  คู่สัญญาฝ่ายหน่วยบริการมีหน้าที่ส่งรายงาน ข้อมูล สถิติการให้บริการสาธารณสุข
                ของคู่สัญญาฝ่ายหน่วยบริการ ตามประกาศคณะกรรมการหลักประกันสุขภาพแห่งชาติ เรื่อง หลักเกณฑ์
                การดำเนินงานและการบริหารจัดการกองทุนหลักประกันสุขภาพแห่งชาติสำหรับผู้มีสิทธิ หลักประกันสุขภาพ
                แห่งชาติประจำปีงบประมาณ และคู่มือบริหารกองทุนหลักประกันสุขภาพแห่งชาติ หรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                5.10 กรณีมีการเปลี่ยนแปลงเครือข่ายหน่วยบริการนอกเหนือจากที่กำหนดไว้ตามข้อ 3.1 (1) วรรคสองและวรรคสาม ให้คู่สัญญาฝ่ายหน่วยบริการแจ้งให้สำนักงานทราบ และในการเปลี่ยนแปลงเครือข่ายหน่วยบริการทุกกรณีคู่สัญญาฝ่ายหน่วยบริการมีหน้าที่ปิดประกาศประชาสัมพันธ์ให้ผู้มีสิทธิทราบล่วงหน้าไม่น้อยกว่า 15 (สิบห้า) วัน ก่อนการเปลี่ยนแปลงดังกล่าวด้วย
            </div>
            <div class="text-1">
                5.11 กรณีคู่สัญญาฝ่ายหน่วยบริการจะย้ายที่ตั้งใหม่ ให้คู่สัญญาฝ่ายหน่วยบริการแจ้งเป็นหนังสือมายังสำนักงานก่อนวันที่จะย้ายที่ตั้งไม่น้อยกว่า 3 (สาม) เดือน และต้องได้รับความยินยอมเป็นหนังสือจากสำนักงานก่อน เมื่อได้รับความยินยอมจากสำนักงานแล้ว คู่สัญญาฝ่ายหน่วยบริการต้องปิดประกาศและประชาสัมพันธ์ให้ประชาชนทราบ หากคู่สัญญาฝ่ายหน่วยบริการไม่แจ้งล่วงหน้าตามที่กำหนด สำนักงานขอสงวนสิทธิที่จะไม่ยินยอมให้ย้ายที่ตั้งใหม่ได้ และหากเกิดความเสียหายใดๆ ที่เกิดจากการที่คู่สัญญาฝ่ายหน่วยบริการย้ายที่ตั้งใหม่ คู่สัญญาฝ่ายหน่วยบริการต้องรับผิดชอบความเสียหายที่เกิดขึ้นทั้งสิ้นโดยไม่โต้แย้งใดๆ ทั้งนี้ ยกเว้นกรณีที่มีความจำเป็นเร่งด่วนหรือฉุกเฉิน
            </div>
            <div class="text-1">
                5.12 ในกรณีผู้มีสิทธิได้เข้าทำการรักษาพยาบาลจากคู่สัญญาฝ่ายหน่วยบริการตั้งแต่เวลาที่
                ข้อตกลงนี้มีผลใช้บังคับต่อเนื่องจนถึงวันสิ้นสุดข้อตกลงตามข้อ 8.1 แต่ปรากฏว่าการให้บริการสาธารณสุขในครั้งนั้น
                ยังไม่สิ้นสุดการรักษาคู่สัญญาฝ่ายหน่วยบริการยังคงต้องมีหน้าที่ให้บริการสาธารณสุขแก่ผู้มีสิทธิต่อไปจน
                สิ้นสุดการรักษา

            </div>
            <div class="text-1">
                การวินิจฉัยว่าการให้บริการสาธารณสุขแก่ผู้มีสิทธิได้สิ้นสุดแล้วหรือไม่ แพทย์ผู้ให้การรักษาพยาบาลของคู่สัญญาฝ่ายหน่วยบริการจะต้องใช้ความรู้และวิจารณญาณตามหลักวิชาการทางการแพทย์ในการวินิจฉัยอย่างเต็มความสามารถเช่นเดียวกับที่คู่สัญญาฝ่ายหน่วยบริการได้ให้บริการสาธารณสุขแก่ผู้ป่วยหรือผู้ได้รับการตรวจวินิจฉัยคนอื่น ซึ่งได้เข้าทำการรักษาพยาบาลในหน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการนั้น
            </div>
            <div class="text-1">
                ทั้งนี้ หากคู่สัญญาฝ่ายหน่วยบริการฝ่าฝืนข้อตกลงข้อ 5.1 ถึงข้อ 5.12 สำนักงานมีสิทธิชะลอการจ่ายเงิน/หรือหักค่าใช้จ่าย ตามข้อ 11 และ/หรือข้อ 12 รวมถึงการใช้สิทธิบอกเลิกข้อตกลงได้ด้วย
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 6 ค่าใช้จ่ายเพื่อบริการสาธารณสุขของคู่สัญญาฝ่ายหน่วยบริการ</b>
            </div>
            <div class="text-1">
                6.1 หน่วยบริการประจำมีสิทธิได้รับค่าใช้จ่ายเพื่อบริการสาธารณสุขในลักษณะเหมาจ่ายรายหัวและ/หรือค่าใช้จ่ายเพื่อบริการสาธารณสุขอื่นจากกองทุน หรือจากสำนักงาน หรือจากหน่วยบริการอื่น
            </div>
            <div class="text-1">
                ค่าใช้จ่ายเพื่อบริการสาธารณสุขที่หน่วยบริการประจำมีสิทธิได้รับตลอดอายุของข้อตกลงนี้ซึ่งคำนวณจากจำนวนผู้มีสิทธิ ตามข้อ 3.1 (1) คูณอัตราค่าใช้จ่ายรายหัวต่อผู้มีสิทธิหนึ่งคนตามที่คณะกรรมการ หรือสำนักงานกำหนด และจากผลงานบริการของหน่วยบริการประจำและเครือข่ายหน่วยบริการ โดยสำนักงานจะจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุขให้แก่คู่สัญญาฝ่ายหน่วยบริการต่อเมื่อสำนักงานได้ตรวจสอบความถูกต้องเรียบร้อยแล้ว
            </div>
            <div class="text-1">
                ทั้งนี้ค่าใช้จ่ายรายหัวที่คู่สัญญาฝ่ายหน่วยบริการได้รับจริง ต้องเป็นไปตามที่คณะกรรมการ หรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                6.2 หน่วยบริการปฐมภูมิมีสิทธิได้รับค่าใช้จ่ายเพื่อบริการสาธารณสุขจากหน่วยบริการประจำ หรือจากกองทุน หรือจากสำนักงาน ตามที่คณะกรรมการหรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                6.3 หน่วยบริการที่รับการส่งต่อ มีสิทธิได้รับค่าใช้จ่ายเพื่อบริการสาธารณสุขจากหน่วยบริการประจำหรือจากกองทุน ตามที่คณะกรรมการหรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                6.4 สำหรับการให้บริการกรณีอุบัติเหตุ หรือกรณีเจ็บป่วยฉุกเฉิน หรือกรณีมีเหตุอันสมควร หรือกรณี ที่มีค่าใช้จ่ายสูง หรือกรณีอื่นใด ให้ได้รับค่าใช้จ่ายตามที่คณะกรรมการหรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                6.5 คู่สัญญาฝ่ายหน่วยบริการมีสิทธิได้รับค่าใช้จ่ายอื่นๆ เพิ่มเติมได้ตามข้อตกลงข้อ 3.4 แล้วแต่กรณี
            </div>
            <div class="text-1">
                6.6 เพื่อให้การจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุขมีความรวดเร็ว และ/หรือเพื่อไม่ให้คู่สัญญาฝ่ายหน่วยบริการขาดสภาพคล่องในการจัดบริการสาธารณสุขแก่ผู้มีสิทธิ สำนักงานอาจจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุขล่วงหน้าเป็นงวดๆ ให้แก่คู่สัญญาฝ่ายหน่วยบริการ แต่ภายหลังจากที่สำนักงานได้ตรวจสอบความถูกต้องแล้ว ถ้าค่าใช้จ่ายไม่ครบตามสิทธิที่ได้รับสำนักงานจะจ่ายให้ครบถ้วน แต่หากสำนักงานตรวจสอบพบว่าจ่ายค่าใช้จ่ายล่วงหน้าและ/หรือค่าใช้จ่ายเพื่อบริการสาธารณสุข แต่ละงวดหรือแต่ละครั้งเกินกว่าสิทธิที่คู่สัญญาฝ่ายหน่วยบริการพึงได้รับจริง  สำนักงานมีสิทธิหักคืนจากค่าใช้จ่ายในงวดถัดไปได้จนครบจำนวน
            </div>
            <div class="text-1">
                หลักเกณฑ์การคำนวณการจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุขให้เป็นไปตามที่คณะกรรมการ หรือคณะอนุกรรมการหลักประกันสุขภาพแห่งชาติระดับพื้นที่ หรือสำนักงานกำหนด
            </div>
            <div class="text-1">
                6.7 คู่สัญญาฝ่ายหน่วยบริการยินยอมให้สำนักงานทำหน้าที่หักเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขให้กับหน่วยบริการอื่น (Clearing House) ในกรณีที่ผู้มีสิทธิของคู่สัญญาฝ่ายหน่วยบริการเข้ารับบริการ ณ หน่วยบริการอื่น หรือสถานบริการอื่นตามสิทธิที่บัญญัติไว้ในกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <div class="text-1">
                กรณีที่คู่สัญญาฝ่ายหน่วยบริการมีหนี้ค่าใช้จ่ายเพื่อบริการสาธารณสุขที่ค้างชำระแก่หน่วยบริการอื่นอยู่ก่อนที่ข้อตกลงนี้มีผลใช้บังคับ สำนักงานมีสิทธิหักเงินที่พึงจ่ายให้คู่สัญญาฝ่ายหน่วยบริการนั้น เพื่อจ่ายให้กับหน่วยบริการอื่นได้
            </div>
            <div class="text-1">
                6.8 สำหรับในพื้นที่กรุงเทพมหานคร คณะกรรมการ หรือคณะอนุกรรมการ หรือสำนักงาน มีสิทธิกันเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขที่พึงจ่ายให้คู่สัญญาฝ่ายหน่วยบริการตามที่กำหนดได้ โดยกันเงินค่าใช้จ่ายไว้ที่สำนักงานหลักประกันสุขภาพแห่งชาติเขต 13 กรุงเทพมหานคร หรือสำนักงานหลักประกันสุขภาพแห่งชาติเขตพื้นที่กรุงเทพมหานคร เพื่อสำหรับใช้ในวัตถุประสงค์แต่ละกรณี ดังต่อไปนี้
            </div>
            <div class="text-2">
                (1) เพื่อจ่ายให้หน่วยบริการหรือสถานบริการสาธารณสุข ดังนี้
            </div>
            <div class="text-3">
                ก. ผู้ป่วยกรณีอุบัติเหตุ กรณีเจ็บป่วยฉุกเฉิน เครือข่ายเดียวกันในกรุงเทพมหานคร ซึ่งเครือข่ายเดียวกันในที่นี้หมายถึงหน่วยบริการประจำที่ส่งต่อโรงพยาบาลตามโครงการพัฒนาระบบบริการ เพื่อลดความแออัดผู้ป่วยนอก
            </div>
            <div class="text-3">
                ข. กรณีส่งต่อผู้ป่วยนอก (OP refer)
            </div>
            <div class="text-3">
                ค. จ่ายค่าบริการผู้ป่วยนอก กรณีพิการ
            </div>
            <div class="text-3">
                ง. บริการผู้ป่วยที่มีค่าใช้จ่ายสูง
            </div>
            <div class="text-3">
                จ. บริการทันตกรรมรักษา (ตามเกณฑ์ที่สำนักงานกำหนด)
            </div>
            <div class="text-2">
                (2) กรณีผู้ป่วยเรื้อรังเดิมที่รับบริการรักษาพยาบาลที่โรงพยาบาลตามโครงการพัฒนาระบบบริการเพื่อลดความแออัดผู้ป่วยนอกก่อนที่ข้อตกลงนี้มีผลใช้บังคับ
            </div>
            <div class="text-1">
                (3) หักไม่เกินร้อยละ 1 (หนึ่ง) ของงบประมาณเงินเหมาจ่ายรายหัวที่จัดสรรให้แก่คู่สัญญาฝ่ายหน่วยบริการสำหรับการกำกับเชิงพัฒนาและการแก้ไขปัญหาระบบส่งต่อตามโครงการพัฒนาระบบเพื่อลดความแออัดผู้ป่วยนอก
            </div>
            <div class="text-1">
                ภายหลังจากลงนามในข้อตกลงนี้แล้ว ต่อมาคณะกรรมการ หรือคณะอนุกรรมการ หรือสำนักงาน ใช้สิทธิกันเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขที่พึงจ่ายให้คู่สัญญาฝ่ายหน่วยบริการตามที่กำหนดได้ โดยกันเงินค่าใช้จ่ายไว้ที่สำนักงานหลักประกันสุขภาพแห่งชาติเขต 13 กรุงเทพมหานคร หรือสำนักงานหลักประกันสุขภาพแห่งชาติเขตพื้นที่กรุงเทพมหานคร เพื่อสำหรับใช้ในวัตถุประสงค์แต่ละกรณีเพิ่มเติม นอกเหนือจาก (1) ถึง (3) ตามวรรคหนึ่ง และคู่สัญญาฝ่ายหน่วยบริการตกลงยินยอมปฏิบัติตาม กฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง หลักเกณฑ์ คู่มือหรือแนวทางปฏิบัติ และเงื่อนไข ที่คณะกรรมการ หรือคณะอนุกรรมการ หรือสำนักงานกำหนด
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 7  การรับเงินค่าบริการทางการแพทย์ที่เบิกจ่ายในลักษณะงบลงทุน</b>
            </div>
            <div class="text-1">
                คู่สัญญาฝ่ายหน่วยบริการมีสิทธิได้รับเงินค่าบริการทางการแพทย์ที่เบิกจ่ายในลักษณะงบลงทุนหรือที่เรียกชื่อเป็นอย่างอื่น เป็นค่าใช้จ่าย สนับสนุน และส่งเสริมการจัดบริการสาธารณสุข ซึ่งเป็นการเบิกจ่ายในลักษณะงบลงทุน โดยขอบเขตบริการหรือการจ่ายให้คู่สัญญาฝ่ายหน่วยบริการเป็นไปตามกฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง หลักเกณฑ์ เงื่อนไข คู่มือหรือแนวปฏิบัติ ที่เกี่ยวกับหลักเกณฑ์การดำเนินงานและการบริหารจัดการกองทุนหลักประกันสุขภาพแห่งชาติ หรือที่เรียกชื่อเป็นอย่างอื่น ตามที่คณะกรรมการ หรือสำนักงานกำหนด ในแต่ละปีงบประมาณ
            </div>
            <div class="text-1">
                ภายในระยะเวลา 1 (หนึ่ง) ปี นับแต่วันที่ได้รับจัดสรรในแต่ละปีงบประมาณ หากคู่สัญญาฝ่ายหน่วยบริการไม่ถูกเพิกถอนการเป็นหน่วยบริการ หรือไม่กระทำผิดเงื่อนไขการรับเงินค่าบริการทางการแพทย์ที่เบิกจ่ายในลักษณะงบลงทุนในปีงบประมาณนั้นๆ คู่สัญญาฝ่ายหน่วยบริการไม่ต้องคืนเงินในส่วนนี้ให้แก่สำนักงาน
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 8  กำหนดเวลาการให้บริการสาธารณสุข</b>
            </div>
            <div class="text-1">
                ให้ยกเลิกข้อตกลงให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ ระหว่างสำนักงาน กับคู่สัญญาฝ่ายหน่วยบริการที่มีอยู่ก่อน โดยให้ใช้ข้อตกลงนี้แทน และให้ข้อตกลงนี้เริ่มกำหนดระยะเวลาการให้บริการสาธารณสุข สิทธิ หน้าที่ และความรับผิด ต่อเนื่องกัน ดังต่อไปนี้
            </div>
            <div class="text-1">
                8.1  คู่สัญญาฝ่ายหน่วยบริการตกลงเริ่มให้บริการสาธารณสุขแก่ผู้มีสิทธิ ตั้งแต่วันที่....เดือน.......พ.ศ.......สิ้นสุดวันที่   30  เดือนกันยายน  พ.ศ.........
            </div>
            <div class="text-1">
                คู่สัญญาฝ่ายหน่วยบริการจะขอถอนตัวหรือบอกเลิกข้อตกลงก่อนครบกำหนดระยะเวลาปฏิบัติตามข้อตกลงดังกล่าวในวรรคหนึ่งไม่ได้ เว้นแต่จะได้รับความยินยอมเป็นหนังสือจากสำนักงาน
            </div>
            <div class="text-1">
                8.2 โดยปกติเมื่อถึงกำหนดระยะเวลาสิ้นสุดข้อตกลงตามข้อ 8.1 วรรคหนึ่ง หากสำนักงานหรือ คู่สัญญาฝ่ายหน่วยบริการมิได้บอกเลิกข้อตกลง ให้ถือว่าระยะเวลาการให้บริการสาธารณสุขตามข้อตกลงนี้ขยายออกไปอีกทุกๆ หนึ่งปีงบประมาณ โดยให้ข้อตกลงมีผลบังคับใช้ต่อไป เริ่มต้นนับตั้งแต่วันที่ 1 ตุลาคม ถึงวันที่ 30 กันยายน ของแต่ละปีงบประมาณนั้น เป็นต้นไปทุกๆ ปี เว้นแต่กรณีที่คู่สัญญาฝ่ายหน่วยบริการถูกเพิกถอน หรือถูกยกเลิกการเป็นหน่วยบริการ หรือถูกสำนักงานบอกเลิกข้อตกลง ก่อนครบกำหนดเวลาตามข้อ 8.1 ให้ข้อตกลงนี้สิ้นสุดลง ตามประกาศของสำนักงาน
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 9  การให้สถานบริการอื่นรับช่วงการให้บริการสาธารณสุข</b>
            </div>
            <div class="text-1">
                9.1 คู่สัญญาฝ่ายหน่วยบริการต้องไม่เอาการให้บริการสาธารณสุขทั้งหมดหรือแต่บางส่วนแห่งข้อตกลงนี้ไปให้สถานบริการอื่นรับช่วงการให้บริการอีกทอดหนึ่ง เว้นแต่การให้บริการสาธารณสุขแต่บางส่วน ที่ได้รับอนุญาตเป็นหนังสือจากสำนักงานแล้ว แต่ทั้งนี้การให้สถานบริการอื่นรับช่วงการให้บริการดังกล่าวต้องเป็นไปเพื่อประโยชน์ของผู้มีสิทธิและเพื่อให้ผู้มีสิทธิได้รับบริการสาธารณสุขที่ดียิ่งขึ้นเท่านั้น
            </div>
            <div class="text-1">
                9.2 กรณีที่สำนักงานได้อนุญาตให้สถานบริการอื่นรับช่วงการให้บริการสาธารณสุขแต่บางส่วนดังกล่าว ตามข้อ 9.1 ไม่เป็นเหตุให้คู่สัญญาฝ่ายหน่วยบริการหลุดพ้นจากความรับผิด หรือพันธะหน้าที่ตามข้อตกลงนี้ และคู่สัญญาฝ่ายหน่วยบริการยังคงต้องรับผิดในความผิดและความประมาทเลินเล่อของสถานบริการอื่นที่รับช่วงการให้บริการสาธารณสุข หรือตัวแทนหรือลูกจ้างของสถานบริการที่รับช่วงการให้บริการสาธารณสุขนั้นทุกประการ
            </div>
            <div class="text-1">
                9.3  หากหน่วยบริการไม่ปฏิบัติตามข้อ 9.1 สำนักงานมีสิทธิบอกเลิกข้อตกลงหรือระงับการจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุขตามข้อ 6 ไว้ก่อน จนกว่าหน่วยบริการจะได้ปฏิบัติให้ถูกต้องตามข้อตกลงนี้
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 10 ความรับผิดในความบกพร่อง</b>
            </div>
            <div class="text-1">
                หากคู่สัญญาฝ่ายหน่วยบริการมิได้ทำการรักษาพยาบาลให้ถูกต้องตามหลักวิชาการทางการแพทย์ หรือเกิดความเสียหายใดๆ อันเนื่องมาจากความบกพร่องของคู่สัญญาฝ่ายหน่วยบริการ จากการใช้สิ่งของหรือเวชภัณฑ์หรือครุภัณฑ์ไม่ได้มาตรฐาน หรือแพทย์ พยาบาลหรือบุคลากรทางการแพทย์ของคู่สัญญาฝ่ายหน่วยบริการ ปฏิบัติหน้าที่ด้วยความประมาทเลินเล่อหรือเกิดขึ้นเพราะเหตุสุดวิสัยอันมิใช่ความผิดของสำนักงาน คู่สัญญาฝ่ายหน่วยบริการจะต้องเป็นผู้รับผิดชอบในบรรดาความเสียหายต่างๆ ที่เกิดขึ้นทั้งหมด โดยไม่มีสิทธิเรียกร้องค่าใช้จ่ายหรือค่าทดแทนใดๆ จากสำนักงานทั้งสิ้น
            </div>
            <div class="text-1">
                สำนักงานไม่ต้องรับผิดชอบในความเสียหายใดๆ อันเกิดขึ้นกับคู่สัญญาฝ่ายหน่วยบริการ คนงาน ผู้ปฏิบัติงาน หรือพนักงาน หรือบุคลากร ของคู่สัญญาฝ่ายหน่วยบริการที่ปฏิบัติหน้าที่ตามข้อตกลงนี้ทุกกรณี
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 11 การชะลอการจ่ายค่าใช้จ่ายเพื่อบริการสาธารณสุข</b>
            </div>
            <div class="text-1">
                11.1 กรณีที่คู่สัญญาฝ่ายหน่วยบริการไม่ดำเนินการถ่ายโอน ไม่ส่งข้อมูล สถิติ รายงาน ภายในเวลาที่กำหนด ตามข้อ 5.9 สำนักงานมีสิทธิชะลอการจ่ายเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขในเดือนที่ตรวจ
                พบจนถึงวันที่คู่สัญญาฝ่ายหน่วยบริการได้ดำเนินการตามเงื่อนไขของข้อตกลงนี้ถูกต้องครบถ้วนแล้ว
            </div>
            <div class="text-1">
                11.2 กรณีที่คู่สัญญาฝ่ายหน่วยบริการอยู่ระหว่างถูกสำนักงานตรวจสอบข้อเท็จจริงว่ามีการ
                กระทำผิดสัญญาข้อหนึ่งข้อใด หรือผิดกฎหมาย หรือขัดกับกฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง คู่มือ เงื่อนไข
                หรือแนวทางปฏิบัติที่คณะกรรมการหรือสำนักงานกำหนด สำนักงานมีสิทธิชะลอค่าใช้จ่ายเพื่อบริการสาธารณสุขที่พึงรับทุกประเภทจากสำนักงาน
            </div>
            <div class="text-1">
                11.3 กรณีที่คู่สัญญาฝ่ายหน่วยบริการมีหนี้ค้างชำระจากการถูกเรียกคืนเงินค่าใช้จ่ายเพื่อบริการสาธารณสุข สำนักงานมีสิทธิชะลอการจ่ายเงินค่าใช้จ่ายเพื่อบริการสาธารณสุข จนกว่าคู่สัญญาฝ่ายหน่วยบริการจะมีรายได้พึงรับมากกว่ามูลค่าหนี้ค้างชำระ หรือจนกว่าคู่สัญญาฝ่ายหน่วยบริการจะชำระหนี้ครบถ้วน
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 12  การหักค่าใช้จ่ายเพื่อบริการสาธารณสุข</b>
            </div>
            <div class="text-1">
                สำนักงานสงวนสิทธิหรือมีสิทธิหักค่าใช้จ่ายเพื่อบริการสาธารณสุขที่พึงจ่ายให้แก่คู่สัญญาฝ่ายหน่วยบริการ กรณีคู่สัญญาฝ่ายหน่วยบริการไม่ปฏิบัติตามข้อตกลง หรือคู่สัญญาฝ่ายหน่วยบริการดำเนินการ ดังต่อไปนี้
            </div>
            <div class="text-1">
                12.1 คู่สัญญาฝ่ายหน่วยบริการเรียกเก็บค่าใช้จ่ายเพื่อบริการสาธารณสุขจากสำนักงานเกินจริงหรืออันเป็นเท็จ เป็นการฝ่าฝืนกฎ ระเบียบ ข้อบังคับ ประกาศ ที่คณะกรรมการหรือสำนักงานกำหนด หากสำนักงานตรวจสอบข้อมูลบริการสาธารณสุขของคู่สัญญาฝ่ายหน่วยบริการโดยสุ่มจากข้อมูลบริการสาธารณสุขหรือเวชระเบียนทั้งหมด แล้วพบว่าการเรียกเก็บค่าใช้จ่ายเพื่อบริการสาธารณสุขไม่ถูกต้องตามหลักเกณฑ์ที่สำนักงานกำหนดเป็นเหตุให้คู่สัญญาฝ่ายหน่วยบริการได้รับเงินค่าใช้จ่ายเพื่อบริการสาธารณสุขเกินกว่าที่พึงได้รับโดยส่วนที่เกินดังกล่าวมีมูลค่าไม่เกินกว่าร้อยละ 15 (สิบห้า) ของวงเงินที่เรียกเก็บตามข้อมูลบริการสาธารณสุขหรือเวชระเบียนที่สุ่มตรวจครั้งนั้น สำนักงานจะหักค่าใช้จ่ายที่เรียกเก็บเกินจริงหรืออันเป็นเท็จดังกล่าวคืนได้ทันทีหรือหักเอาจากค่าใช้จ่ายเพื่อบริการสาธารณสุขทุกประเภทที่คู่สัญญาฝ่ายหน่วยบริการพึงได้รับจากสำนักงานในงวดถัดไป พร้อมมีหนังสือตักเตือนคู่สัญญาฝ่ายหน่วยบริการ
            </div>
            <div class="text-1">
                12.2 สำนักงานเข้าตรวจสอบหน่วยบริการของคู่สัญญาฝ่ายหน่วยบริการ ตามข้อตกลงในข้อ 4 แล้ว ผลการตรวจสอบไม่พบบุคคลากรผู้ให้บริการประจำหน่วยบริการตามข้อตกลงนี้ในข้อ 3.3
            </div>
            <div class="text-1">
                กรณีตามข้อ 12.1 ถึงข้อ 12.2 สำนักงานมีสิทธิหักค่าใช้จ่ายที่พึงจ่ายให้คู่สัญญาฝ่ายหน่วยบริการในอัตราร้อยละ 50 (ห้าสิบ) ของค่าใช้จ่ายที่พึงจ่ายให้คู่สัญญาฝ่ายหน่วยบริการในเดือนที่พบเหตุนั้นๆ
            </div>
            <div class="text-1">
                12.3 กรณีสำนักงานตรวจสอบพบว่าคู่สัญญาฝ่ายหน่วยบริการเจตนาให้ผู้มีสิทธิลงทะเบียนเลือกหน่วยบริการโดยใช้กลฉ้อฉล หรือลงทะเบียนโดยไม่ได้รับความยินยอมจากผู้มีสิทธิ ซึ่งขัดกับกฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง คู่มือ เงื่อนไข หรือแนวทางปฏิบัติที่คณะกรรมการ หรือสำนักงานกำหนด คู่สัญญาฝ่ายหน่วยบริการต้องคืนเงินเหมาจ่ายรายหัว ในอัตรา 50 (ห้าสิบ) เท่าของจำนวนเงินที่ไม่มีสิทธิได้รับโดยชอบด้วยกฎหมาย โดยสำนักงานจะหักเงินดังกล่าวจากค่าใช้จ่ายเพื่อบริการสาธารณสุขทุกประเภทที่จะพึงจ่ายให้แก่คู่สัญญาฝ่ายหน่วยบริการ และคู่สัญญาฝ่ายหน่วยบริการต้องเป็นผู้รับผิดชอบค่าใช้จ่ายหรือค่าเสียหายอื่นที่เกิดขึ้น
            </div>
            <div class="text-1">
                12.4 กรณีบุคคลหรือองค์กรที่ได้รับแต่งตั้งหรือมอบหมายตามข้อ 4.1 ตรวจพบหรือมีเหตุให้เชื่อได้ว่าคู่สัญญาฝ่ายหน่วยบริการจัดบริการและให้บริการสาธารณสุขไม่ได้มาตรฐานตามที่กำหนด หรือมีข้อร้องเรียนว่าคู่สัญญาฝ่ายหน่วยบริการไม่จัดบริการและ/หรือไม่ให้บริการสาธารณสุข หรือคู่สัญญาฝ่ายหน่วยบริการไม่ปฏิบัติตามหน้าที่ของคู่สัญญาฝ่ายหน่วยบริการด้านหนึ่งด้านใดตามข้อตกลงนี้ สำนักงานมีสิทธิให้หน่วยบริการอื่นหรือจ้างสถานบริการอื่น จัดบริการและให้บริการสาธารณสุขด้านนั้นให้แก่ผู้มีสิทธิได้ โดยหักค่าใช้จ่ายเพื่อบริการสาธารณสุขทุกประเภทที่จะพึงจ่ายให้แก่คู่สัญญาฝ่ายหน่วยบริการนั้น เพื่อจ่ายให้แก่หน่วยบริการอื่นหรือสถานบริการอื่นที่จัดบริการและให้บริการสาธารณสุขด้านนั้นแทนได้ และให้ถือว่าเงินจำนวนดังกล่าวเป็นค่าใช้จ่ายเพื่อบริการสาธารณสุขที่สำนักงานได้จ่ายแก่คู่สัญญาฝ่ายหน่วยบริการในการปฏิบัติตามข้อตกลงนี้ โดยคู่สัญญาฝ่ายหน่วยบริการไม่มีสิทธิเรียกร้องใดๆ จากสำนักงาน
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 13 ขอบเขตแห่งสิทธิของผู้มีสิทธิ</b>
            </div>
            <div class="text-1">
                ในกรณีที่ผู้มีสิทธิประสบอันตรายหรือเจ็บป่วย และมีสิทธิได้รับบริการสาธารณสุขจากทางอื่นนอกเหนือจากข้อตกลงนี้ โดยมีหน่วยงานหรือบุคคลใด เป็นผู้รับผิดชอบเกี่ยวกับค่าใช้จ่ายในการรับบริการสาธารณสุข แทนผู้มีสิทธิ ไม่ว่าสิทธิที่ได้รับนั้นจะเกิดจากสัญญา ละเมิด หรือเพราะเหตุอื่นก็ตาม ผู้มีสิทธิจะเลือกใช้สิทธิในการ รับบริการสาธารณสุขในทางใดก็ได้ ถ้าผู้มีสิทธิขอใช้สิทธิจากทางอื่น คู่สัญญาฝ่ายหน่วยบริการจะต้องให้ผู้มีสิทธิแสดงความประสงค์ไว้เป็นหนังสือ และหากผู้มีสิทธิเลือกใช้สิทธิในฐานะเป็นผู้มีสิทธิตามข้อตกลงนี้ คู่สัญญาฝ่ายหน่วยบริการต้องให้บริการสาธารณสุขแก่ผู้มีสิทธิตามข้อตกลงนี้ คู่สัญญาฝ่ายหน่วยบริการต้องให้บริการสาธารณสุขแก่ผู้มีสิทธิตามข้อตกลงนี้ โดยจะกำหนดเงื่อนไขใดๆ แก่ผู้มีสิทธิมิได้
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 14 การตีความ</b>
            </div>
            <div class="text-1">
                คู่สัญญามีความเข้าใจตรงกันว่าข้อตกลงนี้กำหนดขึ้นเพื่อให้คู่สัญญาปฏิบัติให้เป็นไปตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ และกฎหมายอื่นที่เกี่ยวข้องได้ถูกต้องครบถ้วน ข้อความใดในข้อตกลงนี้ซึ่งขัดหรือแย้ง หรือไม่สอดคล้องกับกฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง หรือหลักเกณฑ์ คู่มือหรือแนวปฏิบัติของคณะกรรมการ หรือสำนักงานกำหนดขึ้น และให้ถือว่าข้อความในข้อตกลงนี้ไม่มีผลบังคับ ให้บังคับตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 15 การวินิจฉัยชี้ขาด</b>
            </div>
            <div class="text-1">
                กรณีที่มีปัญหาในการปฏิบัติตามข้อตกลงนี้ ให้สำนักงานเป็นผู้มีอำนาจวินิจฉัยชี้ขาด คำวินิจฉัยของสำนักงานให้ถือเป็นเด็ดขาดที่สุด
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 16 การบอกกล่าว</b>
            </div>
            <div class="text-1">
                การบอกกล่าวใดที่คู่สัญญาฝ่ายหนึ่งจะต้องแจ้งให้คู่สัญญาอีกฝ่ายหนึ่งทราบตามข้อตกลงนี้จะต้องทำเป็นหนังสือส่งไปยังที่อยู่ของคู่สัญญาที่ระบุไว้ในข้อตกลงนี้ หากคู่สัญญาเปลี่ยนแปลงที่อยู่ ต้องแจ้งให้คู่สัญญาอีกฝ่ายหนึ่งทราบภายใน  7  ( เจ็ด ) วัน นับแต่วันเปลี่ยนแปลงที่อยู่ หากไม่แจ้งและคู่สัญญาฝ่ายใดฝ่ายหนึ่งได้ส่งหนังสือบอกกล่าวแก่คู่สัญญา ณ ที่อยู่ตามที่ระบุไว้ในข้อตกลงนี้ ให้ถือว่าได้ส่งโดยชอบแล้ว
            </div>
            <div class="text-1">
                การบอกกล่าวใดที่คู่สัญญาฝ่ายหนึ่งจะต้องแจ้งให้คู่สัญญาอีกฝ่ายหนึ่งทราบตามข้อตกลงนี้จะต้องทำเป็นหนังสือส่งไปยังที่อยู่ของคู่สัญญาที่ระบุไว้ในข้อตกลงนี้ หากคู่สัญญาเปลี่ยนแปลงที่อยู่ ต้องแจ้งให้คู่สัญญาอีกฝ่ายหนึ่งทราบภายใน  7  ( เจ็ด ) วัน นับแต่วันเปลี่ยนแปลงที่อยู่ หากไม่แจ้งและคู่สัญญาฝ่ายใดฝ่ายหนึ่งได้ส่งหนังสือบอกกล่าวแก่คู่สัญญา ณ ที่อยู่ตามที่ระบุไว้ในข้อตกลงนี้ ให้ถือว่าได้ส่งโดยชอบแล้ว
            </div>
        </div>
        </div>
</section>
<section>
    <partial name="/Views/FM/SignatureLast.cshtml" model="Model" />
</section>

@section Scripts {
    <script src="~/js/FM.js" asp-append-version="true"></script>
}


