
@model SmartContract.Infrastructure.Resources.ContractTypeVendor.TAllMasterVendorView
@using SmartContract.Utils

@{
    ViewData["Title"] = "FM_CONTRACT_T11";
    Layout = "~/Views/Shared/_LayoutFM.cshtml";
    var lookUp = Model.CTVendor.GetLookUp;
    var indataCon = Model.InfoContract;
    var indataNhso = Model.InfoContractNhso;
    var indataVendor = Model.InfoPartnersOfContract;
    var indataConstation = Model.ContractStation;
    var ConDetail = Model.InfoConDetail.ContractDetail11;
    var indataReqApp = Model.InfoRequestForApproval;
}

<link rel="stylesheet" href="~/css/font.css" />
<link rel="stylesheet" href="~/css/FM.css" asp-append-version="true" />

<section>
    <div class="main-page size-15">
        <div class="content-page ">
            <div class="text-right ">เลขที่อ้างอิง <span class="para">@indataCon.RefId</span></div>
            <div class="text-center">
                <img src="../images/logo/NHSO.png" />
            </div>
            <h3 class="text-center size-17 mt-1">สัญญาดำเนินงานตามโครงการ </h3>
            <div class="text-right ">สัญญาเลขที่ @(indataCon.ContractId != null ? indataCon.ContractId : "..........")</div>
            @*<div class="text-1">
            สัญญาฉบับนี้ทำขึ้น ณ <span class="para">@indataNhso.NhsoAddress.Header</span> ที่อยู่เลขที่  ถนน <span class="para">@indataNhso.NhsoAddress.Road</span> ตำบล/แขวง <span class="para">@indataNhso.NhsoAddress.TumbonName</span> อำเภอ/เขต <span class="para">@indataNhso.NhsoAddress.AmphurName</span> จังหวัด <span class="para">@indataNhso.NhsoAddress.ChangwatName</span>  เมื่อวันที่.....เดือน......พ.ศ...... ระหว่างสำนักงานหลักประกันสุขภาพแห่งชาติ โดย <span class="para">@indataConstation.CreateUserFullname</span> ซึ่งต่อไปในสัญญานี้เรียกว่า “สำนักงาน” ฝ่ายหนึ่ง กับ <span class="para">@indataVendor.VendorName</span>  สำนักงานใหญ่/ที่อยู่ เลขที่ <span class="para">@indataVendor.VillageNo</span> ถนน <span class="para">@indataVendor.Road</span> ตำบล/แขวง <span class="para">@indataVendor.CATMs.DistrictName</span> อำเภอ/เขต <span class="para">@indataVendor.CATMs.AmphurName</span> จังหวัด <span class="para">@indataVendor.CATMs.ProvinceName</span>  โดย <span class="para">@(lookUp.UserSmctSigner.FirstOrDefault(x=>x.IdUserSmct == indataVendor.SmctMasterSigner.SmctMasterSignerDetail1.VendorSignerUser)?.UserFullname ?? String.Empty)</span> ได้รับมอบอำนาจจาก {18@20} เป็นผู้มีอำนาจลงนามผูกพันปรากฏตามหนังสือ {19@21} เลขที่ {20@22} ลงวันที่ {21@23} เดือน {22@24} พ.ศ {23@25}  และหนังสือมอบอำนาจลงวันที่ {24@26} เดือน {25@27} พ.ศ. {26@28}  แนบท้ายสัญญานี้ ซึ่งต่อไปในสัญญานี้เรียกว่า “ผู้ดำเนินงาน” อีกฝ่ายหนึ่ง
        </div>*@
            <div class="text-1">
                สัญญาฉบับนี้ทำขึ้น ณ <span class="para">@indataNhso.NhsoAddress.Header</span> ที่อยู่เลขที่  ถนน <span class="para">@indataNhso.NhsoAddress.Road</span> ตำบล/แขวง <span class="para">@indataNhso.NhsoAddress.TumbonName</span> อำเภอ/เขต <span class="para">@indataNhso.NhsoAddress.AmphurName</span> จังหวัด <span class="para">@indataNhso.NhsoAddress.ChangwatName</span>  เมื่อวันที่.....เดือน......พ.ศ...... ระหว่างสำนักงานหลักประกันสุขภาพแห่งชาติ โดย <span class="para">@indataConstation.CreateUserFullname</span> ซึ่งต่อไปในสัญญานี้เรียกว่า “สำนักงาน” ฝ่ายหนึ่ง กับ <span class="para">@indataVendor.VendorName</span>  สำนักงานใหญ่/ที่อยู่ เลขที่ <span class="para">@indataVendor.VillageNo</span> ถนน <span class="para">@indataVendor.Road</span> ตำบล/แขวง <span class="para">@indataVendor.CATMs.DistrictName</span> อำเภอ/เขต <span class="para">@indataVendor.CATMs.AmphurName</span> จังหวัด <span class="para">@indataVendor.CATMs.ProvinceName</span>  โดย <span class="para">@(lookUp.UserSmctSigner.FirstOrDefault(x=>x.IdUserSmct == indataVendor.SmctMasterSigner.SmctMasterSignerDetail1.VendorSignerUser)?.UserFullname ?? String.Empty)</span> ได้รับมอบอำนาจจาก {18@20} เป็นผู้มีอำนาจลงนามผูกพันปรากฏตามหนังสือ {19@21} เลขที่ {20@22} ลงวันที่ {21@23} เดือน {22@24} พ.ศ {23@25}  และหนังสือมอบอำนาจลงวันที่ {24@26} เดือน {25@27} พ.ศ. {26@28}  แนบท้ายสัญญานี้ ซึ่งต่อไปในสัญญานี้เรียกว่า “ผู้ดำเนินงาน” อีกฝ่ายหนึ่ง
            </div>
            <div class="text-1">
                สัญญาฉบับนี้ทำขึ้น ณ สำนักงานหลักประกันสุขภาพแห่งชาติ...... เลขที่......ถนน......ตำบล/แขวง......อำเภอ/เขต......จังหวัด......เมื่อวันที่......เดือน......พ.ศ.......ระหว่าง
                สำนักงานหลักประกันสุขภาพแห่งชาติ โดย......ตำแหน่ง......ปฏิบัติงานแทน เลขาธิการสำนักงานหลักประกันสุขภาพแห่งชาติ ตามคำสั่งสำนักงานหลักประกันสุขภาพแห่งชาติ ที่....../......ลงวันที่......แนบท้ายสัญญานี้
                ซึ่งต่อไปในสัญญานี้เรียกว่า “<b>สำนักงาน</b>” ฝ่ายหนึ่ง กับ......ซึ่งจดทะเบียนเป็นนิติบุคคล ณ......มีสำนักงานใหญ่ อยู่เลขที่......ถนน......ตำบล/แขวง......อำเภอ/เขต......จังหวัด......
                โดย......ผู้มีอำนาจลงนามผูกพันนิติบุคคลปรากฏตามหนังสือรับรองของสำนักงานทะเบียนหุ้นส่วนบริษัท/หนังสือรับรองของนายทะเบียนมูลนิธิ......เลขที่......ลงวันที่......เดือน......พ.ศ.......(และหนังสือมอบอำนาจ ลงวันที่......เดือน
                พ.ศ.......) แนบท้ายสัญญานี้ (ในกรณีที่ผู้ดำเนินงานเป็นคณะบุคคลซึ่งมิใช่นิติบุคคลหรือบุคคลธรรมดาให้ใช้ข้อความว่า กับ......(โดย......)  อยู่บ้านเลขที่......ถนน......ตำบล/แขวง......อำเภอ/เขต......จังหวัด......ปรากฏตามสำเนาบัตรประจำตัวประชาชน (และหนังสือมอบอำนาจ ลงวันที่......) แนบท้ายสัญญานี้) ซึ่งต่อไปในสัญญานี้เรียกว่า “<b>ผู้ดำเนินงาน</b>”  อีกฝ่ายหนึ่ง
            </div>
            <div class="text-1">
                โดยที่สำนักงานเป็นหน่วยงานของรัฐ มีอำนาจหน้าที่ตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ โดยมาตรา 26 (12) แห่งพระราชบัญญัติหลักประกันสุขภาพแห่งชาติ พ.ศ.2545 กำหนดให้สำนักงานมอบให้องค์กรอื่นหรือบุคคลอื่นทำกิจการที่อยู่ภายในอำนาจหน้าที่ของสำนักงาน
            </div>
            <div class="text-1">
                ทั้งสองฝ่ายได้ตกลงกันไว้ ดังต่อไปนี้
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 1</b>  สำนักงานตกลงมอบหมาย และผู้ดำเนินงานตกลงรับทำกิจการของสำนักงานตามโครงการ......ดังรายละเอียดตามเอกสาร แนบท้ายสัญญา ผนวก 1
            </div>
            <div class="text-1">
                ผู้ดำเนินงานตกลงเริ่มดำเนินกิจการของสำนักงาน ตั้งแต่วันที่......เดือน......พ.ศ.......และสิ้นสุดในวันที่......เดือน......พ.ศ.......
            </div>
            <div class="text-1">
                การดำเนินงานตามวรรคหนึ่ง ผู้ดำเนินงานตกลงปฏิบัติตาม กฎ ระเบียบ ข้อบังคับ ประกาศ หลักเกณฑ์ มติ คำสั่ง และแนวปฏิบัติของคณะกรรมการหลักประกันสุขภาพแห่งชาติ หรือคณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุข หรือคณะอนุกรรมการ หรือสำนักงาน ที่กำหนดขึ้นก่อนหรือหลังหรือระหว่างที่สัญญานี้มีผลบังคับใช้และให้ถือว่า กฎ ระเบียบ ข้อบังคับ ประกาศ หลักเกณฑ์ มติ คำสั่ง แนวทางปฏิบัติ ดังกล่าวนั้นเป็นส่วนหนึ่งของสัญญานี้
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 2</b>  เอกสารแนบท้ายสัญญาดังต่อไปนี้ ให้ถือเป็นส่วนหนึ่งของสัญญานี้
            </div>
            <div class="text-2">
                @* 2.1 ผนวก 1 แผนงาน/โครงการ <span class="para">@indataReqApp.ContractName</span> จำนวน <span class="para"><span class="para">@(!String.IsNullOrEmpty(ConDetail.P1) ? ConDetail.P1 : "-")</span></span> หน้า*@
                2.1 ผนวก 1 โครงการ/ขอบเขตงาน จำนวน......(......) หน้า
            </div>
            <div class="text-2">
                @*2.2 ผนวก 2 หลักเกณฑ์/วิธีการ/เงื่อนไข การจ่ายเงินสนับสนุน จำนวน <span class="para"><span class="para">@(!String.IsNullOrEmpty(ConDetail.P2) ? ConDetail.P2 : "-")</span></span> หน้า*@
                2.2 ผนวก 2 หลักเกณฑ์/วิธีการ/เงื่อนไข การจ่ายเงินสนับสนุน จำนวน......(......) หน้า
            </div>
            <div class="text-2">
                @*2.3 ผนวก 3 หนังสืออนุมัติยกเว้นวางหลักประกันสัญญา (ถ้ามี) จำนวน <span class="para"><span class="para">@(!String.IsNullOrEmpty(ConDetail.P3) ? ConDetail.P3 : "-")</span></span> หน้า*@
                2.3 ผนวก ...... จำนวน......(......) หน้า
            </div>
            <div class="text-2">
                @*2.4 ผนวก 4  <span class="para"><span class="para">@(!String.IsNullOrEmpty(ConDetail.P4) ? ConDetail.P4 : "-")</span></span> จำนวน <span class="para"><span class="para">@(!String.IsNullOrEmpty(ConDetail.P5) ? ConDetail.P5 : "-")</span></span> หน้า*@
                2.4 ผนวก ...... จำนวน......(......) หน้า
            </div>
            <div class="text-1">
                ความใดในเอกสารแนบท้ายสัญญานี้ที่ขัดหรือแย้งกับข้อความในสัญญานี้ให้ใช้ข้อความในสัญญานี้บังคับ และในกรณีที่เอกสารแนบท้ายสัญญานี้ขัดแย้งกันเอง ผู้ดำเนินงานจะต้องปฏิบัติตามคำวินิจฉัยของสำนักงาน คำวินิจฉัยของสำนักงานให้ถือเป็นที่สุด และผู้ดำเนินงานไม่มีสิทธิเรียกร้องเงินสนับสนุน หรือค่าเสียหาย หรือค่าใช้จ่ายใดๆ เพิ่มเติมจากสำนักงานทั้งสิ้น
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 3</b>  สำนักงานตกลงให้เงินสนับสนุนและผู้ดำเนินงานตกลงรับเงินสนับสนุนตามกฎ ระเบียบ ข้อบังคับ ประกาศ หลักเกณฑ์ มติ คำสั่ง และแนวปฏิบัติของคณะกรรมการหลักประกันสุขภาพแห่งชาติ หรือคณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุข หรือคณะอนุกรรมการหรือสำนักงานกำหนด เป็นเงินจำนวนทั้งสิ้น <span class="para">@ConDetail.P6</span> บาท (<span class="para">@(GeneralUtils.ThaiBahtText(ConDetail.P6))</span>) ซึ่งได้รวมภาษีมูลค่าเพิ่มตลอดจนภาษีอื่นๆ และค่าใช้จ่ายทั้งปวงด้วยแล้ว โดยจะจ่ายให้เป็นงวดๆ ตามหลักเกณฑ์ วิธีการ และเงื่อนไขการจ่ายเงินสนับสนุน ตามที่ระบุไว้ในเอกสารแนบท้ายสัญญา ผนวก <span class="para">@(!String.IsNullOrEmpty(ConDetail.P7) ? ConDetail.P7 : "-")</span> โดยมีรายละเอียด การจ่ายเงิน ดังนี้
            </div>
            <div class="text-1">
                การจ่ายเงินตามเงื่อนไขแห่งสัญญานี้ สำนักงาน จะโอนเงินเข้าบัญชีเงินฝากธนาคารของผู้ดำเนินงาน ชื่อธนาคาร......สาขา......ชื่อบัญชี......เลขที่บัญชี......ทั้งนี้ ผู้ดำเนินงานตกลงเป็นผู้รับภาระเงินค่าธรรมเนียมหรือค่าบริการอื่นใดทั้งปวงที่เกี่ยวกับการโอนที่รวมทั้งค่าใช้จ่ายใดๆ (ถ้ามี) ธนาคารเรียกเก็บ และยินยอมให้มีการหักเงินดังกล่าวจากจำนวนเงินโอนในงวดนั้นๆ
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 4</b>  ในขณะทำสัญญานี้ผู้ดำเนินงานได้นำหลักประกันสัญญา เป็น......จำนวนเงิน......บาท (......) ซึ่งเท่ากับร้อยละห้าของวงเงินที่ได้รับการสนับสนุนรวมทั้งสัญญา มามอบให้แก่สำนักงาน เพื่อเป็นหลักประกันหรือเป็นการประกันผลการปฏิบัติตามสัญญานี้
            </div>
            <div class="text-1">
                ในขณะทำสัญญานี้ผู้ดำเนินงาน ตกลงให้สำนักงานหักเงินที่พึงจ่ายในงวดที่หนึ่งไว้ร้อยละห้าของวงเงินรวมทั้งสัญญา จำนวน......บาท (......) ไว้เป็นหลักประกันสัญญาและเป็นการประกันผลการปฏิบัติตามสัญญานี้
            </div>
            <div class="text-1">
                หลักประกันสัญญาที่นำมามอบให้ตามวรรคหนึ่งหรือวรรคสอง เป็นหลักประกันความเสียหายทั้งปวงตามสัญญานี้ โดยมีอายุการประกันตลอดไปจนกว่าผู้ดำเนินงานจะหลุดพ้นข้อผูกพันและความรับผิดชอบตามสัญญานี้ ถ้าหลักประกันการปฏิบัติตามสัญญาที่นำมามอบให้ดังกล่าวลดลง หรือเสื่อมค่าลง หรือมีอยู่ไม่ครอบคลุมถึงความรับผิดของผู้ดำเนินงานตลอดอายุสัญญาผู้ดำเนินงานจะต้องนำหลักประกันใหม่หรือหลักประกันเพิ่มเติมให้มีจำนวนครบถ้วนตามจำนวนตามสัญญามามอบให้แก่สำนักงาน ภายใน 15 (สิบห้า) วันนับแต่วันที่ได้รับแจ้งเป็นหนังสือจากสำนักงาน
            </div>
            <div class="text-1">
                หลักประกันสัญญาที่ผู้ดำเนินงานนำมามอบให้ไว้แก่สำนักงานตามข้อนี้ สำนักงานจะคืนให้โดยไม่มีดอกเบี้ย เมื่อสัญญาสิ้นสุดและผู้ตรวจรับงานได้ตรวจรับงานถูกต้องครบถ้วนตามวัตถุประสงค์ของสัญญา และผู้ดำเนินงานพ้นจากข้อผูกพันและความรับผิดทั้งปวงตามสัญญานี้แล้ว
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 5 </b> ในกรณีที่สำนักงานเห็นว่าผู้ดำเนินงานไม่สามารถดำเนินงานให้แล้วเสร็จตาม เวลาที่กำหนดไว้ในข้อ 1 หรือปฏิบัติงานไม่ถูกต้องตามสัญญาข้อหนึ่งข้อใด สำนักงานมีสิทธิบอกเลิกสัญญา หรือปรับผู้ดำเนินงานเป็นรายวัน ในอัตราร้อยละ 0.10 (ศูนย์จุดหนึ่งศูนย์) ของเงินที่ให้การสนับสนุนทั้งหมดตามสัญญา แต่ต้องไม่ต่ำกว่า 100 บาท (หนึ่งร้อยบาท) ต่อวัน นับถัดจากวันครบกำหนดในข้อ 1 จนถึงวันที่ผู้ดำเนินงานปฏิบัติตามสัญญาถูกต้องครบถ้วน และสำนักงานได้ตรวจรับงานแล้ว
            </div>
            <div class="text-1">
                ในกรณีที่ผู้ดำเนินงานผิดสัญญาหรือละเลยหรือละเว้นไม่ปฏิบัติตามสัญญาข้อหนึ่งข้อใด เป็นเหตุให้เกิดความล่าช้าความเสียหายขึ้นไม่ว่ากรณีใดๆ สำนักงานมีสิทธิบอกเลิกสัญญาได้ทันที และผู้ดำเนินงานต้องรับผิดชอบในบรรดาความเสียหายที่เกิดขึ้นอันเนื่องจากการไม่ปฏิบัติตามสัญญาทั้งสิ้น
            </div>
            <div class="text-1">
                ในกรณีที่สำนักงานปรับผู้ดำเนินงานตามวรรคหนึ่ง สำนักงานขอสงวนสิทธิในการเรียกค่าปรับโดยการหักจากเงินพึงจ่ายที่สำนักงานจ่ายสนับสนุนให้แก่ผู้ดำเนินงานในงวดถัดไป (ถ้ามี)ได้ หากไม่มีเงินให้หัก ผู้ดำเนินงานยินยอมให้หักจากหลักประกันสัญญาตามข้อ 4 ได้ด้วย ในกรณีที่วางหลักประกันสัญญา และผู้ดำเนินงานตกลงที่จะนำหลักประกันสัญญามาเพิ่มเติมในส่วนที่ขาดไปให้เต็มวงเงินหลักประกันสัญญา ภายใน 15
                (สิบห้า) วัน นับแต่วันที่ได้รับแจ้งเป็นหนังสือจากสำนักงาน
            </div>
            <div class="text-1">
                ในกรณีที่สำนักงานบอกเลิกสัญญาตามวรรคสอง สำนักงานขอสงวนสิทธิในการริบหลักประกันสัญญาตามข้อ 4 ทั้งหมด เพื่อชำระค่าเสียหาย โดยสำนักงานจะแจ้งสิทธิดังกล่าวเป็นหนังสือให้ผู้ดำเนินงานทราบและผู้ดำเนินงานยินยอมให้สำนักงานเรียกคืนเงินที่จ่ายสนับสนุนให้ผู้ดำเนินงานไปแล้วได้ทั้งหมดหรือบางส่วนได้ และยินยอมให้สำนักงานระงับการจ่ายเงินสนับสนุนในส่วนที่เหลือทั้งหมดหรือบางส่วน (ถ้ามี) ตามที่สำนักงานเห็นสมควรได้ รวมทั้งให้สำนักงานมีสิทธิหักเงินพึงจ่ายใดๆของผู้ดำเนินงานที่พึงได้รับทุกกรณี ที่สำนักงานพึงจ่ายให้ในภายหลัง เพื่อชดใช้ความเสียหายได้โดยไม่ต้องบอกกล่าวล่วงหน้า
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 6 </b> การดำเนินงานตามสัญญานี้ ผู้ดำเนินงานต้องระมัดระวังมิให้เกิดความเสียหาย กับบุคคลอื่น หากผู้ดำเนินงานหรือผู้ปฏิบัติงานของผู้ดำเนินงาน กระทำการหรือละเว้นการกระทำการโดยจงใจหรือประมาทเลินเล่อ หรือกระทำนอกวัตถุประสงค์ของโครงการเป็นเหตุเกิดความเสียหายแก่สำนักงานหรือบุคคลอื่น สำนักงานไม่ต้องรับผิดชอบในความเสียหายใดๆ โดยผู้ดำเนินงานต้องรับผิดชดใช้ค่าเสียหายที่เกิดขึ้นแก่สำนักงานหรือบุคคลอื่นนั้น หากสำนักงานถูกเรียกร้องหรือฟ้องร้องหรือต้องชดใช้ค่าเสียหายให้แก่บุคคลอื่นไปแล้ว ผู้ดำเนินงานจะต้องดำเนินการใดๆ เพื่อให้มีการว่าต่างแก้ต่างให้แก่สำนักงานโดยค่าใช้จ่ายของผู้ดำเนินงานเอง รวมทั้งผู้ดำเนินงานจะต้องชดใช้ค่าเสียหายนั้นๆ ตลอดจนค่าใช้จ่ายใดๆ อันเกิดจากการถูกเรียกร้องหรือถูกฟ้องร้องให้แก่สำนักงานทันที
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 7 </b> การเผยแพร่ข้อมูลข่าวสารเกี่ยวกับผลงานหรือกิจกรรมของโครงการในสิ่งพิมพ์หรือสื่อใดก็ตามในแต่ละครั้ง ผู้ดำเนินงานต้องประกาศหรือระบุเป็นลายลักษณ์อักษรว่า “ ได้รับการสนับสนุนจากสำนักงานหลักประกันสุขภาพแห่งชาติ ” เป็นภาษาไทย หรือภาษาอังกฤษแล้วแต่กรณี หรือแจ้งข้อความดังกล่าวอย่างเหมาะสมด้วยทุกครั้ง พร้อมทั้งแสดงตราสัญลักษณ์ของสำนักงาน ในบริเวณที่จัดกิจกรรม หรือในวัสดุ หรือเอกสารเผยแพร่ของโครงการทุกชิ้น ทั้งนี้ เป็นไปตามคู่มือการใช้งานตราสัญลักษณ์ที่สำนักงานกำหนด
            </div>
            <div class="text-1">
                ผลงานและผลผลิตที่เกิดจากการดำเนินกิจการตามโครงการตามสัญญานี้ เป็นลิขสิทธิ์และกรรมสิทธิ์ของ สำนักงานหากมีการเผยแพร่และดำเนินการใดๆ เกี่ยวกับผลงานและผลผลิตที่เกิดจากการดำเนินกิจการตามโครงการ จะต้องได้รับความเห็นชอบหรือได้รับอนุญาตจาก สำนักงาน ก่อน
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 8 </b> ผู้ดำเนินงานจะต้องไม่เอางานทั้งหมดหรือแต่บางส่วนแห่งสัญญานี้ไปจ้างช่วง อีกทอดหนึ่งเว้นแต่การจ้างช่วงงานแต่บางส่วนที่ได้รับอนุญาตเป็นหนังสือจากสำนักงานแล้ว การที่สำนักงานได้อนุญาตให้จ้างช่วงงานแต่บางส่วนดังกล่าวนั้น ไม่เป็นเหตุให้ผู้ดำเนินงานหลุดพ้นจากความรับผิดหรือพันธะหน้าที่ตามสัญญานี้ และผู้ดำเนินงานจะยังคงต้องรับผิดในความผิดและความประมาทเลินเล่อของผู้ดำเนินงานช่วงหรือของตัวแทนหรือลูกจ้างของผู้ดำเนินงานช่วงนั้นทุกประการ
            </div>
            <div class="text-1">
                กรณีผู้ดำเนินงานไปจ้างช่วงงานแต่บางส่วนโดยฝ่าฝืนความในวรรคหนึ่ง ผู้ดำเนินงานต้องชำระค่าปรับให้แก่สำนักงานเป็นจำนวนเงินในอัตราร้อยละ  0.20  (ศูนย์จุดสองศูนย์) ของวงเงินของงาน
                ที่จ้างช่วงตามสัญญา ทั้งนี้ ไม่ตัดสิทธิสำนักงานในการบอกเลิกสัญญา
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 9</b> กรณีที่มีปัญหาในการปฏิบัติตามสัญญานี้ ให้สำนักงานเป็นผู้มีอำนาจพิจารณาวินิจฉัย ชี้ขาด คำวินิจฉัยของสำนักงานให้ถือเป็นเด็ดขาด
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 10</b> การบอกกล่าวใดที่คู่สัญญาฝ่ายหนึ่งจะต้องแจ้งให้คู่สัญญาอีกฝ่ายหนึ่งทราบตามสัญญานี้จะต้องทำเป็นหนังสือส่งไปยังที่อยู่ของคู่สัญญาที่ระบุไว้ในสัญญานี้ หากคู่สัญญาเปลี่ยนแปลงที่อยู่ต้องแจ้งให้คู่สัญญาอีกฝ่ายหนึ่งทราบภายใน 7 ( เจ็ด ) วัน นับแต่วันเปลี่ยนแปลงที่อยู่ หากไม่แจ้งและคู่สัญญาฝ่ายใดฝ่ายหนึ่งได้ส่งหนังสือบอกกล่าวแก่คู่สัญญา ณ ที่อยู่ตามที่ระบุไว้ในสัญญานี้ให้ถือว่าได้ส่งโดยชอบแล้ว
            </div>
        </div>
    </div>
</section>

<section>
    <partial name="/Views/FM/SignatureLast.cshtml" model="Model" />
</section>

@section Scripts {
    <script src="~/js/FM.js" asp-append-version="true"></script>
}


