
@model SmartContract.Infrastructure.Resources.ContractTypeVendor.TAllMasterVendorView

@{
    ViewData["Title"] = "FM_CONTRACT_T10";
    Layout = "~/Views/Shared/_LayoutFM.cshtml";
    var lookUp = Model.CTVendor.GetLookUp;
    var indataCon = Model.InfoContract;
    var indataNhso = Model.InfoContractNhso;
    var indataVendor = Model.InfoPartnersOfContract;
    var indataConstation = Model.ContractStation;
    var conDetail = Model.InfoConDetail.ContractDetail09;
}

<link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/FM.css" asp-append-version="true" />

<section>
    <div class="main-page size-15">
        <div class="content-page ">
            <div class="text-right ">เลขที่อ้างอิง <span class="para">@indataCon.RefId</span></div>
            <div class="text-center">
                <img src="../images/logo/NHSO.png" alt="Mountain">
            </div>

            <div class="text-right ">เลขที่ .........</div>
            <div class="text-right ">{1@02}</div>
            <h3 class="text-center  size-17 mt-1">
                ข้อตกลงการดำเนินงานและบริหารจัดการกองทุนหลักประกันสุขภาพในระดับท้องถิ่นหรือพื้นที่
                ระหว่าง
            </h3>
            <h3 class="text-center size-17">
                สำนักงานหลักประกันสุขภาพแห่งชาติ กับ องค์กรปกครองส่วนท้องถิ่น
            </h3>
            <div class="text-right ">ข้อตกลงเลขที่ XXXXXX</div>
            <div class="text-1">
                ข้อตกลงฉบับนี้ทำขึ้น ณ <span class="para">@indataNhso.NhsoAddress.Header</span>  ตั้งอยู่ที่เลขที่ เลขที่ ...... ถนน <span class="para">@indataNhso.NhsoAddress.Road</span> ตำบล/แขวง <span class="para">@indataNhso.NhsoAddress.TumbonName</span> อำเภอ/เขต <span class="para">@indataNhso.NhsoAddress.AmphurName</span> จังหวัด <span class="para">@indataNhso.NhsoAddress.ChangwatName</span> เมื่อวันที่{7@09}เดือน{8@10}พ.ศ.{9@11} ระหว่างสำนักงานหลักประกันสุขภาพแห่งชาติ โดย {10@12} ซึ่งต่อไปในข้อตกลงนี้เรียกว่า “สำนักงาน” ฝ่ายหนึ่ง กับ (องค์กรปกครองส่วนท้องถิ่น) {11@13} ตั้งอยู่เลขที่ {12@14} ถนน {13@15} แขวง/ตำบล {14@16} เขต/อำเภอ {15@17} จังหวัด {16@18} โดย {17@19} ผู้บริหารสูงสุดขององค์กรปกครองส่วนท้องถิ่น ซึ่งต่อไปในข้อตกลงนี้เรียกว่า “องค์กรปกครองส่วนท้องถิ่น”
                อีกฝ่ายหนึ่ง โดยมีข้อความดังต่อไปนี้
            </div>
            <br />
            <div class="text-1">
                <b>	ข้อ 1 การดำเนินงาน</b>
            </div>
            <div class="text-1">
                ทั้งสองฝ่ายตกลงร่วมกันสนับสนุนและส่งเสริมการจัดบริการสาธารณสุขเกี่ยวกับการ
                สร้างเสริมสุขภาพ การป้องกันโรค การฟื้นฟูสมรรถภาพ การรักษาพยาบาลระดับปฐมภูมิ ที่จำเป็นต่อสุขภาพและการดำรงชีวิตของคนในท้องถิ่นหรือพื้นที่ที่องค์กรปกครองส่วนท้องถิ่นรับผิดชอบ และผูกพัน ตามประกาศคณะกรรมการหลักประกันสุขภาพแห่งชาติ เรื่อง การกำหนดหลักเกณฑ์เพื่อสนับสนุนให้องค์กรปกครองส่วนท้องถิ่น ดำเนินงานและบริหารจัดการกองทุนหลักประกันสุขภาพในระดับท้องถิ่นหรือพื้นที่ พ.ศ. 2557 และที่แก้ไขเพิ่มเติม

            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 2 ภาระหน้าที่ </b>
            </div>
            <div class="text-1">
                (1) องค์กรปกครองส่วนท้องถิ่น เป็นผู้จัดตั้งกองทุนหลักประกันสุขภาพในท้องถิ่นหรือพื้นที่ โดยการสนับสนุนของสำนักงาน และเป็นผู้ดำเนินงานและบริหารจัดการกองทุนหลักประกันสุขภาพภายใต้ความเห็นชอบของคณะกรรมการกองทุน
            </div>
            <div class="text-1">
                (2) สำนักงานจะจัดสรรเงินค่าบริการสาธารณสุขจากกองทุนหลักประกันสุขภาพแห่งชาติในส่วนของการสร้างเสริมสุขภาพและการป้องกันโรคเข้ากองทุนหลักประกันสุขภาพในระดับท้องถิ่นหรือพื้นที่   ตามที่คณะกรรมการหลักประกันสุขภาพแห่งชาติกำหนดในแต่ละปี

            </div>
            <div class="text-1">
                (3) องค์กรปกครองส่วนท้องถิ่น จะสมทบเงินเข้ากองทุนหลักประกันสุขภาพในระดับท้องถิ่น หรือพื้นที่ ตามข้อ 6 แห่งประกาศประกาศคณะกรรมการหลักประกันสุขภาพแห่งชาติ เรื่อง การกำหนดหลักเกณฑ์เพื่อสนับสนุนให้องค์กรปกครองส่วนท้องถิ่น ดำเนินงานและบริหารจัดการกองทุนหลักประกันสุขภาพในระดับท้องถิ่นหรือพื้นที่ พ.ศ. 2557

            </div>
            <div class="text-1">
                (4) สำนักงาน จะดำเนินการเพื่อแก้ไขปัญหาให้แก่กองทุนหลักประกันสุขภาพในระดับท้องถิ่น หรือพื้นที่ อันเกิดจากการดำเนินงานและบริหารจัดการให้ลุล่วงไปด้วยความรวดเร็ว ไม่เป็นอุปสรรคต่อการดำเนินงานตามภารกิจที่ตกลงกัน

            </div>
            <div class="text-1">
                (5) ทั้งสองฝ่าย ยินยอมให้ตรวจสอบบัญชีเงินฝากของกองทุนหลักประกันสุขภาพ ในระดับท้องถิ่นหรือพื้นที่ได้
            </div>
            <div class="text-1">
                (6) องค์กรปกครองส่วนท้องถิ่น ต้องปฏิบัติตามข้อบังคับ ระเบียบ ประกาศ หลักเกณฑ์ มติ  คำสั่งหรือแนวปฏิบัติของคณะกรรมการหลักประกันสุขภาพแห่งชาติหรือสำนักงาน ที่กำหนดขึ้นก่อนหรือระหว่างที่ข้อตกลงมีผลใช้บังคับ และให้ถือว่าข้อบังคับ ระเบียบ ประกาศ หลักเกณฑ์ มติ คำสั่ง หรือแนวปฏิบัติดังกล่าวนั้น เป็นส่วนหนึ่งของข้อตกลงนี้

            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 3 ระยะเวลาดำเนินงาน</b>
            </div>
            <div class="text-1">
                องค์กรปกครองส่วนท้องถิ่น  เริ่มดำเนินงานตามข้อตกลงนี้ ตั้งแต่ วันที่ {18@40} เดือน {19@41} พ.ศ. {20@42}  จนสิ้นสุดในวันที่ {21@43} เดือน {22@44} พ.ศ. {23@45}

            </div>
            <div class="text-1">
                กำหนดเวลาสิ้นสุดข้อตกลงตามวรรคหนึ่ง ถ้าสำนักงานหรือองค์กรปกครองส่วนท้องถิ่น มิได้บอกเลิกข้อตกลง ให้ถือว่าเวลาการดำเนินงานตามข้อตกลงนี้ขยายออกไปอีกทุกๆ หนึ่งปีงบประมาณ เว้นแต่กรณีที่ทั้งสองฝ่ายเห็นสมควรบอกเลิกข้อตกลงนี้ ให้ข้อตกลงสิ้นสุดลงในวันสิ้นปีงบประมาณนั้น และทรัพย์สินที่เหลือของกองทุนหลักประกันสุขภาพในท้องถิ่นหรือพื้นที่ให้ตกเป็นของหน่วยบริการปฐมภูมิของรัฐที่อยู่ในพื้นที่นั้น
            </div>

        </div>
    </div>
</section>

<section>
    <partial name="/Views/FM/SignatureLast.cshtml" model="Model" />
</section>

@section Scripts {
    <script src="~/js/FM.js" asp-append-version="true"></script>
}




