
@model SmartContract.Infrastructure.Resources.ContractTypeVendor.TAllMasterVendorView

@{
    ViewData["Title"] = "FM_CONTRACT_T07";
    Layout = "~/Views/Shared/_LayoutFM.cshtml";
    var lookUp = Model.CTVendor.GetLookUp;
    var indataCon = Model.InfoContract;
    var indataNhso = Model.InfoContractNhso;
    var indataVendor = Model.InfoPartnersOfContract;
    var indataConstation = Model.ContractStation;
    var conDetail = Model.InfoConDetail.ContractDetail07;
    var indataBank = Model.CTVendor.GetLookUp.VDFiBankVendorList;
}

<link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/FM.css" asp-append-version="true" />

<section>
    <div class="main-page size-15">
        <div class="content-page ">
            <div class="text-right ">เลขที่อ้างอิง <span class="para">@indataCon.RefId</span></div>
            <div class="text-center">
                <img src="../images/logo/NHSO.png" alt="Mountain">
            </div>
            <h3 class="text-center size-17 mt-1">ข้อตกลงให้บริการสาธารณสุขตามกิจกรรมบริการ</h3>
            <div class="text-right ">สัญญาเลขที่ @(indataCon.ContractId != null ? indataCon.ContractId : "..........")</div>
            <div class="text-1">
                สัญญาฉบับนี้ทำขึ้น ณ <span class="para">@indataNhso.NhsoAddress.Header</span> เลขที่ ...... ถนน <span class="para">@indataNhso.NhsoAddress.Road</span> ตำบล/แขวง <span class="para">@indataNhso.NhsoAddress.TumbonName</span> อำเภอ/เขต <span class="para">@indataNhso.NhsoAddress.AmphurName</span> จังหวัด <span class="para">@indataNhso.NhsoAddress.ChangwatName</span> เมื่อวันที่ ........... เดือน ........... พ.ศ. ........... ระหว่าง สำนักงานหลักประกันสุขภาพแห่งชาติ โดย {10@12} ซึ่งต่อไปในสัญญานี้เรียกว่า “สำนักงาน” ฝ่ายหนึ่งกับ {11@13} สำนักงานใหญ่ตั้งอยู่ เลขที่ {12@14} ซอย {13@15} ถนน {14@16} ตำบล/แขวง {15@17} อำเภอ/เขต {16@18} จังหวัด {17@19} โดย {18@20}  ผู้ได้รับมอบอำนาจจาก {19@21} เป็นผู้มีอำนาจลงนามผูกพัน ปรากฏตามหนังสือ {20@22} เลขที่  {21@23} ลงวันที่ {22@24} เดือน {23@25} พ.ศ. {24@26} และหนังสือมอบอำนาจลงวันที่ {25@27} เดือน {26@28} พ.ศ. {27@29} แนบท้ายสัญญานี้ ซึ่งต่อไปในสัญญานี้เรียกว่า “หน่วยบริการ”อีกฝ่ายหนึ่ง
            </div>
            <br />
            <div class="text-1">
                ทั้งสองฝ่ายจึงได้ตกลงกันไว้มีข้อความ ดังต่อไปนี้
            </div>
            <div class="text-1">
                <b>ข้อ 1 บทนิยาม</b>
            </div>
            <div class="text-1">
                เว้นแต่ข้อความจะแสดงให้เห็นเป็นอย่างอื่นในข้อตกลงให้บริการสาธารณสุขตามกิจกรรมบริการนี้
            </div>
            <div class="text-1">
                คู่สัญญาภาครัฐ หมายความว่า หน่วยบริการร่วมให้บริการ  หน่วยบริการที่รับการส่งต่อเฉพาะด้าน หน่วยบริการภาครัฐที่ไม่ได้ทำข้อตกลงให้บริการสาธารณสุขตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติสถานบริการสาธารณสุขภาครัฐที่ไม่ได้ขึ้นทะเบียนเป็นหน่วยบริการตามกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ และให้หมายความรวมถึงหน่วยงานภาครัฐที่ไม่เข้าลักษณะเป็นสถานบริการสาธารณสุขของรัฐ แต่มีบทบาทในการให้บริการสาธารณสุขแก่ผู้ป่วยด้านต่างๆ ที่ประสงค์จะร่วมให้บริการสาธารณสุขตามกิจกรรมบริการใดบริการหนึ่ง

            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 2</b>
            </div>
            <div class="text-1">
                สำนักงานตกลงให้คู่สัญญาภาครัฐให้บริการสาธารณสุขตามกิจกรรมบริการ และสถานบริการสาธารณสุขของรัฐ ได้ตกลงรับให้บริการสาธารณสุขตามกิจกรรมบริการ ({28@30}) ตามผนวก 1 ในข้อ 2 ของข้อตกลงนี้

            </div>
            <div class="text-1">
                คู่สัญญาภาครัฐ ตกลงเริ่มให้บริการสาธารณสุขตามกิจกรรมบริการ ตั้งแต่วันที่ {29@31} เดือน {30@32} พ.ศ. {31@33} สิ้นสุดในวันที่ {32@34} เดือน {33@35} พ.ศ. {34@36}

            </div>
            <div class="text-1">
                โดยปกติกำหนดระยะเวลาสิ้นสุดของข้อตกลงตามวรรคสอง ถ้าสำนักงานหรือสถานบริการสาธารณสุขของรัฐ มิได้บอกเลิกข้อตกลง ให้ถือว่าระยะเวลาการให้บริการสาธารณสุขตามกิจกรรมบริการ ตามข้อตกลงนี้ขยายออกไปอีกทุกๆ หนึ่งปี และให้ข้อตกลงมีผลบังคับใช้ต่อไป เริ่มต้น ณ วันที่ 1 ตุลาคม ถึง วันที่ 30 กันยายน ของปีงบประมาณนั้น เป็นต้นไปทุกๆปี เว้นแต่กรณีที่คู่สัญญาภาครัฐไม่ผ่านเกณฑ์การตรวจประเมินตามเกณฑ์ที่คณะกรรมการหลักประกันสุขภาพแห่งชาติ หรือคณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุข หรือสำนักงานกำหนด ประจำปีของงบประมาณนั้นๆ

            </div>
            <div class="text-1">
                ให้มีการตรวจประเมินคุณภาพมาตรฐานการให้บริการสาธารณสุขของสถานบริการสาธารณสุขของคู่สัญญาภาครัฐตามข้อตกลงนี้ทุกๆ ปีงบประมาณ ก่อนข้อตกลงสิ้นสุดในแต่ละปีงบประมาณ หากผลการตรวจประเมินพบว่าอยู่ในเกณฑ์มาตรฐานการให้บริการตามที่กำหนด ให้ข้อตกลงนี้มีผลต่อไป โดยให้นำผลการตรวจประเมินดังกล่าวมาแนบท้ายข้อตกลงนี้ไว้ทุกๆ ปีงบประมาณ

            </div>
            <div class="text-1">
                แต่หากการตรวจประเมินพบว่าไม่ผ่านเกณฑ์การตรวจประเมิน หรือไม่เป็นไปตามเกณฑ์มาตรฐานที่กำหนดในข้อตกลงนี้ หรือไม่เป็นไปตามกฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง หรือหลักเกณฑ์หรือคู่มือแนวทางการปฏิบัติในเรื่องนั้นๆที่สำนักงานกำหนด หรือสถานบริการสาธารณสุขของรัฐถูกปิดหรือยุบหรือถูกยกเลิกการเป็นสถานบริการของรัฐ หรือถูกสำนักงานบอกเลิกข้อตกลงก่อนครบกำหนดเวลาตามวรรคสอง ให้ข้อตกลงนี้สิ้นสุดลงทันที

            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 3</b>
            </div>
            <div class="text-1">
                เอกสารภาคผนวกแนบท้ายข้อตกลงดังต่อไปนี้ ให้ถือเป็นส่วนหนึ่งของข้อตกลงนี้

            </div>
            <div class="text-2">
                3.1 ผนวก 1 กิจกรรมบริการ <span class="para">@(!String.IsNullOrEmpty(conDetail.P1) ? conDetail.P1 : "-")</span> จำนวน <span class="para">@(!String.IsNullOrEmpty(conDetail.P2) ? conDetail.P2 : "-")</span> หน้า
            </div>
            <div class="text-2">
                3.2 ผนวก 2 ประกาศ/หลักเกณฑ์/มติ/คู่มือ/แนวปฏิบัติ/วิธีการเงื่อนไขการจ่ายค่าใช้จ่าย <span class="para">@(!String.IsNullOrEmpty(conDetail.P3) ? conDetail.P3 : "-")</span> จำนวน <span class="para">@(!String.IsNullOrEmpty(conDetail.P4) ? conDetail.P4 : "-")</span> หน้า

            </div>
            <div class="text-2">
                3.3 ผนวก 3 <span class="para">@(!String.IsNullOrEmpty(conDetail.P5) ? conDetail.P5 : "-")</span> จำนวน <span class="para">@(!String.IsNullOrEmpty(conDetail.P6) ? conDetail.P6 : "-")</span> หน้า

            </div>
            <div class="text-1">
                ข้อความใดในเอกสารภาคผนวกแนบท้ายที่ขัดหรือแย้งกับข้อความในข้อตกลงนี้ ให้ใช้ข้อความในข้อตกลงนี้บังคับและในกรณีที่เอกสารแนบท้ายข้อตกลงขัดหรือแย้งกันเองหรือมิได้กล่าวไว้คู่สัญญาภาครัฐจะต้องปฏิบัติตามคำวินิจฉัยของสำนักงาน

            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 4</b>
            </div>
            <div class="text-1">
                สำนักงานตกลงจ่ายชดเชยการให้บริการสาธารณสุขตามกิจกรรมบริการ และคู่สัญญาภาครัฐตกลงรับเงินชดเชยการให้บริการสาธารณสุขตามกิจกรรมบริการ ในอัตราตามเงื่อนไขที่กำหนดในข้อ 3 ภาคผนวก 2 หรือตามกฎ ระเบียบ ข้อบังคับ ประกาศ มิติ คำสั่ง หรือหลักเกณฑ์หรือคู่มือแนวทางการปฏิบัติของคณะกรรมการหลักประกันสุขภาพแห่งชาติ หรือคณะกรรมการควบคุมคุณภาพและมาตรฐานบริการสาธารณสุข หรือสำนักงานกำหนด โดยให้ถือเป็นส่วนหนึ่งของข้อตกลงนี้ ซึ่งได้รวมภาษีมูลค่าเพิ่มตลอดจนภาษีอากรอื่นๆ และค่าใช้จ่ายทั้งปวงไว้ด้วยแล้ว

            </div>
            <div class="text-1">
                การจ่ายค่าใช้จ่ายตามวรรคแรก สำนักงานจะโอนเงินเข้าบัญชีเงินฝากธนาคารของคู่สัญญาภาครัฐ
                @if (indataBank != null && indataBank.Count() == 1)
                {
                    var _indataBank = indataBank.FirstOrDefault();
                    <span class="para">ชื่อธนาคาร @(!String.IsNullOrEmpty(_indataBank.BanksName.Trim()) ?_indataBank.BanksName : "-")</span>
                    <span class="para">สาขา @(!String.IsNullOrEmpty(_indataBank.BanksBranch.Trim()) ?_indataBank.BanksBranch : "-")</span>
                    <span class="para">ชื่อบัญชี @(!String.IsNullOrEmpty(_indataBank.BanksAccName.Trim()) ?_indataBank.BanksAccName : "-")</span>
                    <span class="para">เลขที่บัญชี @(!String.IsNullOrEmpty(_indataBank.BanksAccNo.Trim()) ?_indataBank.BanksAccNo : "-")</span>
                }
                else
                {
                    <span class="para">ชื่อธนาคาร -</span>
                    <span class="para">สาขา -</span>
                    <span class="para">ชื่อบัญชี -</span>
                    <span class="para">เลขที่บัญชี -</span>
                }
                ทั้งนี้ สถานบริการสาธารณสุขของรัฐตกลงเป็นผู้รับภาระเงินค่าธรรมเนียมหรือค่าบริการอื่นใดเกี่ยวกับการโอนที่ธนาคารเรียกเก็บ และยินยอมให้หักเงินจากจำนวนเงินที่โอนในงวดนั้นๆ

            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 5</b>
            </div>
            <div class="text-1">
                คู่สัญญาภาครัฐมีหน้าที่ ปฏิบัติตามข้อกำหนดหลักเกณฑ์และเงื่อนไขในข้อ 3  และมีหน้าที่ปฏิบัติดังต่อไปนี้ เพื่อให้ผู้มีสิทธิได้รับบริการสาธารณสุขตามมาตรฐานและมีประสิทธิภาพตามที่กำหนดในกฎหมายว่าด้วยหลักประกันสุขภาพแห่งชาติ

            </div>
            <div class="text-2">
                5.1 ปฏิบัติตามมาตรา 45 และหน้าที่อื่นตามพระราชบัญญัติหลักประกันสุขภาพแห่งชาติ พ.ศ. 2545 ตามกฎหมายแพ่งและพาณิชย์ กฎหมายอาญา และกฎหมายอื่นที่เกี่ยวข้อง รวมทั้งปฏิบัติตามกฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง และหลักเกณฑ์หรือคู่มือแนวทางการปฏิบัติ ของสำนักงานที่กำหนดขึ้นก่อนหรือระหว่างที่ข้อตกลงนี้มีผลใช้บังคับ และให้ถือว่ากฎ ระเบียบ ข้อบังคับ ประกาศ มติ คำสั่ง หรือหลักเกณฑ์หรือคู่มือแนวทางการปฏิบัติดังกล่าวนั้น เป็นส่วนหนึ่งของข้อตกลงนี้

            </div>
            <div class="text-2">
                5.2 ให้สถานบริการสาธารณสุขของรัฐติดตั้งป้ายสัญลักษณ์หรือป้ายประชาสัมพันธ์ที่แสดงถึงการเป็นสถานบริการสาธารณสุขของรัฐที่ให้บริการสาธารณสุขในระบบหลักประกันสุขภาพแห่งชาติ โดยใช้วัสดุและรูปแบบของป้าย รวมถึงสถานที่ติดตั้งตามคู่มือการใช้งานตราสัญลักษณ์ที่สำนักงานกำหนด
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 6</b>
            </div>
            <div class="text-1">
                ในกรณีคู่สัญญาภาครัฐให้บริการไม่ครบถ้วนถูกต้องตามข้อตกลง หรือผิดข้อตกลง หรือละเลยหรือละเว้นไม่ปฏิบัติตามข้อตกลงข้อหนึ่งข้อใด หรือดำเนินการใดๆ ที่เชื่อได้ว่ามีการเรียกเก็บค่าใช้จ่ายเกินจริงหรือเป็นเท็จ หรือไม่เป็นไปตามระบบการส่งต่อผู้ป่วย เป็นเหตุให้เกิดความเสียหายหรือความล่าช้าแก่ผู้รับบริการหรือสำนักงาน ไม่ว่ากรณีใดๆ หรือไม่สามารถดำเนินการให้แล้วเสร็จตามวันเวลาที่กำหนดไว้ในข้อตกลง หรือปฏิบัติไม่ถูกต้องตามข้อตกลงข้อหนึ่งข้อใด สำนักงานมีสิทธิบอกเลิกข้อตกลงได้ทันที และคู่สัญญาภาครัฐจะต้องรับผิดชอบในความเสียหายที่เกิดขึ้นทั้งสิ้น โดยไม่มีเงื่อนไข
            </div>
            <div class="text-1">
                กรณีตามวรรคแรก คู่สัญญาภาครัฐยินยอมให้สำนักงานเรียกเงินที่จ่ายไปแล้วคืนได้ทั้งหมดหรือบางส่วนได้ และให้สำนักงานชะลอหรือระงับการจ่ายเงินค่าใช้จ่ายทั้งหมดหรือบางส่วนตามที่สำนักงานเห็นสมควรได้ รวมทั้งให้สำนักงานมีสิทธิหักเงินพึงจ่ายใดๆ ได้ทุกกรณีที่สำนักงานจะพึงจ่ายให้คู่สัญญาภาครัฐเพื่อชดใช้ความเสียหายได้ โดยไม่ต้องบอกกล่าวล่วงหน้า

            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 7</b>
            </div>
            <div class="text-1">
                กรณีคู่สัญญาภาครัฐให้บริการสาธารณสุขแก่ผู้มีสิทธิไม่ถูกต้องตามหลักวิชาการทางการแพทย์หรือหลักวิชาการทางสาธารณสุข หรือเกิดความเสียหายใดๆ อันเนื่องมาจากความบกพร่องของสถานบริการของรัฐจากการใช้วัสดุทางการแพทย์ หรือเวชภัณฑ์ หรืออุปกรณ์ในการรักษาไม่ได้มาตรฐาน หรือแพทย์ พยาบาล เจ้าหน้าที่สาธารณสุข หรือบุคลากรของสถานบริการของรัฐ ปฏิบัติหน้าที่ด้วยความประมาทเลินล่อ หรือเกิดเพราะเหตุสุดวิสัยอันมิใช่ความผิดของสำนักงาน หรือไม่ว่าด้วยเหตุใดๆ คู่สัญญาภาครัฐเป็นผู้รับผิดชอบค่าเสียหายต่างๆ ที่เกิดขึ้นกับผู้มีสิทธิเองทั้งหมด โดยตกลงจะไม่ใช้สิทธิเรียกร้องค่าเสียหายใดๆ จากสำนักงาน ทั้งสิ้น
            </div>
            <br />
            <div class="text-1">
                <b>ข้อ 8</b>
            </div>
            <div class="text-1">
                สำนักงานไม่ต้องรับผิดชอบในความเสียหายใดๆตามข้อ ๗ อันเกิดขึ้นกับคู่สัญญาภาครัฐ คนงาน หรือบุคลากรของคู่สัญญาภาครัฐ ตามข้อตกลงนี้ ทุกกรณี
            </div>
            <div class="text-1">

            </div>
        </div>
    </div>
</section>
<section>
    <partial name="/Views/FM/SignatureLast.cshtml" model="Model" />
</section>

@section Scripts {
    <script src="~/js/FM.js" asp-append-version="true"></script>
}



