
@model SmartContract.Infrastructure.Resources.ContractTypeBureau.ContractReportMain
@inject SmartContract.Infrastructure.Interfaces.Authenticate.IUserService UserService
@using SmartContract.Infrastructure.Resources.Share

@{
    ViewData["Title"] = "รายงานการจัดทำสัญญาแยกตามเขตพื้นที่";


    //NewCount=ออกใหม่,ReturnCount=ขอคืน,ClaimCount=ขอเคลม,ReNewCount=ขอเพิ่ม,Discount=ขอลด
    int _TotalCnt = 0, _T1Cnt = 0, _T2Cnt = 0, _T3Cnt = 0, _T4Cnt = 0;
    if (Model.ContractReport01 != null && Model.ContractReport01.Count > 0)
    {
        _TotalCnt = Model.ContractReport01.Sum(x => x.SumByKetCount());
        _T1Cnt = Model.ContractReport01.Sum(x => x.GroupType1Count);
        _T2Cnt = Model.ContractReport01.Sum(x => x.GroupType2Count);
        _T3Cnt = Model.ContractReport01.Sum(x => x.GroupType3Count);
        _T4Cnt = Model.ContractReport01.Sum(x => x.GroupType4Count);
    }
}

@if (Model.errorCheck)
{
    <partial name="../Shared/LayoutPartial/_PartialMessageError.cshtml" model="new CommonModel() { errorMessage = Model.errorMessage }" />
}
else
{
    var lookUp = Model.GetLookUp;

    <section>
        <div class="">
            <div class="col-md-12">
                <div class="form-group m-1">
                    <div class="row">
                        <div class="col-6">
                            <h4>
                                <small><i class="fa fa-book mr-1"></i>รายงาน > </small>
                                <small><span class="text-primary">รายงานการจัดทำสัญญาแยกตามเขตพื้นที่</span></small>
                            </h4>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card mb-3"></div>
            </div>
        </div>
    </section>

    <section>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    <fieldset class="form-group border p-3" style="height:90%;">
                        <legend class="col-auto px-2 h6">ค้นหา</legend>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="inputYY">ประจำปี</label>
                                <select class="form-control bg-focus" asp-for="Year"
                                        asp-items="@(new SelectList((from s in lookUp.BudgetYears.Where(x=> int.Parse(x.Id) >= 2565) select new {
                                                            Code=s.Id,
                                                            FullName = $"{s.Value}"}),
                                                            "Code",
                                                            "FullName",
                                                            selectedValue: DateTime.Now.Year+ 543))">
                                    <option value="">---ทั้งหมด---</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputMM">ประจำเดือน</label>
                                <select class="form-control bg-focus" asp-for="Month"
                                        asp-items="@(new SelectList((from s in lookUp.Months select new {
                                                            Code=s.Id,
                                                            FullName = $"{s.Value}"}),
                                                            "Code",
                                                            "FullName",
                                                            selectedValue: DateTime.Now.Month))">
                                    <option value="">---ทั้งหมด---</option>
                                </select>
                                @*<select id="inputMM" class="form-control">
                            <option value="00">ทุกเดือน</option>
                            <option value="10">ตุลาคม</option>
                            <option value="11">พฤศจิกายน</option>
                            <option value="12">ธันวาคม</option>
                            <option value="01">มกราคม</option>
                            <option value="02">กุมภาพันธ์</option>
                            <option value="03">มีนาคม</option>
                            <option value="04">เมษายน</option>
                            <option value="05">พฤษภาคม</option>
                            <option value="06">มิถุนายน</option>
                            <option value="07">กรกฎาคม</option>
                            <option value="08">สิงหาคม</option>
                            <option value="09">กันยายน</option>
                        </select>*@
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="inputStatus">สถานะ</label>
                                <select id="inputStatus" class="form-control">
                                    <option>ทั้งหมด</option>
                                    <option>กำลังดำเนินการ</option>
                                    <option>อนุมัติ</option>
                                    <option>ยุติสัญญา</option>
                                    <option>ปิดโครงการ</option>
                                    <option>ยกเลิก</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputYear">ประเภทกองทุน</label>
                                <input type="text" class="form-control" id="inputFund" placeholder="ชื่อเหรือรหัสกองทุน">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="inputYear">รหัสคู่สัญญา</label>
                                <input type="text" class="form-control" id="inputVendorID" placeholder="รหัสคู่สัญญา">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputYear">รหัสงบประมาณ</label>
                                <input type="text" class="form-control" id="inputBudgetID" placeholder="รหัสงบประมาณ">
                            </div>
                        </div>

                        <div class="row justify-content-md-center">
                            <div class="col-auto">
                                <button class="btn btn-primary loadding text-white mr-2" style="width:120px"> ตกลง </button>
                                <button class="btn btn-secondary loadding text-white" style="width:120px"> ยกเลิก </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
                @*<div class="col-md-7">
            <div class="bg-white"><canvas id="myChart"></canvas></div>
        </div>*@
                <div class="col-md-7">
                    <div class="card ">
                        <div class="card-header" style="background-color:aquamarine">
                            <div class="row">
                                <div class="col-6 p-0">
                                    <i class="fas fa-chart-bar "><span class="ml-1">การจัดทำสัญญา(<span class="badge badge-pill badge-dark">@_TotalCnt.ToString("N0")</span>)</span></i>
                                </div>
                                <div class="col-6 p-0">
                                    <p class="text-right mb-0">&nbsp;</p>
                                </div>
                            </div>
                        </div>
                        <div><canvas id="myChart" height="180"></canvas></div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </section>


    <br />
    <br />
    <section>
        <div class="">
            <div class="col-md-12">
                <div class="form-group m-1">
                    <div class="row">
                        <div class="col-6">
                            <h4>
                                <small><i class="fa fa-align-justify mr-1"></i>แสดงรายละเอียดข้อมูล</small>
                            </h4>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-hover table-bordered table-sm justify-content-center bg-white" style="font-size:14px;margin:auto">
                        <thead style="background-color: rgb(255, 205, 86,0.8)">
                            <tr style="height:50px;">
                                <th class="align-middle text-center">สำนัก/กองทุนย่อย/เขต</th>
                                <th class="align-middle text-center col-md-1">สัญญา</th>
                                <th class="align-middle text-center col-md-1">ข้อตกลง</th>
                                <th class="align-middle text-center col-md-1">หนังสือแสดงความจำนง</th>
                                <th class="align-middle text-center col-md-1">โครงการ</th>
                                @*<th class="align-middle text-center col-md-1">ขอลด</th>*@
                                <th class="align-middle text-center col-md-1">ทั้งหมด</th>
                                @*ต่ออายุ คืน เคลม/ยึด*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ContractReport01 != null && Model.ContractReport01.Count > 0)
                            {
                                foreach (var item in Model.ContractReport01)
                                {
                                    <tr class=" text-center">
                                        <td class="text-left">@($"{item.Dcode}_{item.DnameNew}")</td>
                                        <td><a onclick="showLoading()">@item.GroupType1Count</a></td>
                                        <td><a onclick="showLoading()">@item.GroupType2Count</a></td>
                                        <td><a onclick="showLoading()">@item.GroupType3Count</a></td>
                                        <td><a onclick="showLoading()">@item.GroupType4Count</a></td>
                                        <td>@item.SumByKetCount()</td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot class="txt_totalAll">
                            <tr class="align-middle text-center">
                                <td>รวม</td>
                                <td>@_T1Cnt</td>
                                <td>@_T2Cnt</td>
                                <td>@_T3Cnt</td>
                                <td>@_T4Cnt</td>
                                <td>@_TotalCnt</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>


}

<br />
<br />

@*<partial name="/Views/Shared/Layout/_DataDate.cshtml" />*@

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });

        var ctxdata1 = {
            labels: [
                'สัญญา',
                'ข้อตกลง',
                'หนังสือแสดงความจำนง',
                'โครงการ'
            ],
            datasets: [{
                label: 'ข้อมูลการจัดทำสัญญา',
                data: [@_T1Cnt, @_T2Cnt, @_T3Cnt, @_T4Cnt],
                backgroundColor: [
                    'rgb(255, 99, 132,0.8)',
                    'rgb(54, 162, 235,0.8)',
                    'rgb(238, 130, 238,0.8)',
                    'rgb(255, 205, 86,0.8)'

                ],
                hoverOffset: 4,
            }]

        }

        window.onload = function () {
            var ctx1 = document.getElementById('myChart').getContext('2d');
            window.mybar = new Chart(ctx1, {
                type: 'bar',
                data: ctxdata1,
                options: {
                    title: {
                        display: false,
                        text: 'Chart.js Bar Chart - Stacked'
                    },
                    chartArea: {
                        backgroundColor: 'rgba(251, 85, 85, 0.4)'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }

    </script>
}